@import url('/static/font/font.css');

:root {
    /* global */
    --web-background-color: white;
    --web-font-family: "Nanum Gothic", sans-serif;
    --web-font-size: 12px;
    --web-font-color: darkslategray;
    /* class */
    --web-panel-border: solid 1px #ddd;
    --web-box-border: solid 1px #ddd;
    --web-table-selected-background: #f7f7f7;
    --web-tab-item-border: solid 1px #ccc;
    --web-code-font-family: "Nanum Gothic Coding", monospace;
    --web-number-font-family: "Nanum Gothic Coding", monospace;
    --web-date-font-family: "Nanum Gothic Coding", monospace;
    /* color */
    --web-color--red: red;
    --web-color--green: limegreen;
    --web-color--blue: blue;
    --web-background-color--red: orangered;
    --web-background-color--green: mediumseagreen;
    --web-background-color--blue: deepskyblue;
    /* badge */
    --web-badge-line-height: 2.0em;
    --web-badge-border-radius: 0.5em;
    --web-badge-padding: 0.0em 0.75em;
    --web-badge-background-color: darkgray;
    --web-badge-font-color: white;
    /* tag */
    --web-tag-required-icon: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIEdlbmVyYXRvcjogU1ZHIFJlcG8gTWl4ZXIgVG9vbHMgLS0+DQo8c3ZnIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQogICAgPHRpdGxlPnRhZy1maWxsZWQ8L3RpdGxlPg0KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8ZyBpZD0iaWNvbiIgZmlsbD0iIzAwMDAwMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjQuMDAwMDAwLCA2NC4wMDAwMDApIj4NCiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOTIsMCBMNDA1LjMzMzMzMywyMTMuMzMzMzMzIEwyMTMuMzMzMzMzLDQwNS4zMzMzMzMgTDAsMTkyIEwwLDAgTDE5MiwwIFogTTk2LDY0IEM3OC4zMjY4ODgsNjQgNjQsNzguMzI2ODg4IDY0LDk2IEM2NCwxMTMuNjczMTEyIDc4LjMyNjg4OCwxMjggOTYsMTI4IEMxMTMuNjczMTEyLDEyOCAxMjgsMTEzLjY3MzExMiAxMjgsOTYgQzEyOCw3OC4zMjY4ODggMTEzLjY3MzExMiw2NCA5Niw2NCBaIiBpZD0iQ29tYmluZWQtU2hhcGUiPg0KDQo8L3BhdGg+DQogICAgICAgIDwvZz4NCiAgICA8L2c+DQo8L3N2Zz4=");
    --web-tag-system-required-icon: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIG9wYWNpdHk9IjAuMzQiIGQ9Ik0xMiAxNUMxMy42NTY5IDE1IDE1IDEzLjY1NjkgMTUgMTJDMTUgMTAuMzQzMSAxMy42NTY5IDkgMTIgOUMxMC4zNDMxIDkgOSAxMC4zNDMxIDkgMTJDOSAxMy42NTY5IDEwLjM0MzEgMTUgMTIgMTVaIiBzdHJva2U9IiMyOTJEMzIiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPg0KPHBhdGggZD0iTTIgMTIuODc5OVYxMS4xMTk5QzIgMTAuMDc5OSAyLjg1IDkuMjE5OTQgMy45IDkuMjE5OTRDNS43MSA5LjIxOTk0IDYuNDUgNy45Mzk5NCA1LjU0IDYuMzY5OTRDNS4wMiA1LjQ2OTk0IDUuMzMgNC4yOTk5NCA2LjI0IDMuNzc5OTRMNy45NyAyLjc4OTk0QzguNzYgMi4zMTk5NCA5Ljc4IDIuNTk5OTQgMTAuMjUgMy4zODk5NEwxMC4zNiAzLjU3OTk0QzExLjI2IDUuMTQ5OTQgMTIuNzQgNS4xNDk5NCAxMy42NSAzLjU3OTk0TDEzLjc2IDMuMzg5OTRDMTQuMjMgMi41OTk5NCAxNS4yNSAyLjMxOTk0IDE2LjA0IDIuNzg5OTRMMTcuNzcgMy43Nzk5NEMxOC42OCA0LjI5OTk0IDE4Ljk5IDUuNDY5OTQgMTguNDcgNi4zNjk5NEMxNy41NiA3LjkzOTk0IDE4LjMgOS4yMTk5NCAyMC4xMSA5LjIxOTk0QzIxLjE1IDkuMjE5OTQgMjIuMDEgMTAuMDY5OSAyMi4wMSAxMS4xMTk5VjEyLjg3OTlDMjIuMDEgMTMuOTE5OSAyMS4xNiAxNC43Nzk5IDIwLjExIDE0Ljc3OTlDMTguMyAxNC43Nzk5IDE3LjU2IDE2LjA1OTkgMTguNDcgMTcuNjI5OUMxOC45OSAxOC41Mzk5IDE4LjY4IDE5LjY5OTkgMTcuNzcgMjAuMjE5OUwxNi4wNCAyMS4yMDk5QzE1LjI1IDIxLjY3OTkgMTQuMjMgMjEuMzk5OSAxMy43NiAyMC42MDk5TDEzLjY1IDIwLjQxOTlDMTIuNzUgMTguODQ5OSAxMS4yNyAxOC44NDk5IDEwLjM2IDIwLjQxOTlMMTAuMjUgMjAuNjA5OUM5Ljc4IDIxLjM5OTkgOC43NiAyMS42Nzk5IDcuOTcgMjEuMjA5OUw2LjI0IDIwLjIxOTlDNS4zMyAxOS42OTk5IDUuMDIgMTguNTI5OSA1LjU0IDE3LjYyOTlDNi40NSAxNi4wNTk5IDUuNzEgMTQuNzc5OSAzLjkgMTQuNzc5OUMyLjg1IDE0Ljc3OTkgMiAxMy45MTk5IDIgMTIuODc5OVoiIHN0cm9rZT0iIzI5MkQzMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4=");
}

/* dark mode */
:root.dark-mode {

}

/* body */
body {
    background-color: var(--web-background-color);
    font-family: var(--web-font-family);
    font-size: var(--web-font-size);
    color: var(--web-font-color);
}

/* panel */
.panel {
    display: flex;
    flex-direction: column;
    gap: 1px;
    border: var(--web-panel-border);
    box-sizing: border-box;
    padding: 1.5rem 2rem;
}
.panel-title {
    display: flex;
    gap: 1rem;
}
.panel-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media screen and (max-width: 1023px) {
    .panel {
        padding: 1rem;
    }
}

/* dialog */
.dialog {
    padding: 2rem 2rem;
}
.dialog-title {
    display: flex;
    gap: 1rem;
}
.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* link */
.link {
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}

/* tab */
.tab {
    display: flex;
    justify-content: flex-start;
    gap: 1px;
    overflow: auto;
}
.tab-item {
    border: var(--web-tab-item-border);
    border-bottom: none;
    border-radius: .25rem .25rem 0 0;
    padding: 0.2rem 1rem;
    white-space: nowrap;
}

/* box */
.box {
    border: var(--web-box-border);
}

/* table */
.table {
}
.table.scrollable {
    border: none;
}
.table.scrollable > thead {
    position: sticky;
    top: 0;
}
.table > tbody > tr.selected{
    background-color: var(--web-table-selected-background);
}

/* icon */
.icon {
    height: 1.0em;
    vertical-align: middle;
}
.icon--circle {
    border-radius: 50%;
}

/* code */
.code {
    font-family: var(--web-code-font-family);
}

/* number */
.number {
    font-family: var(--web-number-font-family);
}

/* date */
.date {
    font-family: var(--web-date-font-family);
}

/* button */
.button:has(img.icon) > span {
    margin-right: 0.5rem;
}
.button.locked {
    pointer-events: none;
    opacity: 0.5;
    position:relative;
}
.button.locked::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA00lEQVR4nMWSvQ3CUAyEvwKoyAbAHgiQGCBr8DMPipQJIBmBZQIFScEGpAKdZAqe/EgaxDWW/Ox7Z5/hB1gBJdAALVADBbDoahwAOVABG2BiOcUtcAEyy7nIgSeQRt7HwNlIXNmVNd+BdYQkAa7eOKXJxpq/keyAU5hsbFZ6kMxssR9ogVGQi5Go7uEpmDq/eSRScAsLC7OKHiTawTEsWpoLSQdJavcw94oy8zlGktqdHCLv6MJEIp8lUzsZWtzbz2qOXuIbOhL5rEXJHUXN7Mr+P17xbTARxXqiZgAAAABJRU5ErkJggg==');
}

/* badge */
.badge {
    display: inline-block;
    text-align: center;
    font-size: smaller;
    font-weight: 600;
    white-space: nowrap;
    vertical-align: baseline;
    line-height: var(--web-badge-line-height);
    border-radius: var(--web-badge-border-radius);
    padding: var(--web-badge-padding);
    background-color: var(--web-badge-background-color);
    color: var(--web-badge-font-color);
}

/* tag */
.tag-required:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 1em;
    width: 1em;
    background-size: 1em 1em;
    background-image: var(--web-tag-required-icon);
    background-repeat: no-repeat;
    background-position-x: center;
    margin-left: 0.2em;
}
.tag-system-required:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 1em;
    width: 1em;
    background-size: 1em 1em;
    background-image: var(--web-tag-system-required-icon);
    background-repeat: no-repeat;
    background-position-x: center;
    margin-left: 0.2em;
}

/* color */
.color--red {
    color: var(--web-color--red);
}
.color--green {
    color: var(--web-color--green);
}
.color--blue {
    color: var(--web-color--blue);
}

/* background-color */
.background-color--red {
    background-color: var(--web-background-color--red);
}
.background-color--green {
    background-color: var(--web-background-color--green);
}
.background-color--blue {
    background-color: var(--web-background-color--blue);
}

