:root {
    /* global */
    --web-background-color: white;
    --web-font-size: 12px;
    --web-line-height: 2rem;
    --web-font-color: darkslategray;
    --web-font-family: sans-serif;
    /* element(input,select...) */
    --web-element-border: solid 1px lightgray;
    --web-element-border-radius: 1px;
    --web-element-focus-border: solid 1px black;
    /* select */
    --web-select-icon: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='10' height='10' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='darkgray'/></g></svg>");
    /* button */
    --web-button-border: solid 1px darkgray;
    --web-button-border-radius: 1px;
    --web-button-background-color: #f7f7f7;
    --web-button-hover-border: solid 1px #000;
    --web-button-hover-background-color: #efefef;
    /* table */
    --web-table-header-border: solid 1px #ccc;
    --web-table-header-background-color: #f7f7f7;
    --web-table-body-border: dotted 1px #ccc;
    --web-table-body-background-color: transparent;
    --web-table-body-hover-background-color: #f7f7f7;
    /* dialog */
    --web-dialog-border: solid 1px gray;
}

/* global */
html {
    font-size: var(--web-font-size);
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--web-background-color);
    font-family: var(--web-font-family);
    color: var(--web-font-color);
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: var(--web-line-height);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

/* heading */
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1.0rem;
}

a {
    text-decoration: none;
}

/* input */
input {
    border: var(--web-element-border);
    border-radius: var(--web-element-border-radius);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
input:focus {
    outline: 0;
    border: var(--web-element-focus-border);
}

/* textarea */
textarea {
    border: var(--web-element-border);
    border-radius: var(--web-element-border-radius);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    white-space: pre-line;
    overflow-y: auto;
    resize: none;
}
textarea:focus {
    outline: 0;
    border: var(--web-element-focus-border);
}

/* select */
select {
    appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: var(--web-element-border);
    border-radius: var(--web-element-border-radius);
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    background-color: inherit;
    background-image: var(--web-select-icon);
    background-repeat: no-repeat;
    background-position: right 0.2rem center;
}
select:focus {
    outline: 0;
    border: var(--web-element-focus-border);
}

/* button */
button {
    display: inline-block;
    cursor: pointer;
    border: var(--web-button-border);
    border-radius: var(--web-button-border-radius);
    background-color: var(--web-button-background-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    white-space: nowrap;
}
button:has(img.icon) > span {
    margin-right: 0.5rem;
}
button:hover:not([disabled]) {
    border: var(--web-button-hover-border);
    background-color: var(--web-button-hover-background-color);
}
button:disabled {
    pointer-events: none;
    opacity: 0.5;
}
button.tab {
    border-bottom: none;
}
button.tab:hover {
    border-bottom: none;
}
button.tab:focus {
    border-bottom: none;
}

/* table */
table {
    table-layout: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: var(--web-element-border);
}
table thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
table thead tr th {
    border-right: var(--web-table-header-border);
    border-bottom: var(--web-table-header-border);
    background-color: var(--web-table-header-background-color);
    font-weight: bold;
    padding: 2px 0.5rem;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
table thead tr th:last-of-type {
    border-right: none;
}
table tbody tr:hover {
    background-color: var(--web-table-body-hover-background-color);
}
table tbody tr.selected {
    background-color: var(--web-table-body-hover-background-color);
}
table tbody tr td {
    border-right: var(--web-table-body-border);
    border-bottom: var(--web-table-body-border);
    background-color: var(--web-table-body-background-color);
    padding: 2px 0.5rem;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
table tbody tr td:last-of-type {
    border-right: none;
}
table tbody tr:last-of-type td {
    border-bottom: none;
}
table thead th:has(button,input,select,textarea,table),
table tbody td:has(button,input,select,textarea,table) {
    padding: 1px;
}

/* dialog */
dialog {
    border: var(--web-dialog-border);
}

/* hr */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    margin: 1px;
}

/* container */
.container {
    display: grid;
    /*grid-template-columns: repeat(12,minmax(0,1fr));*/
    grid-template-columns: repeat(12,1fr);
}
.container.gap-1px {
    grid-gap: 1px;
}
.container.gap-1rem {
    grid-gap: 1rem;
}
.container.gap-1em {
    grid-gap: 1em;
}
.container.gap-row-1px {
    grid-row-gap: 1px;
}
.container.gap-row-1rem {
    grid-row-gap: 1rem;
}
.container.gap-row-1em {
    grid-row-gap: 1em;
}
.container.gap-column-1px {
    grid-column-gap: 1px;
}
.container.gap-column-1rem {
    grid-column-gap: 1rem;
}
.container.gap-column-1em {
    grid-column-gap: 1em;
}
.container > .col-0 {
    display: none;
}
.container > .col-1 {
    grid-column: span 1;
}
.container > .col-2 {
    grid-column: span 2;
}
.container > .col-3 {
    grid-column: span 3;
}
.container > .col-4 {
    grid-column: span 4;
}
.container > .col-5 {
    grid-column: span 5;
}
.container > .col-6 {
    grid-column: span 6;
}
.container > .col-7 {
    grid-column: span 7;
}
.container > .col-8 {
    grid-column: span 8;
}
.container > .col-9 {
    grid-column: span 9;
}
.container > .col-10 {
    grid-column: span 10;
}
.container > .col-11 {
    grid-column: span 11;
}
.container > .col-12 {
    grid-column: span 12;
}
@media screen and (max-width: 1023px) {
    .container > .col-s-0 {
        display: none;
    }
    .container > .col-s-1 {
        grid-column: span 1;
    }
    .container > .col-s-2 {
        grid-column: span 2;
    }
    .container > .col-s-3 {
        grid-column: span 3;
    }
    .container > .col-s-4 {
        grid-column: span 4;
    }
    .container > .col-s-5 {
        grid-column: span 5;
    }
    .container > .col-s-6 {
        grid-column: span 6;
    }
    .container > .col-s-7 {
        grid-column: span 7;
    }
    .container > .col-s-8 {
        grid-column: span 8;
    }
    .container > .col-s-9 {
        grid-column: span 9;
    }
    .container > .col-s-10 {
        grid-column: span 10;
    }
    .container > .col-s-11 {
        grid-column: span 11;
    }
    .container > .col-s-12 {
        grid-column: span 12;
    }
}
.container > .justify-left {
    justify-self: left;
}
.container > .justify-center {
    justify-self: center;
}
.container > .justify-right {
    justify-self: right;
}

/* flex */
.flex {
    display: flex;
    display: -ms-flexbox;
}
.flex.wrap {
    flex-wrap: wrap;
}
.flex.gap-1px {
    gap: 1px;
}
.flex.gap-1rem {
    gap: 1rem;
}
.flex.gap-1em {
    gap: 1em;
}
.flex.justify-content-start {
    justify-content: flex-start;
}
.flex.justify-content-center {
    justify-content: center;
}
.flex.justify-content-end {
    justify-content: flex-end;
}
.flex.justify-content-between {
    justify-content: space-between;
}
.flex.justify-content-around {
    justify-content: space-around;
}
.flex.justify-content-evenly {
    justify-content: space-evenly;
}
.flex.align-items-start {
    align-items: flex-start;
}
.flex.align-items-center {
    align-items: center;
}
.flex.align-items-end {
    align-items: flex-end;
}

/* border */
.border-0 {
    border: none;
}
.border-1 {
    border: var(--web-element-border);
}
.border-top-1 {
    border-top: var(--web-element-border);
}
.border-bottom-1 {
    border-bottom: var(--web-element-border);
}
.border-left-1 {
    border-left: var(--web-element-border);
}
.border-right-1 {
    border-right: var(--web-element-border);
}

/* text-align */
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}

/* padding */
.padding-1px {
    padding: 1px;
}
.padding-1rem {
    padding: 1rem;
}
.padding-1em {
    padding: 1em;
}
.padding-top-1px {
    padding-top: 1px;
}
.padding-top-1rem {
    padding-top: 1rem;
}
.padding-top-1em {
    padding-top: 1em;
}
.padding-right-1px {
    padding-right: 1px;
}
.padding-right-1rem {
    padding-right: 1rem;
}
.padding-right-1em {
    padding-right: 1em;
}
.padding-bottom-1px {
    padding-bottom: 1px;
}
.padding-bottom-1rem {
    padding-bottom: 1rem;
}
.padding-bottom-1em {
    padding-bottom: 1em;
}
.padding-left-1px {
    padding-left: 1px;
}
.padding-left-1rem {
    padding-left: 1rem;
}
.padding-left-1em {
    padding-left: 1em;
}

/* margin */
.margin-1px {
    margin: 1px;
}
.margin-1rem {
    margin: 1rem;
}
.margin-1em {
    margin: 1em;
}
.margin-top-1px {
    margin-top: 1px;
}
.margin-top-1rem {
    margin-top: 1rem;
}
.margin-top-1em {
    margin-top: 1em;
}
.margin-right-1px {
    margin-right: 1px;
}
.margin-right-1rem {
    margin-right: 1rem;
}
.margin-right-1em {
    margin-right: 1em;
}
.margin-bottom-1px {
    margin-bottom: 1px;
}
.margin-bottom-1rem {
    margin-bottom: 1rem;
}
.margin-bottom-1em {
    margin-bottom: 1em;
}
.margin-left-1px {
    margin-left: 1px;
}
.margin-left-1rem {
    margin-left: 1rem;
}
.margin-left-1em {
    margin-left: 1em;
}

/* font */
.font-weight-bold {
    font-weight: 700 !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.font-weight-light {
    font-weight: 300 !important;
}
.font-style-italic {
    font-style: italic !important;
}
.font-size-smaller {
    font-size: smaller;
}

/* width */
.width-25 {
    width: 25%;
}
.width-50 {
    width: 50%;
}
.width-75 {
    width: 75%;
}
.width-100 {
    width: 100%;
}

/* height */
.height-25 {
    height: 25%;
}
.height-50 {
    height: 50%;
}
.height-75 {
    height: 75%;
}
.height-100 {
    height: 100%;
}

/* overflow */
.overflow-auto {
    overflow: auto;
}
.overflow-scroll {
    overflow: scroll;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-y-scroll {
    overflow-y: scroll;
}
.overflow-y-hidden {
    overflow-y: hidden;
}
.overflow-x-auto {
    overflow-x: auto;
}
.overflow-x-scroll {
    overflow-x: scroll;
}
.overflow-x-hidden {
    overflow-x: hidden;
}

/* icon */
.icon {
    height: 1.2em;
    vertical-align: sub;
}

/* etc */
.link {
    cursor: pointer;
}

/* tag */
.tag-required:after {
    font-size: smaller;
    font-weight: bold;
    color: steelblue;
    content: ' # '
}
.tag-system:after {
    font-size: smaller;
    font-weight: bold;
    color: steelblue;
    content: ' # '
}

