<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web_headless.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        /**
         * goto login
         */
        const gotoLogin = function() {
            document.location.href = [[@{/login}]];
        }
    </script>
    <th:block th:replace="|_theme/${_theme}/join/_join.html|"/>
    <th:block layout:fragment="_join_content"/>
</th:block>

