<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web-headless.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const join = new duice.ObjectProxy({
            userId: null,
            email: null,
            answer: null
        });
        duice.ObjectProxy.onPropertyChanging(join, async event => {
            if(event.getProperty() === 'userId') {
                if(!await validateUserId(event.getValue())) {
                    duice.ObjectProxy.focus(join, 'userId');
                    return false;
                }
            }
            return true;
        });

        const validateUserId = async function(userId) {
            if(_isEmpty(userId)) {
                await _alert([[#{web.global.itemEmpty(#{web.join.join.userId})}]]);
                duice.ObjectProxy.focus(join, 'userId');
                return false;
            }

            let url = new URL(`${_apiUrl}/v1/join/validate-user-id/${userId}`, document.location.origin);
            let response = await _fetch(url, {}, true);
            if(response.ok) {
                return true;
            }else {
                await _alert([[#{web.global.itemAlreadyExist(#{web.join.join.userId})}]]);
                duice.ObjectProxy.focus(join, 'userId');
                return false;
            }
        }

        const validateEmail = async function() {
            if(_isEmpty(join.email)) {
                await _alert([[#{web.global.itemEmpty(#{web.join.join.email})}]]);
                duice.ObjectProxy.focus(join, 'email');
                return false;
            }

            if(!_isEmailFormat(join.email)) {
                await _alert([[#{web.global.itemInvalidFormat(#{web.join.join.email})}]]);
                duice.ObjectProxy.focus(join, 'email');
                return false;
            }

            let url = new URL(`${_apiUrl}/v1/join/validate-email/${join.email}`, document.location.origin);
            let response = await _fetch(url, {}, true);
            if(response.ok) {
                await _alert([[#{web.join.join.validateEmailComplete}]])
                return true;
            }else {
                let json = await response.json();
                await _alert(json.message);
                duice.ObjectProxy.focus(join, 'email');
                return false;
            }
        }

        const validateEmailAnswer = async function() {

            if(_isEmpty(join.email)) {
                await _alert([[#{web.global.itemEmpty(#{web.join.join.email})}]]);
                return false;
            }

            if(_isEmpty(join.answer)) {
                await _alert([[#{web.global.itemEmpty(#{web.join.join.answer})}]]);
                return false;
            }

            let url = new URL(`${_apiUrl}/v1/join/validate-email/${join.email}/answer/${join.answer}`, document.location.origin);
            let response = await _fetch(url, {}, true);
            if(response.ok) {
                return true;
            }else {
                let json = await response.json();
                await _alert(json.message);
                return false;
            }
        }

        const validatePassword = async function() {
            if(_isEmpty(join.password)) {
                await _alert([[#{web.global.itemEmpty(#{web.join.join.password})}]]);
                duice.ObjetProxy.focus(join, 'password');
                return false;
            }

            if(!_isPasswordFormat(join.password)) {
                await _alert([[#{web.global.itemInvalidFormat(#{web.join.join.password})}]]);
                join.password = null;
                join.passwordConfirm = null;
                duice.ObjectProxy.focus(join, 'password');
                return false;
            }

            if(join.password !== join.passwordConfirm) {
                await _alert([[#{web.global.itemNotMatch(#{web.join.join.password})}]]);
                join.password = null;
                join.passwordConfirm = null;
                duice.ObjectProxy.focus(join, 'password');
                return false;
            }

            // default true
            return true;
        }

        const requestJoin = async function() {
            if(!await validateUserId(join.userId)) {
                return false;
            }

            if(!await validatePassword()) {
                return false;
            }

            let url = new URL(`${_apiUrl}/v1/join`, document.location.origin);
            _fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(join)
            }).then(response => {
                if(response.ok) {
                    document.location.href = [[@{/login}]];
                }
            });
        }

    </script>
    <th:block th:replace="|_theme/${_theme}/join/join.html|"/>
</th:block>
