:root {
    /* global */
    --duice-background-color: white;
    --duice-color: black;
    --duice-font-family: sans-serif;
    --duice-font-size: 0.75rem;
    --duice-line-height: 200%;
    /* element */
    --duice-element-border: solid 1px #ccc;
    --duice-element-border-radius: 1px;
    --duice-element-padding: 0.0625rem 0.5rem;
    --duice-element-focus-border: solid 1px black;
    /* table */
    --duice-table-border: solid 1px #ccc;
    --duice-table-th-border: solid 1px #ccc;
    --duice-table-td-border: dotted 1px #ccc;
    --duice-table-header-color: #fefefe;
    /* select */
    --duice-select-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaklEQVR4nO2QMQ6AMAhFu6hXY+hn66Yrh7Omung/Q1wakw5NSVx4CRPwfiAEx3H+I8a4AcgiMrVmtMfMO4C1O0CXARQANxEtvf2hELGQt2TyvuU0kdchKq3qSinNJvLPJZmZD3O54zhhiAdheTXMKGeedwAAAABJRU5ErkJggg==");
    /* button */
    --duice-button-border: solid 1px #ccc;
    --duice-button-border-radius: 1px;
    --duice-button-border-hover: solid 1px #000;
    --duice-button-background-color: #fefefe;
    --duice-button-background-color-hover: #efefef;
    /* dialog */
    --duice-dialog-border: solid 1px #777;
}
:root.dark {
    --duice-color-scheme: dark;
    /* global */
    --duice-background-color: #222;
    --duice-color: #eee;
    /* element */
    --duice-element-border: solid 1px #444;
    --duice-element-focus-border: solid 1px #eee;
    /* table */
    --duice-table-border: solid 1px #444;
    --duice-table-header-color: #333;
    /* select */
    --duice-select-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAZ0lEQVR4nO2NMQqAMAxFu6iX1AtasS72BP9vGXMgEXUpdCgNuORBhvCT90NwHOc/SC4AoogMtZs7A7ACmJsL3ued5JlznlrzrhKxkNdk8uzJRF6UpG9IHqo6msiLkkhyM5c7jhO6uADt4GstrvvuOQAAAABJRU5ErkJggg==");
    /* button */
    --duice-button-border: solid 1px #555;
    --duice-button-background-color: #333;
    --duice-button-background-color-hover: #444;
    /* dialog */
    --duice-dialog-border: solid 1px #ccc;
}

/* global */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--duice-background-color);
    color: var(--duice-color);
    font-family: var(--duice-font-family);
    font-size: var(--duice-font-size);
    line-height: var(--duice-line-height);
}
html * {
    color-scheme: var(--duice-color-scheme);
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
html *:focus {
    outline: 0;
    border: var(--duice-element-focus-border);
}
body {
    margin: 1px;
    overflow-y: scroll;
}
h1 {
    font-size: calc(var(--duice-font-size) * 2.0);
    margin: 1px;
}
h2 {
    font-size: calc(var(--duice-font-size) * 1.8);
    margin: 1px;
}
h3 {
    font-size: calc(var(--duice-font-size) * 1.6);
    margin: 1px;
}
h4 {
    font-size: calc(var(--duice-font-size) * 1.4);
    margin: 1px;
}
h5 {
    font-size: calc(var(--duice-font-size) * 1.2);
    margin: 1px;
}
h6 {
    font-size: calc(var(--duice-font-size) * 1.0);
    margin: 1px;
}
small {
    font-size: smaller;
}

/* hr */
hr {
    margin: 1px;
    border: none;
    border-bottom: solid 1px #ccc;
}

/* table */
table {
    border-spacing: 0;
    border: var(--duice-table-border);
    width: 100%;
}
table tr th {
    background-color: var(--duice-table-header-color);
    border: var(--duice-table-th-border);
    border-top-width: 0;
    border-left-width: 0;
    padding: 3px 0.5rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: left;
}
table tr th:last-of-type {
    border-right-width: 0;
}
table tr th:has(button,input,select,textarea,table) {
    padding: 0;
}
table tr td {
    border: var(--duice-table-td-border);
    border-top-width: 0;
    border-left-width: 0;
    padding: 3px 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
table tr td:last-of-type {
    border-right-width: 0;
}
table tr:last-of-type td,
table tr:has(+ tr[hidden]) td,
table tr:has(+ tr[style*="display:none"]) {
    border-bottom-width: 0;
}
table tr td:has(button,input,select,textarea,table) {
    padding: 0;
}
table thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
table tfoot {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}
table tfoot tr:first-of-type td {
    border-top: var(--duice-table-td-border);
}

/* input */
input {
    border: var(--duice-element-border);
    border-radius: var(--duice-element-border-radius);
    padding: var(--duice-element-padding);
    height: inherit;
    line-height: inherit;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* select */
select {
    border: var(--duice-element-border);
    border-radius: var(--duice-element-border-radius);
    padding: var(--duice-element-padding);
    appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: var(--duice-select-img);
    background-repeat: no-repeat;
    background-position: right 0.2rem center;
    background-size: 1rem;
    padding-right:2em;
}

/* textarea */
textarea {
    border: var(--duice-element-border);
    border-radius: var(--duice-element-border-radius);
    padding: var(--duice-element-padding);
    width: 100%;
    line-height: 150%;
    white-space: pre-line;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    resize: none;
}

/* button */
button {
    border: var(--duice-button-border);
    border-radius: var(--duice-button-border-radius);
    background-color: var(--duice-button-background-color);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
}
button:has(img) span {
    margin-right: 1rem;
}
button:hover:not([disabled]) {
    background-color: var(--duice-button-background-color-hover);
    border: var(--duice-button-border-hover);
}
button:disabled {
    pointer-events: none;
    opacity: 0.5;
}
button.tab {
    border-bottom: none;
}
button.tab:hover {
    border-bottom: none;
}
button.tab:focus {
    border-bottom: none;
}


/* img */
img {
    vertical-align: middle;
}

/* ul */
ul {
    text-align: left;
}

/* dialog */
dialog {
    border: var(--duice-dialog-border);
}


/* grid layout */
.container {
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.row.left {
    justify-content: flex-start;
}
.row.center {
    justify-content: center;
}
.row.right {
    justify-content: flex-end;
}
.row.top {
    align-items: flex-start;
}
.row.middle {
    align-items: center;
}
.row.bottom {
    align-items: flex-end;
}
.row > * {
    border: none;
}
.col {
    padding: 1px;
}
.col-1 {
    width: 8.333333%;
    padding: 1px;
}
.col-2 {
    padding: 1px;
    width: 16.666667%;
}
.col-3 {
    padding: 1px;
    width: 25%;
}
.col-4 {
    padding: 1px;
    width: 33.333333%;
}
.col-5 {
    padding: 1px;
    width: 41.666667%;
}
.col-6 {
    padding: 1px;
    width: 50%;
}
.col-7 {
    padding: 1px;
    width: 58.333333%;
}
.col-8 {
    padding: 1px;
    width: 66.666667%;
}
.col-9 {
    padding: 1px;
    width: 75%;
}
.col-10 {
    padding: 1px;
    width: 83.333333%;
}
.col-11 {
    padding: 1px;
    width: 91.666667%;
}
.col-12 {
    padding: 1px;
    width: 100%;
}

/* border */
.b-none {
    border: none;
}

/* font */
.fw-bold {
    font-weight: 700 !important;
}
.fw-normal {
    font-weight: 400 !important;
}
.fw-light {
    font-weight: 300 !important;
}
.fs-italic {
    font-style: italic !important;
}

/* text */
.ta-left {
    text-align: left;
}
.ta-center {
    text-align: center;
}
.ta-right {
    text-align: right;
}

/* width */
.w-100 {
    width: 100%;
}

/* etc */
.link {
    cursor: pointer;
}
.icon {
    height: calc(var(--duice-font-size) * 2);
    vertical-align: middle;
}


