<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/nprogress/nprogress.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/nprogress/nprogress.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/duice/duice.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/web.js?version={version}(version=${_scriptVersion})}"></script>
</head>
<body>
    <th:block th:replace="|_theme/${_theme}/error/_error.html|"/>
    <th:block layout:fragment="_main"/>
</body>
</html>
