<main>
    <div id="login" class="border-1">
        <h1 class="text-align-center margin-bottom-1em">
            <img class="icon" th:src="@{/static/_theme/{_theme}/image/logo-arch4j.png(_theme=${_theme})}"/>
        </h1>
        <form onsubmit="return false;" class="grid grid-template-columns-12 grid-gap-1em">
            <div class="grid-column-12">
                <input type='text' data-duice-bind="login" data-duice-property="username" th:placeholder="#{core.user.User.userId}" class="width-100 text-align-center font-weight-bold"/>
            </div>
            <div class="grid-column-12">
                <input type='password' data-duice-bind="login" data-duice-property='password' th:placeholder="#{core.user.User.password}" class="width-100 text-align-center"/>
            </div>
            <div class="grid-column-6">
                <label>
                    <input type="checkbox"/>
                    <span>Remember Me</span>
                </label>
            </div>
            <div class="grid-column-6 flex justify-content-flex-end align-items-center">
                <img class="icon dark-mode-switch" onclick="_toggleDarkMode();"/>
                &nbsp;
                <img th:src="@{/static/image/icon-language.svg}" class="icon"/>
                <select onchange="_changeLanguage(this.value);">
                    <option>- language -</option>
                    <option th:each="locale : ${_locales}" th:value="${locale.language}" th:text="${locale.displayLanguage}" th:selected="${locale.language == _locale.language}"></option>
                </select>
            </div>
            <div class="grid-column-12">
                <button onclick="processLogin();" class="width-100">
                    <img class="icon" th:src="@{/static/image/icon-login.svg}">
                    <span data-th-text="#{web.global.login}"></span>
                </button>
            </div>
            <div class="grid-column-12 flex justify-content-center">
                <span data-duice-bind="login" data-duice-property="message"></span>
            </div>
            <div class="grid-column-12 display-none">
                <button onclick="gotoJoin();">
                    Join Member
                </button>
                <button href="#" onclick="">
                    Forget Password
                </button>
            </div>
        </form>
        <hr class="margin-x-1em"/>
        <div class="grid grid-template-columns-12 grid-gap-1em">
            <div class="grid-column-12">
                <button onclick="loginWithGoogle();">
                    <img class="icon" th:src="@{/static/image/icon-brand-google.svg}"/>
                    <span>Login with Google</span>
                </button >
            </div>
        </div>
    </div>
</main>