<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/_user.html">
<th:block layout:fragment="_user_content">
    <script th:inline="javascript">
        const changePassword = new duice.ObjectProxy({
            currentPassword: null,
            newPassword: null,
            newPasswordConfirm: null
        });

        const requestChangePassword = async function() {
            if(_isEmpty(changePassword.currentPassword)) {
                await _alert([[#{web.global.itemEmpty(#{web.user.changePassword.currentPassword})}]]);
                duice.ObjectProxy.focus(changePassword, 'currentPassword');
                return false;
            }

            if(_isEmpty(changePassword.newPassword)) {
                await _alert([[#{web.global.itemEmpty(#{web.user.changePassword.newPassword})}]]);
                duice.ObjectProxy.focus(changePassword, 'newPassword');
                return false;
            }

            if(changePassword.newPassword !== changePassword.newPasswordConfirm) {
                await _alert([[#{web.global.itemNotMatch(#{web.user.changePassword.newPassword})}]]);
                duice.ObjectProxy.focus(changePassword, 'newPassword');
                return false;
            }

            if(await _confirm([[#{web.user.changePassword.changePasswordConfirm}]])) {
                let url = new URL(`${_apiUrl}/v1/user/${_user.userId}/password`, document.location.origin);
                _fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(changePassword)
                }).then(response => {
                    if(response.ok) {
                        _alert([[#{web.user.changePassword.changePasswordComplete}]]).then(()=>{
                            duice.ObjectProxy.clear(changePassword);
                        });
                    }
                });
            }
        }
    </script>
    <th:block th:replace="|_theme/${_theme}/user/change-password.html|"/>
</th:block>
