<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/_user.html">
<th:block layout:fragment="_user_content">
    <script th:inline="javascript">
        const user = new duice.ObjectProxy({});
        duice.ObjectProxy.setReadonly(user, 'userId', true);
        duice.ObjectProxy.setReadonly(user, 'type', true);
        duice.ObjectProxy.setReadonly(user, 'status', true);
        duice.ObjectProxy.setReadonly(user, 'joinAt', true);

        const getCurrentUser = function() {
            let url = new URL(`${_apiUrl}/v1/user/${_user.userId}`, document.location.origin);
            _fetch(url, {
                method: 'GET'
            }).then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(user, data);
                });
        }

        const saveCurrentUser = async function() {
            if(await _confirm([[#{web.user.user.saveCurrentUserConfirm}]])) {
                let url = new URL(`${_apiUrl}/v1/user/${_user.userId}`, document.location.origin);
                _fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(user)
                }).then(response => response.json()).then(data => {
                    _alert([[#{web.user.user.saveCurrentUserComplete}]]).then(()=>{
                        duice.ObjectProxy.assign(user, data);
                    });
                });
            }
        }

        const gotoChangePassword = function() {
            document.location.href = [[@{/user/change-password}]];
        }

        document.addEventListener('DOMContentLoaded', ()=>{
            getCurrentUser();
        });

    </script>
    <th:block th:replace="|_theme/${_theme}/user/user.html|"/>
</th:block>
