<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const pageId = [[${page.pageId}]];
        const page = new duice.ObjectProxy({});

        const getPage = function() {
            let url = new URL(`${_apiUrl}/v1/page/${pageId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(page);
                    duice.ObjectProxy.assign(page, data);
                });
        }

        const initializeWidget = function(iframe) {
            iframe.contentDocument.addEventListener('DOMSubtreeModified', function(){
                let height = iframe.contentWindow.document.body.scrollHeight;
                iframe.style.height = height + 'px';
            });
        }

        document.addEventListener('DOMContentLoaded', event => {
            getPage();
        });

    </script>
    <th:block th:replace="|_theme/${_theme}/page/page.html|"/>
</th:block>
