<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">

        /**
         * initialize widget
         * @param iframe
         */
        const initializeWidget = function(iframe) {
            iframe.contentDocument.addEventListener('DOMSubtreeModified', function(){
                let height = iframe.contentWindow.document.body.scrollHeight;
                iframe.style.height = height + 'px';
            });
        }

    </script>
    <th:block th:replace="|theme/${_theme}/page/page.html|"/>
</main>
