<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_home.html">
<main layout:fragment="_main">
    <script>
        const boardId = '[[${board.id}]]';
        const articleId = '[[${param.id}]]';
        const article = new duice.ObjectProxy({});
        const comments = new duice.ArrayProxy([]);
        const comment = new duice.ObjectProxy({});

        /**
         * get article
         */
        function getArticle() {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                });
        }

        /**
         * get comments
         */
        function getComments() {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(comments);
                    duice.ArrayProxy.assign(comments, data);
                });
        }

        /**
         * add article comment
         * @param parentId
         */
        function addComment(parentId) {
            duice.ObjectProxy.clear(comment);
            comment.parentId = parentId;
            comments.push(comment);
        }

        /**
         * save article comment
         */
        function saveComment(){
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment`, document.location.origin);
            _fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(comment)
            }).then(response => {
                if(response.ok) {
                    duice.ObjectProxy.clear(comment);
                    getComments();
                }
            })
        }

        /**
         * goto article edit
         */
        function gotoEdit() {
            document.location.href = `[[@{/}]]board/${boardId}/article-post?id=${articleId}`;
        }

        /**
         * goto list
         */
        function gotoList() {
            document.location.href = `[[@{/}]]board/${boardId}`;
        }

        // onload
        document.addEventListener('DOMContentLoaded', event => {
            getArticle();
            getComments();
        });
    </script>
    <th:block th:replace="|theme/${_theme}/board/${board.skin}/article-read.html|"/>
</main>
