<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script>
        const boardId = '[[${board.id}]]';
        const articleId = '[[${param.id}]]';
        const article = new duice.ObjectProxy({
            files:[]
        });

        /**
         * get article
         * @param articleId
         */
        function getArticle(articleId) {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                });
        }

        /**
         * save article
         */
        function saveArticle() {
            _confirm('[[#{web.message.saveItemConfirm(#{core.article})}]]').then(result => {
                if(result) {
                    let url = new URL(`${_apiUrl}/v1/board/${boardId}/article`, document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(article)
                    }).then(response => {
                        if(response.ok) {
                            history.back();
                        }
                    })
                }
            });
        }

        function deleteArticle() {
            alert('delete');
        }

        /**
         * upload file
         */
        function uploadFile() {
            let input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.addEventListener('change', function() {
                let formData = new FormData();
                formData.append("file", this.files[0]);
                let url = new URL(`${_apiUrl}/v1/file`, document.location.origin);
                _fetch(url, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    article.files.push(data);
                });
            });
            input.click()
        }

        /**
         * goto cancel
         */
        function gotoCancel() {
            history.back();
        }

        // onload
        document.addEventListener('DOMContentLoaded',() => {
            if(articleId) {
                getArticle(articleId);
            }
        });
    </script>
    <th:block th:replace="|theme/${_theme}/board/${board.skin}/article-post.html|"/>
</main>
