<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        const boardId = [[${board.boardId}]];
        const articleId = [[${param.articleId}]];
        const article = new duice.ObjectProxy({
            files:[]
        });
        const articleComments = new duice.ArrayProxy([]);
        const articleComment = new duice.ObjectProxy({});

        /**
         * get article
         */
        function getArticle() {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                });
        }

        /**
         * get comments
         */
        function getArticleComments() {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(articleComments);
                    duice.ArrayProxy.assign(articleComments, data);
                });
        }

        /**
         * is child article comment
         * @param articleComment
         * @returns {boolean}
         */
        function isChildArticleComment(articleComment) {
            if(articleComment.parentCommentId) {
                return true;
            }
            return false;
        }

        /**
         * can edit article comment
         * @param articleComment
         * @returns {boolean}
         */
        function canEditArticleComment(articleComment) {
            // anonymous writer
            if(!articleComment.userId) {
                return true;
            }
            // authenticated writer
            else{
                // login status
                if(_isAuthenticated) {
                    if(articleComment.userId === _user.userId) {
                        return true;
                    }else{
                        return false;
                    }
                }else{
                    return false;
                }
            }
        }

        /**
         * can delete article comment
         * @param articleComment
         * @returns {boolean}
         */
        function canDeleteArticleComment(articleComment) {
            return canEditArticleComment(articleComment);
        }

        /**
         * is enable article comment user input
         * @param articleComment
         */
        function isEnableArticleCommentUserInput(articleComment) {
            // new comment
            if(!articleComment.commentId) {
                if(_isAuthenticated) {
                    return false;
                }else{
                    return true;
                }
            }
            // edit comment
            else {
                // authenticated writer
                if(articleComment.userId) {
                    return false;
                }
                // anonymous writer
                else{
                    return true;
                }
            }
        }

        /**
         * add article comment
         * @param parentCommentId parent comment id
         */
        function addArticleComment(parentCommentId) {
            duice.ObjectProxy.clear(articleComment);
            articleComment.parentCommentId = parentCommentId;
            let commentForm = document.getElementById('article-comment-form');
            let parentCommentElement = document.querySelector(`[data-comment-id="${parentCommentId}"]`);
            parentCommentElement.appendChild(commentForm);
        }

        /**
         * edit article comment
         * @param commentId comment id
         */
        function editArticleComment(commentId) {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment/${commentId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(articleComment);
                    duice.ObjectProxy.assign(articleComment, data);
                    let commentForm = document.getElementById('article-comment-form');
                    commentForm.dataset.commentId = commentId;
                    let commentElement = document.querySelector(`[data-comment-id="${commentId}"]`);
                    commentForm.style.marginLeft = commentElement.style.marginLeft;
                    commentElement.parentNode.insertBefore(commentForm, commentElement);
                    commentElement.style.display = 'none';
                });
        }

        /**
         * cancel comment
         */
        function cancelArticleComment() {
            duice.ObjectProxy.clear(articleComment);
            let commentForm = document.getElementById('article-comment-form');
            commentForm.style.marginLeft = 'initial';
            let commentFormContainer = document.getElementById('article-comment-form-container');
            commentFormContainer.appendChild(commentForm);

            // in case of edit
            let commentId = commentForm.dataset.commentId;
            if(commentId) {
                console.log(commentId);
                let commentElement = document.querySelector(`[data-comment-id="${commentId}"]`);
                commentElement.style.display = 'block';
                commentForm.dataset.commentId = '';
            }
        }

        /**
         * save article comment
         */
        function saveArticleComment(){

            // check password
            if(isEnableArticleCommentUserInput(articleComment)) {
                if(_isEmpty(articleComment.password)) {
                    _alert('enter password');
                    return false;
                }
                if(!_isPasswordFormat(articleComment.password)) {
                    _alert('not valid password format');
                    return false;
                }
                if(articleComment.password !== articleComment.passwordConfirm) {
                    _alert('password not match');
                    return false;
                }
            }

            // confirm message
            _confirm([[#{web.message.saveItemConfirm(#{core.articleComment})}]]).then(result => {
                if(result) {
                    let commentId = articleComment.commentId;
                    let url;
                    let method;
                    if(commentId) {
                        url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment/${commentId}`, document.location.origin);
                        method = 'PUT';
                    }else{
                        url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment`, document.location.origin);
                        method = 'POST';
                    }
                    _fetch(url, {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(articleComment)
                    }).then(response => {
                        if(response.ok) {
                            cancelArticleComment();
                            getArticleComments();
                            if(!commentId) {
                                article.commentCount ++;
                            }
                        }
                    })
                }
            });
        }

        /**
         * delete article comment
         * @param commentId
         */
        async function deleteArticleComment(commentId) {
            let password = await _prompt("enter password");
            if(!password) {
                return false;
            }

            _confirm([[#{web.message.deleteItemConfirm(#{core.articleComment})}]]).then(result => {
                if(result) {
                    let url = `${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment/${commentId}`;
                    _fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({password: password})
                    }).then(response=> {
                        if(response.ok) {
                            getArticleComments();
                            article.commentCount --;
                        }
                    });
                }
            });
        }

        /**
         * download file
         * @param fileId
         */
        function downloadArticleFile(fileId) {
            let link = document.createElement('a');
            link.href = `${_apiUrl}/v1/board/${boardId}/article/${articleId}/file/${fileId}`;
            link.click();
        }

        /**
         * goto article edit
         */
        async function gotoEditArticle() {
            let url = new URL(`${_rootUrl}/board/${boardId}/article-post`, document.location.origin);
            url.searchParams.append('articleId', articleId);
            document.location.href = url.toString();
        }

        /**
         * goto article list
         */
        function gotoListArticle() {
            document.location.href = `${_rootUrl}/board/${boardId}`;
        }

        // onload
        document.addEventListener('DOMContentLoaded', event => {
            getArticle();
            getArticleComments();
        });
    </script>
    <th:block th:replace="|theme/${_theme}/board/${board.skin}/article-read.html|"/>
</main>
