<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        const boardId = [[${board.boardId}]];
        const articleId = [[${param.articleId}]];
        const articlePassword = [[${articlePassword}]];
        const article = new duice.ObjectProxy({
            contentFormat: 'TEXT',
            files:[]
        });
        const files = [];

        /**
         * get article
         * @param articleId
         */
        function getArticle(articleId) {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                    if(articlePassword) {
                        article.password = articlePassword;
                        article.passwordConfirm = articlePassword;
                        duice.ObjectProxy.setReadonly(article, 'password' ,true);
                        duice.ObjectProxy.setReadonly(article, 'passwordConfirm', true);
                    }
                });
        }

        /**
         * add article file
         */
        function addArticleFile() {
            let input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.addEventListener('change', function () {
                let file = this.files[0];
                let articleFile = {
                    filename: file.name,
                    length: file.size
                }
                article.files.push(articleFile);
                files.push(file);
            });
            input.click();
        }

        /**
         * remove article file
         * @param index
         */
        function removeArticleFile(index) {
            article.files.splice(index,1);
        }

        /**
         * detect article is anonymous
         * @returns {boolean}
         */
        function isAnonymousArticle() {
            // new article
            if(!article.articleId) {
                if(_isAuthenticated) {
                    return false;
                }else{
                    return true;
                }
            }
            // edit article
            else {
                // authenticated writer
                if(article.articleId) {
                    return false;
                }
                // anonymous writer
                else{
                    return true;
                }
            }
        }

        /**
         * check valid article password
         */
        function isValidArticlePassword() {
            if(_isEmpty(article.password)) {
                _alert('enter password');
                return false;
            }
            if(!_isPasswordFormat(article.password)) {
                _alert('not valid password format');
                return false;
            }
            if(article.password !== article.passwordConfirm) {
                _alert('password not match');
                return false;
            }
            return true;
        }

        /**
         * save article
         */
        function saveArticle() {

            // if anonymous article, check password.
            if(isAnonymousArticle()) {
                if(!isValidArticlePassword()) {
                    return false;
                }
            }

            // confirm message
            _confirm([[#{web.global.saveItemConfirm(#{core.board.Article})}]]).then(result => {
                if(result) {
                    let url;
                    let method;
                    // modify article
                    if(articleId) {
                        url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}`, document.location.origin);
                        method = 'PUT';
                    }
                    // create article
                    else{
                        url =new URL(`${_apiUrl}/v1/board/${boardId}/article`, document.location.origin);
                        method = 'POST';
                    }
                    let formData = new FormData();
                    formData.append("article", new Blob([JSON.stringify(article)], {type:'application/json'}));
                    files.forEach(file => {
                        formData.append("files", file);
                    });
                    _fetch(url, {
                        method: method,
                        body: formData
                    }).then(response => {
                        if(response.ok) {
                            _alert([[#{web.global.saveItemComplete(#{core.board.Article})}]]).then(()=>{
                                if(articlePassword) {
                                    history.go(-2);
                                }else{
                                    history.back();
                                }
                            });
                        }
                    });
                }
            });
        }

        /**
         * delete article
         * @returns {boolean}
         */
        function deleteArticle() {

            // if anonymous article, check password.
            if(isAnonymousArticle()) {
                if(!isValidArticlePassword()) {
                    return false;
                }
            }

            // fire confirm message and save
            _confirm([[#{web.global.deleteItemConfirm(#{core.board.Article})}]]).then(result => {
                if(result) {
                    let url = `${_apiUrl}/v1/board/${boardId}/article/${articleId}`;
                    _fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(article)
                    }).then(response=> {
                        if(response.ok) {
                            _alert([[#{web.global.deleteItemComplete(#{core.board.Article})}]]).then(()=>{
                                gotoBoard();
                            });
                        }
                    });
                }
            });
        }

        /**
         * goto read
         */
        function gotoCancel() {
            if(articlePassword) {
                history.go(-2);
            }else{
                history.back();
            }
        }

        // onload
        document.addEventListener('DOMContentLoaded',() => {
            if(articleId) {
                getArticle(articleId);
            }
        });

    </script>
    <th:block th:replace="|theme/${_theme}/board/${board.skin}/article-post.html|"/>
</main>
