<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <script>
        const boardId = '[[${board.boardId}]]';
        const articleId = '[[${param.articleId}]]';
        const article = new duice.ObjectProxy({
            files:[]
        });
        const comments = new duice.ArrayProxy([]);
        const comment = new duice.ObjectProxy({});

        /**
         * get article
         */
        function getArticle() {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                });
        }

        /**
         * get comments
         */
        function getComments() {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(comments);
                    duice.ArrayProxy.assign(comments, data);
                });
        }

        /**
         * add article comment
         * @param parentId
         */
        function replyComment(parentId) {
            duice.ObjectProxy.clear(comment);
            comment.parentId = parentId;
            let commentForm = document.getElementById('comment-form');
            let parentCommentElement = document.querySelector(`[data-comment-id="${parentId}"]`);
            parentCommentElement.appendChild(commentForm);
        }

        /**
         * edit comment
         * @param id
         */
        function editComment(id) {
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment/${id}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(comment);
                    duice.ObjectProxy.assign(comment, data);
                    let commentForm = document.getElementById('comment-form');
                    commentForm.dataset.commentId = id;
                    let commentElement = document.querySelector(`[data-comment-id="${id}"]`);
                    commentForm.style.marginLeft = commentElement.style.marginLeft;
                    commentElement.parentNode.insertBefore(commentForm, commentElement);
                    commentElement.style.display = 'none';
                });
        }

        /**
         * cancel comment
         */
        function cancelComment() {
            duice.ObjectProxy.clear(comment);
            let commentForm = document.getElementById('comment-form');
            commentForm.style.marginLeft = 'initial';
            let commentFormContainer = document.getElementById('comment-form-container');
            commentFormContainer.appendChild(commentForm);

            // in case of edit
            let commentId = commentForm.dataset.commentId;
            if(commentId) {
                console.log(commentId);
                let commentElement = document.querySelector(`[data-comment-id="${commentId}"]`);
                commentElement.style.display = 'block';
                commentForm.dataset.commentId = '';
            }
        }

        /**
         * save article comment
         */
        function saveComment(){
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article/${articleId}/comment`, document.location.origin);
            _fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(comment)
            }).then(response => {
                if(response.ok) {
                    cancelComment();
                    getComments();
                }
            })
        }

        /**
         * download file
         * @param fileId
         */
        function downloadFile(fileId) {
            let link = document.createElement('a');
            link.href = `${_apiUrl}/v1/board/${boardId}/article/${articleId}/file/${fileId}`;
            link.click();
        }

        /**
         * goto article edit
         */
        async function gotoEdit() {
            let url = new URL(`[[@{/}]]board/${boardId}/article-post`, document.location.origin);
            url.searchParams.append('articleId', articleId);
            if(!article.userId) {
                let password = await _prompt('enter password');
                if(!password) {
                    return false;
                }
                url.searchParams.append('password',password);
            }
            document.location.href = url.toString();
        }

        /**
         * goto list
         */
        function gotoList() {
            document.location.href = `[[@{/}]]board/${boardId}`;
        }

        // onload
        document.addEventListener('DOMContentLoaded', event => {
            getArticle();
            getComments();
        });
    </script>
    <th:block th:replace="|theme/${_theme}/board/${board.skin}/article-read.html|"/>
</main>
