<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="board/_board.html">
<th:block layout:fragment="_board_content">
    <script th:inline="javascript">
        const articleId = [[${param.articleId}]];
        const articlePassword = [[${articlePassword}]];
        const article = new duice.ObjectProxy({
            contentFormat: 'TEXT',
            files:[]
        });
        const files = [];

        const getArticle = function(articleId) {
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.clear(article);
                    duice.ObjectProxy.assign(article, data);
                    if(articlePassword) {
                        article.password = articlePassword;
                        article.passwordConfirm = articlePassword;
                        duice.ObjectProxy.setReadonly(article, 'password' ,true);
                        duice.ObjectProxy.setReadonly(article, 'passwordConfirm', true);
                    }
                });
        }

        const addArticleFile = function() {
            let input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.addEventListener('change', function () {
                let file = this.files[0];
                let articleFile = {
                    filename: file.name,
                    length: file.size
                }
                article.files.push(articleFile);
                files.push(file);
            });
            input.click();
        }

        const removeArticleFile = function(index) {
            article.files.splice(index,1);
        }

        const isAnonymousArticle = function() {
            // new article
            if(!article.articleId) {
                if(_isAuthenticated) {
                    return false;
                }else{
                    return true;
                }
            }
            // edit article
            else {
                // authenticated writer
                if(article.articleId) {
                    return false;
                }
                // anonymous writer
                else{
                    return true;
                }
            }
        }

        const isValidArticlePassword = function() {
            if(_isEmpty(article.password)) {
                _alert('enter password');
                return false;
            }
            if(!_isPasswordFormat(article.password)) {
                _alert('not valid password format');
                return false;
            }
            if(article.password !== article.passwordConfirm) {
                _alert('password not match');
                return false;
            }
            return true;
        }

        const saveArticle = function() {

            // if anonymous article, check password.
            if(isAnonymousArticle()) {
                if(!isValidArticlePassword()) {
                    return false;
                }
            }

            // confirm message
            _confirm([[#{web.global.saveItemConfirm(#{core.board.Article})}]]).then(result => {
                if(result) {
                    let url;
                    let method;
                    // modify article
                    if(articleId) {
                        url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles/${articleId}`, document.location.origin);
                        method = 'PUT';
                    }
                    // create article
                    else{
                        url =new URL(`${_apiUrl}/v1/boards/${boardId}/articles`, document.location.origin);
                        method = 'POST';
                    }
                    let formData = new FormData();
                    formData.append('article', JSON.stringify(article));
                    files.forEach(file => {
                        formData.append("files", file);
                    });
                    _fetch(url, {
                        method: method,
                        body: formData
                    }).then(response => {
                        if(response.ok) {
                            _alert([[#{web.global.saveItemComplete(#{core.board.Article})}]]).then(()=>{
                                if(articlePassword) {
                                    history.go(-2);
                                }else{
                                    history.back();
                                }
                            });
                        }
                    });
                }
            });
        }

        const deleteArticle = function() {

            // if anonymous article, check password.
            if(isAnonymousArticle()) {
                if(!isValidArticlePassword()) {
                    return false;
                }
            }

            // fire confirm message and save
            _confirm([[#{web.global.deleteItemConfirm(#{core.board.Article})}]]).then(result => {
                if(result) {
                    let url = `${_apiUrl}/v1/boards/${boardId}/articles/${articleId}`;
                    _fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(article)
                    }).then(response=> {
                        if(response.ok) {
                            _alert([[#{web.global.deleteItemComplete(#{core.board.Article})}]]).then(()=>{
                                gotoBoard();
                            });
                        }
                    });
                }
            });
        }

        const gotoCancel = function() {
            if(articlePassword) {
                history.go(-2);
            }else{
                history.back();
            }
        }

        document.addEventListener('DOMContentLoaded',() => {
            if(articleId) {
                getArticle(articleId);
            }
        });

    </script>
    <th:block th:replace="|_theme/${_theme}/board/${board.skin}/article-post.html|"/>
</th:block>
