<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_home.html">

<main layout:fragment="_main">
    <script>
        const boardId = '[[${board.id}]]';
        const articleSearch = new duice.ObjectProxy({
            key: null,
            value: null,
            _page: 0,
            _size: [[${board.pageSize}]],
            _count: 0
        });
        const articles = new duice.ArrayProxy([]);

        /**
         * get articles
         * @param page
         */
        function getArticles(page) {
            if(page) {
                articleSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/board/${boardId}/article`, document.location.origin);
            if(articleSearch.key && articleSearch.value) {
                url.searchParams.append(key, value);
            }
            url.searchParams.append('_page', articleSearch._page);
            url.searchParams.append('_size', articleSearch._size);
            _fetch(url)
            .then(async response => {
                articleSearch._count = _parseTotalCount(response);
                return response.json();
            }).then(data => {
                duice.ArrayProxy.clear(articles);
                duice.ArrayProxy.assign(articles, data);
            });
        }

        /**
         * goto article read
         * @param articleId
         */
        function gotoRead(articleId) {
            document.location.href = `[[@{/}]]board/${boardId}/article-read?id=${articleId}`;
        }

        /**
         * goto article post
         */
        function gotoPost() {
            document.location.href = `[[@{/}]]board/${boardId}/article-post`;
        }

        // on load
        document.addEventListener('DOMContentLoaded', event => {
            getArticles();
        });
    </script>
    <th:block th:replace="|theme/${_theme}/board/${board.skin}/board.html|"/>
</main>
