<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="board/_board.html">
<th:block layout:fragment="_board_content">
    <script th:inline="javascript">
        const articleSearch = new duice.ObjectProxy({
            key: 'title',
            value: null,
            _page: 0,
            _size: [[${board.pageSize}]],
            _count: 0
        });
        const articles = new duice.ArrayProxy([]);

        const getArticles = function(page) {
            if(page) {
                articleSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/boards/${boardId}/articles`, document.location.origin);
            if(articleSearch.key && articleSearch.value) {
                url.searchParams.append(articleSearch.key, articleSearch.value);
            }
            url.searchParams.append('_page', articleSearch._page);
            url.searchParams.append('_size', articleSearch._size);
            _fetch(url)
            .then(async response => {
                articleSearch._count = _parseTotalCount(response);
                return response.json();
            }).then(data => {
                duice.ArrayProxy.clear(articles);
                duice.ArrayProxy.assign(articles, data);
            });
        }

        const gotoRead = function(articleId) {
            document.location.href = `${_rootUrl}/board/${boardId}/article-read?articleId=${articleId}`;
        }

        const gotoWrite = function() {
            document.location.href = `${_rootUrl}/board/${boardId}/article-write`;
        }

        document.addEventListener('DOMContentLoaded', event => {
            getArticles();
        });
    </script>
    <th:block th:replace="|_theme/${_theme}/board/${board.skin}/board.html|"/>
</th:block>
