<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // board search condition
        const boardSearch = new duice.ObjectProxy({
            key: 'boardId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // board list
        const boards = new duice.ArrayProxy([]);

        // board
        const board = new duice.ObjectProxy({
            messageFormat: 'TEXT',
            accessRoles: [],
            readRoles: [],
            writeRoles: [],
            commentRoles: []
        });
        duice.ObjectProxy.setDisableAll(board, true);
        duice.ObjectProxy.onPropertyChanging(board, async event => {
            if (event.getProperty() === 'boardId') {
                if (!await validateBoardId(event.getValue())) {
                    duice.ObjectProxy.focus(board, 'boardId');
                    return false;
                }
            }
            return true;
        });

        /**
         * getBoards
         * @param page page
         */
        function getBoards(page) {
            if(page) {
                boardSearch._page = page;
            }
            let url = new URL([[@{/admin/board/get-boards}]], document.location.origin);
            if (boardSearch.key && boardSearch.value) {
                url.searchParams.append(boardSearch.key, boardSearch.value);
            }
            url.searchParams.append('_page', boardSearch._page);
            url.searchParams.append('_size', boardSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(boards);
                    duice.ArrayProxy.assign(boards, data.content);
                    boardSearch._count = data.totalElements;

                    // select current item
                    duice.ArrayProxy.selectItem(boards, boards.findIndex(item => item.boardId === board.boardId));
                });
        }

        /**
         * resetBoards
         */
        function resetBoards() {
            duice.ObjectProxy.reset(boardSearch);
            getBoards();
        }

        /**
         * getBoard
         * @param boardId board.boardId
         */
        function getBoard(boardId) {
            let url = new URL([[@{/admin/board/get-board}]], document.location.origin);
            url.searchParams.append('boardId', boardId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(board, data);
                    duice.ObjectProxy.setDisableAll(board, false);
                    duice.ObjectProxy.setReadonly(board, 'boardId', true);
                    board._new = false;
                });
        }

        /**
         * createBoard
         */
        function createBoard() {
            duice.ObjectProxy.clear(board);
            duice.ObjectProxy.assign(board, {
                _new: true,
                messageFormat: 'TEXT',
                pageSize: 10
            });
            duice.ObjectProxy.setDisableAll(board, false);
            duice.ObjectProxy.setReadonly(board, 'boardId', false);
            duice.ObjectProxy.focus(board, 'boardId');
        }

        /**
         * validateBoardId
         * @param boardId board.boardId
         * @returns {Promise<boolean>}
         */
        async function validateBoardId(boardId) {

            // check blank
            if (!boardId) {
                await _alert([[#{web.global.itemEmpty(#{core.board.Board.boardId})}]]);
                duice.ObjectProxy.focus(board, 'boardId');
                return false;
            }

            // check duplicated id
            let url = new URL([[@{/admin/board/get-board}]], document.location.origin);
            url.searchParams.append('boardId', boardId);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let board = await response.json();
                if (board) {
                    await _alert([[#{web.global.itemAlreadyExist(#{core.board.Board.boardId})}]]);
                    return false;
                }
            }

            // return true
            return true;
        }

        /**
         * saveBoard
         */
        async function saveBoard() {

            // if new, checks id
            if (board._new) {
                if (!await validateBoardId(board.boardId)) {
                    return false;
                }
            }

            // checks board name
            if(_isEmpty(board.boardName)) {
                await _alert([[#{web.global.itemEmpty(#{core.board.Board.boardName})}]]);
                duice.ObjectProxy.focus(board, 'boardName');
                return false;
            }

            // call save
            _confirm([[#{web.global.saveItemConfirm(#{core.board.Board})}]]).then(result => {
                if (result) {
                    let url = new URL([[@{/admin/board/save-board}]], document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(board)
                    }).then(response => response.json())
                    .then(data => {
                        _alert([[#{web.global.saveItemComplete(#{core.board.Board})}]]).then(() => {
                            getBoard(data.boardId);
                            getBoards();
                        });
                    });
                }
            });
        }

        /**
         * deleteBoard
         */
        function deleteBoard() {
            _confirm([[#{web.global.deleteItemConfirm(#{core.board.Board})}]]).then(result => {
                if (result) {
                    let url = new URL([[@{/admin/board/delete-board}]], document.location.origin);
                    url.searchParams.append('boardId', board.boardId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert([[#{web.global.deleteItemComplete(#{core.board.Board})}]]).then(() => {
                                getBoards();
                                duice.ObjectProxy.clear(board);
                            });
                        }
                    })
                }
            });
        }

        /**
         * addBoardAccessRole
         */
        async function addBoardAccessRole() {
            let disabledRoleIds = [];
            board.accessRoles.forEach(role => {
                disabledRoleIds.push(role.roleId);
            });
            let selectedRoles = await roleSelect.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                board.accessRoles.push(role);
            });
        }

        function removeBoardAccessRole(index) {
            board.accessRoles.splice(index, 1);
        }

        async function addBoardReadRole() {
            let disabledRoleIds = [];
            board.readRoles.forEach(role => {
                disabledRoleIds.push(role.roleId);
            });
            let selectedRoles = await roleSelect.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                board.readRoles.push(role);
            });
        }

        function removeBoardReadRole(index) {
            board.readRoles.splice(index, 1);
        }

        async function addBoardWriteRole() {
            let disabledRoleIds = [];
            board.writeRoles.forEach(role => {
                disabledRoleIds.push(role.roleId);
            });
            let selectedRoles = await roleSelect.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                board.writeRoles.push(role);
            });
        }

        function removeBoardWriteRole(index) {
            board.writeRoles.splice(index, 1);
        }

        async function addBoardCommentRole() {
            let disabledRoleIds = [];
            board.commentRoles.forEach(role => {
                disabledRoleIds.push(role.roleId);
            });
            let selectedRoles = await roleSelect.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                board.commentRoles.push(role);
            });
        }

        /**
         * removeBoardCommentRole
         * @param index
         */
        function removeBoardCommentRole(index) {
            board.commentRoles.splice(index, 1);
        }

        /**
         * open board
         */
        function openBoard() {
            let url = new URL([[@{/board/}]] + board.boardId, document.location.origin);
            window.open(url,'_blank');
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getBoards();
        });
    </script>

    <!-- ================================== -->
    <!-- start: title                       -->
    <!-- ================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-board.svg}"/>
        <span data-th-text="#{web.admin.board}"></span>
    </h1>
    <!-- ================================== -->
    <!-- end: title                         -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: boardContent                -->
    <!-- ================================== -->
    <div id="boardContent" class="grid grid-template-columns-3 grid-gap-1em">

        <!-- ================================== -->
        <!-- start: board list                  -->
        <!-- ================================== -->
        <div id="boardList" class="grid-column-1 s-grid-column-3">
            <div class="grid grid-gap-1em border-1 padding-1em">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-list.svg}"/>
                    <span data-th-text="#{web.global.list}"></span>
                </h2>
                <form onsubmit="return false;" class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
                    <label class="grid-column-4">
                        <select class="width-100" data-duice-bind="boardSearch" data-duice-property="key">
                            <option value="boardId" th:text="#{core.board.Board.boardId}"></option>
                            <option value="boardName" th:text="#{core.board.Board.boardName}"></option>
                        </select>
                    </label>
                    <label class="grid-column-8">
                        <input class="width-100" type="text" data-duice-bind="boardSearch" data-duice-property="value"
                               th:placeholder="#{web.global.keyword}"/>
                    </label>
                    <div class="grid-column-12 justify-self-end">
                        <button type="submit" onclick="getBoards();">
                            <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                            <span data-th-text="#{web.global.search}">Search</span>
                        </button>
                        <button type="button" onclick="resetBoards();">
                            <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                            <span data-th-text="#{web.global.reset}">Reset</span>
                        </button>
                    </div>
                </form>
                <div class="overflow-x-auto padding-y-1em s-padding-y-0">
                    <table class="width-100">
                        <colgroup>
                            <col style="width:5rem;"/>
                            <col/>
                            <col/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                            <th data-th-text="#{core.board.Board.boardId}"></th>
                            <th data-th-text="#{core.board.Board.boardName}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="boards" data-duice-loop="board,status" data-duice-selected-item-class="selected" data-duice-execute="
                        this.dataset.boardId=board.boardId;
                        " onclick="getBoard(this.dataset.boardId);" class="link">
                            <td data-duice-bind="status" data-duice-property="count"
                                class="text-align-center"></td>
                            <td>
                                <img data-duice-bind="board" data-duice-property="icon" class="icon"/>
                                <span data-duice-bind="board" data-duice-property="boardId"
                                      class="font-weight-bold"></span>
                            </td>
                            <td data-duice-bind="board" data-duice-property="boardName"></td>
                        </tr>
                        <tr data-duice-bind="boards" data-duice-execute="if(boards.length === 0) this.hidden=false;" hidden>
                            <td colspan="100%" class="text-align-center">No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid grid-template-columns-3 grid-gap-1em padding-y-1em s-padding-y-0">
                    <div class="grid-column-1 font-size-smaller">
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="boardSearch" data-duice-property="_count"
                              data-duice-format="number(0)"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <div class="grid-column-1 justify-self-center">
                        <duice-pagination
                                data-duice-bind="boardSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-count-property="_count"
                                data-duice-onclick="getBoards(this.dataset.page);">
                        </duice-pagination>
                    </div>
                    <div class="grid-column-1 justify-self-end">
                        <button type="button" onclick="createBoard();">
                            <img class="icon" th:src="@{/static/image/icon-create.svg}"/>
                            <span data-th-text="#{web.global.create}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: board list                    -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: board detail                -->
        <!-- ================================== -->
        <div id="boardDetail" class="grid-column-2 s-grid-column-3">
            <div class="grid grid-gap-1em border-1 padding-1em">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-detail.svg}"/>
                    <span data-th-text="#{web.global.detail}"></span>
                </h2>
                <form onsubmit="return false;" class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.board.Board.boardId}" class="font-weight-bold tag-required"></span>
                        <input type="text" data-duice-bind="board" data-duice-property="boardId"
                               class="width-100 font-weight-bold"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.board.Board.boardName}" class="font-weight-bold tag-required"></span>
                        <input type="text" data-duice-bind="board" data-duice-property="boardName"
                               class="width-100"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.board.Board.icon}" class="font-weight-bold"></span><br>
                        <img th:src="@{/static/image/icon-null.svg}" data-duice-bind="board"
                             data-duice-property="icon" data-duice-editable="true" data-duice-size="32,32"
                             style="width:32px; height:32px;"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.board.Board.skin}" class="font-weight-bold"></span>
                        <select class="width-100" data-duice-bind="board" data-duice-property="skin">
                            <option value th:text="'- '+#{web.global.select}+' -'"></option>
                            <option th:each="skinName:${skinNames}"
                                    th:value="${skinName}"
                                    th:text="${skinName}"></option>
                        </select>
                    </label>
                    <label class="grid-column-12">
                        <span data-th-text="#{core.board.Board.note}" class="font-weight-bold"></span>
                        <textarea data-duice-bind="board" data-duice-property="note" rows="3"
                                  class="width-100"></textarea>
                    </label>
                    <div class="grid-column-12">
                        <span data-th-text="#{core.board.Board.message}" class="font-weight-bold"></span>
                        <div>
                            <label>
                                <input type="radio" data-duice-bind="board" data-duice-property="messageFormat" value="TEXT"/>
                                <span data-th-text="#{core.board.ContentFormat.TEXT}" class="font-weight-bold"></span>
                            </label>
                            &nbsp;
                            <label>
                                <input type="radio" data-duice-bind="board" data-duice-property="messageFormat" value="MARKDOWN"/>
                                <span data-th-text="#{core.board.ContentFormat.MARKDOWN}" class="font-weight-bold"></span>
                            </label>
                        </div>
                        <label>
                            <textarea data-duice-bind="board" data-duice-if="return board.messageFormat==='TEXT'" data-duice-property="message" rows="5" class="width-100"></textarea>
                        </label>
                        <label>
                            <duice-markdown-editor data-duice-bind="board" data-duice-if="return board.messageFormat==='MARKDOWN'" data-duice-property="message" class="border-1 width-100"/>
                        </label>
                    </div>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.board.Board.pageSize}" class="font-weight-bold"></span>
                        <select class="width-100" data-duice-bind="board" data-duice-property="pageSize">
                            <option value th:text="'- '+#{web.global.select}+' -'"></option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </label>
                    <div class="grid-column-6 s-grid-column-12">
                        <label>
                            <span data-th-text="#{core.board.Board.accessPolicy}" class="font-weight-bold"></span>
                            <select class="width-100" data-duice-bind="board" data-duice-property="accessPolicy">
                                <option value data-th-text="'- '+#{web.global.select}+' -'"></option>
                                <option th:each="securityPolicy : ${T(org.oopscraft.arch4j.core.security.SecurityPolicy).values()}"
                                        th:value="${securityPolicy}"
                                        th:text="#{'core.security.SecurityPolicy.' + ${securityPolicy}}">
                                </option>
                            </select>
                        </label>
                        <div data-duice-bind="board"
                             data-duice-if="return board.accessPolicy === 'AUTHORIZED'"
                             class="overflow-y-scroll" style="max-height:calc(40rem - 2px);">
                            <table class="width-100 border-top-0">
                                <colgroup>
                                    <col style="width:3em;"/>
                                    <col style="width:15em;"/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align-center">
                                        <button type="button" onclick="addBoardAccessRole();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.user.Role.roleId}"></th>
                                    <th data-th-text="#{core.user.Role.roleName}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="board.accessRoles" data-duice-loop="role,status">
                                    <td class="text-align-center">
                                        <button type="button"
                                                data-duice-bind="role"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeBoardAccessRole(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                        </button>
                                    </td>
                                    <td data-duice-bind="role" data-duice-property="roleId"></td>
                                    <td data-duice-bind="role" data-duice-property="roleName"></td>
                                </tr>
                                <tr data-duice-bind="board.accessRoles"
                                    data-duice-if="return (board.accessRoles.length < 1);">
                                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="grid-column-6 s-grid-column-12">
                        <label>
                            <span data-th-text="#{core.board.Board.readPolicy}" class="font-weight-bold"></span>
                            <select class="width-100" data-duice-bind="board" data-duice-property="readPolicy">
                                <option value data-th-text="'- '+#{web.global.select}+' -'"></option>
                                <option th:each="securityPolicy : ${T(org.oopscraft.arch4j.core.security.SecurityPolicy).values()}"
                                        th:value="${securityPolicy}"
                                        th:text="#{'core.security.SecurityPolicy.' + ${securityPolicy}}">
                                </option>
                            </select>
                        </label>
                        <div data-duice-bind="board"
                             data-duice-if="return board.readPolicy === 'AUTHORIZED'"
                             class="overflow-y-scroll" style="max-height:calc(40rem - 2px);">
                            <table class="width-100 border-top-0">
                                <colgroup>
                                    <col style="width:3em;"/>
                                    <col style="width:15em;"/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align-center">
                                        <button type="button" onclick="addBoardReadRole();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.user.Role.roleId}"></th>
                                    <th data-th-text="#{core.user.Role.roleName}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="board.readRoles" data-duice-loop="role,status">
                                    <td class="text-align-center">
                                        <button type="button"
                                                data-duice-bind="role"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeBoardReadRole(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                        </button>
                                    </td>
                                    <td data-duice-bind="role" data-duice-property="roleId"></td>
                                    <td data-duice-bind="role" data-duice-property="roleName"></td>
                                </tr>
                                <tr data-duice-bind="board.readRoles"
                                    data-duice-if="return (board.readRoles.length < 1);">
                                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="grid-column-6 s-grid-column-12">
                        <label>
                            <span data-th-text="#{core.board.Board.writePolicy}" class="font-weight-bold"></span>
                            <select class="width-100" data-duice-bind="board" data-duice-property="writePolicy">
                                <option value data-th-text="'- '+#{web.global.select}+' -'"></option>
                                <option th:each="securityPolicy : ${T(org.oopscraft.arch4j.core.security.SecurityPolicy).values()}"
                                        th:value="${securityPolicy}"
                                        th:text="#{'core.security.SecurityPolicy.' + ${securityPolicy}}">
                                </option>
                            </select>
                        </label>
                        <div data-duice-bind="board"
                             data-duice-if="return board.writePolicy === 'AUTHORIZED'"
                             class="overflow-y-scroll" style="max-height:calc(40rem - 2px);">
                            <table class="width-100 border-top-0">
                                <colgroup>
                                    <col style="width:3em;"/>
                                    <col style="width:15em;"/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align-center">
                                        <button type="button" onclick="addBoardWriteRole();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.user.Role.roleId}"></th>
                                    <th data-th-text="#{core.user.Role.roleName}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="board.writeRoles" data-duice-loop="role,status">
                                    <td class="text-align-center">
                                        <button type="button"
                                                data-duice-bind="role"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeBoardWriteRole(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                        </button>
                                    </td>
                                    <td data-duice-bind="role" data-duice-property="roleId"></td>
                                    <td data-duice-bind="role" data-duice-property="roleName"></td>
                                </tr>
                                <tr data-duice-bind="board.writeRoles"
                                    data-duice-if="return (board.writeRoles.length < 1);"
                                    hidden>
                                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="grid-column-6 s-grid-column-12">
                        <label class="width-100">
                            <input type="checkbox" data-duice-bind="board" data-duice-property="fileEnabled"/>
                            <span data-th-text="#{core.board.Board.fileEnabled}" class="font-weight-bold"></span>
                        </label>
                    </div>
                    <div class="grid-column-6 s-grid-column-12">
                        <label class="width-100">
                            <input type="checkbox" data-duice-bind="board" data-duice-property="commentEnabled"/>
                            <span data-th-text="#{core.board.Board.commentEnabled}" class="font-weight-bold"></span>
                        </label>
                        <br/>
                        <label class="width-100">
                            <span data-th-text="#{core.board.Board.commentPolicy}" class="font-weight-bold"></span>
                            <select class="width-100" data-duice-bind="board" data-duice-property="commentPolicy">
                                <option value data-th-text="'- '+#{web.global.select}+' -'"></option>
                                <option th:each="securityPolicy : ${T(org.oopscraft.arch4j.core.security.SecurityPolicy).values()}"
                                        th:value="${securityPolicy}"
                                        th:text="#{'core.security.SecurityPolicy.' + ${securityPolicy}}">
                                </option>
                            </select>
                        </label>
                        <div data-duice-bind="board"
                             data-duice-if="return board.commentPolicy === 'AUTHORIZED'"
                             class="overflow-y-scroll" style="max-height:calc(40rem - 2px);">
                            <table class="width-100 border-top-0">
                                <colgroup>
                                    <col style="width:3em;"/>
                                    <col style="width:15em;"/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align-center">
                                        <button type="button" onclick="addBoardCommentRole();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.user.Role.roleId}"></th>
                                    <th data-th-text="#{core.user.Role.roleName}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="board.commentRoles" data-duice-loop="role,status">
                                    <td class="text-align-center">
                                        <button type="button"
                                                data-duice-bind="role"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeBoardCommentRole(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                        </button>
                                    </td>
                                    <td data-duice-bind="role" data-duice-property="roleId"></td>
                                    <td data-duice-bind="role" data-duice-property="roleName"></td>
                                </tr>
                                <tr data-duice-bind="board.commentRoles"
                                    data-duice-if="return (board.commentRoles.length < 1);"
                                    hidden>
                                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="grid grid-template-columns-2 padding-y-1em s-padding-y-0">
                    <div class="grid-column-1">
                        <button type="button" onclick="openBoard();"
                            data-duice-bind="board"
                            data-duice-execute="(board.boardId && !board._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-open.svg}"/>
                            <span data-th-text="#{web.admin.board.openBoard}"></span>
                        </button>
                    </div>
                    <div class="grid-column-1 justify-self-end">
                        <button type="button" onclick="deleteBoard();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_BOARD_EDIT'')')}?'locked'"
                                data-duice-bind="board"
                                data-duice-execute="(board.boardId && !board._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-delete.svg}"/>
                            <span data-th-text="#{web.global.delete}"></span>
                        </button>
                        <button type="button" onclick="saveBoard();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_BOARD_EDIT'')')}?'locked'"
                                data-duice-bind="board"
                                data-duice-execute="(board.boardId || board._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-save.svg}"/>
                            <span data-th-text="#{web.global.save}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: board detail                  -->
        <!-- ================================== -->

    </div>
    <!-- ================================== -->
    <!-- end: boardContent                  -->
    <!-- ================================== -->

    <th:block th:include="admin/role-select.html"></th:block>

</main>
