<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script>
        // code search condition
        const codeSearch = new duice.ObjectProxy({
            key: 'codeId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // code list
        const codes = new duice.ArrayProxy([]);

        // code
        const code = new duice.ObjectProxy({
            items: []
        });
        duice.ObjectProxy.setDisableAll(code, true);
        duice.ObjectProxy.onPropertyChanging(code, async event => {
            if (event.getProperty() === 'codeId') {
                if (!await validateCodeId(event.getValue())) {
                    duice.ObjectProxy.focus(code, 'codeId');
                    return false;
                }
            }
            return true;
        });

        /**
         * getCodes
         * @param page page
         */
        function getCodes(page) {
            if(page) {
                codeSearch._page = page;
            }
            let url = new URL("[[@{/admin/code/get-codes}]]", document.location.origin);
            if (codeSearch.key && codeSearch.value) {
                url.searchParams.append(codeSearch.key, codeSearch.value);
            }
            url.searchParams.append('_page', codeSearch._page);
            url.searchParams.append('_size', codeSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(codes);
                    duice.ArrayProxy.assign(codes, data.content);
                    codeSearch._count = data.totalElements;
                });
        }

        /**
         * resetCodes
         */
        function resetCodes() {
            duice.ObjectProxy.reset(codeSearch);
            getCodes();
        }

        /**
         * getCode
         * @param codeId code id
         */
        function getCode(codeId) {
            let url = new URL('[[@{/admin/code/get-code}]]', document.location.origin);
            url.searchParams.append('codeId', codeId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(code, data);
                    duice.ObjectProxy.setDisableAll(code, false);
                    duice.ObjectProxy.setReadonly(code, 'codeId', true);
                    code._new = false;
                });
        }

        /**
         * createCode
         */
        function createCode() {
            duice.ObjectProxy.clear(code);
            duice.ObjectProxy.assign(code, {
                _new: true
            });
            duice.ObjectProxy.setDisableAll(code, false);
            duice.ObjectProxy.setReadonly(code, 'codeId', false);
            duice.ObjectProxy.focus(code, 'codeId');
        }

        /**
         * validateCodeId
         * @param codeId code.codeId
         * @returns {Promise<boolean>}
         */
        async function validateCodeId(codeId) {

            // check blank
            if (!codeId) {
                await _alert('[[#{web.message.itemEmpty(#{core.code.codeId})}]]');
                duice.ObjectProxy.focus(code, 'codeId');
                return false;
            }

            // check duplicated id
            let url = new URL('[[@{/admin/code/get-code}]]', document.location.origin);
            url.searchParams.append('codeId', codeId);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let code = await response.json();
                if (code) {
                    await _alert('[[#{web.message.itemAlreadyExist(#{core.code.codeId})}]]');
                    return false;
                }
            }

            // return true
            return true;
        }

        /**
         * saveCode
         */
        async function saveCode() {

            // if new, checks id
            if (code._new) {
                if (!await validateCodeId(code.codeId)) {
                    return false;
                }
            }

            // checks name
            if (!code.name || code.name.trim().length < 1) {
                await _alert('[[#{web.message.itemEmpty(#{core.code.name})}]]');
                duice.ObjectProxy.focus(code, 'name');
                return false;
            }

            // call save
            _confirm('[[#{web.message.saveItemConfirm(#{core.code})}]]').then(result => {
                if (result) {
                    let url = new URL('[[@{/admin/code/save-code}]]', document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(code)
                    }).then(response => {
                        if (response.ok) {
                            _alert('[[#{web.message.saveItemComplete(#{core.code})}]]').then(() => {
                                getCodes();
                                getCode(code.codeId);
                            });
                        }
                    });
                }
            });
        }

        /**
         * deleteCode
         */
        function deleteCode() {
            _confirm('[[#{web.message.deleteItemConfirm(#{core.code})}]]').then(result => {
                if (result) {
                    let url = new URL('[[@{/admin/code/delete-code}]]', document.location.origin);
                    url.searchParams.append('codeId', code.codeId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert('[[#{web.message.deleteItemComplete(#{core.code})}]]').then(() => {
                                getCodes();
                                duice.ObjectProxy.clear(code);
                            });
                        }
                    })
                }
            });
        }

        /**
         * addCodeItem
         */
        function addCodeItem() {
            code.items.push({});
        }

        /**
         * removeItem
         * @param index
         */
        function removeCodeItem(index) {
            code.items.splice(index, 1);
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getCodes();
        });
    </script>
    <h1>
        <img class="icon" th:src="@{/static/image/icon-code.svg}"/>
        <span data-th-text="#{web.title.code}"></span>
    </h1>
    <div class="container gap-column-1rem gap-row-1rem">
        <div class="col-6 col-s-12">
            <!-- list of code -->
            <div class="container border-1 padding-1rem">
                <div class="col-12">
                    <div class="container padding-1px">
                        <div class="col-8">
                            <h2>
                                <img class="icon" th:src="@{/static/image/icon-list.svg}"/>
                                <span data-th-text="#{web.text.list}"></span>
                            </h2>
                        </div>
                        <div class="col-4 justify-right">
                            <button onclick="createCode();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_CODE_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}"/>
                                <span data-th-text="#{web.text.create}"></span>
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <div class="container gap-1px margin-1px">
                        <form onsubmit="return false;" class="col-12 container gap-1px">
                            <select data-duice-bind="codeSearch" data-duice-property="key" class="col-1 col-s-4">
                                <option value="codeId" th:text="#{core.code.codeId}"></option>
                                <option value="name" th:text="#{core.code.name}"></option>
                            </select>
                            <input type="text" data-duice-bind="codeSearch" data-duice-property="value"
                                   th:placeholder="#{web.text.keyword}" class="col-2 col-s-8"/>
                            <button onclick="getCodes();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                                <span data-th-text="#{web.text.search}">Search</span>
                            </button>
                            <button onclick="resetCodes();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                                <span data-th-text="#{web.text.reset}">Reset</span>
                            </button>
                        </form>
                    </div>
                    <div class="overflow-x-auto border-1">
                        <table class="border-0">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.text.no}" class="text-align-center"></th>
                                <th data-th-text="#{core.code.codeId}"></th>
                                <th data-th-text="#{core.code.name}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="codes" data-duice-loop="code,status" data-duice-toggle-class="selected" data-duice-script="
                            this.dataset.id=code.codeId;
                            " onclick="getCode(this.dataset.id);" class="link">
                                <td data-duice-bind="status" data-duice-property="count"
                                    class="text-align-center"></td>
                                <td data-duice-bind="code" data-duice-property="codeId"></td>
                                <td data-duice-bind="code" data-duice-property="name"></td>
                            </tr>
                            <tr data-duice-bind="codes" data-duice-script="if(codes.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align-center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="col-4"></div>
                        <div class="col-4 justify-center">
                            <duice-pagination
                                    data-duice-bind="codeSearch"
                                    data-duice-size-property="_size"
                                    data-duice-page-property="_page"
                                    data-duice-count-property="_count"
                                    data-duice-onclick="getCodes(this.dataset.page);">
                            </duice-pagination>
                        </div>
                        <div class="col-4 justify-right">
                            <span data-th-text="#{web.text.total}"></span>
                            <span data-duice-bind="codeSearch" data-duice-property="_count"
                                  data-duice-format="number(0)"></span>
                            <span data-th-text="#{web.text.rows}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-s-12">
            <!-- code detail -->
            <div class="container border-1 padding-1rem">
                <div class="col-12">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-detail.svg}"/>
                        <span data-th-text="#{web.text.detail}"></span>
                    </h2>
                    <div class="container gap-1px gap-column-1rem">
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.code.codeId}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="text" data-duice-bind="code" data-duice-property="codeId"
                                   class="width-100 font-weight-bold"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.code.name}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="text" data-duice-bind="code" data-duice-property="name"
                                   class="width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.code.note}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <textarea data-duice-bind="code" data-duice-property="note" rows="4"
                                      class="width-100 height-100"></textarea>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.code.items}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <div class="overflow-y-scroll border-1" style="max-height:calc(40rem - 2px);">
                                <table class="width-100 border-0">
                                    <colgroup>
                                        <col style="width:5rem;"/>
                                        <col/>
                                        <col/>
                                        <col/>
                                        <col style="width:2rem;"/>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th data-th-text="#{web.text.no}" class="text-align-center"></th>
                                        <th data-th-text="#{core.codeItem.itemId}"></th>
                                        <th data-th-text="#{core.codeItem.name}"></th>
                                        <th data-th-text="#{core.codeItem.value}"></th>
                                        <th class="text-align-center">
                                            <button onclick="addCodeItem();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_CODE_EDIT'')')}?'locked'">
                                                <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-duice-bind="code.items" data-duice-loop="item,status">
                                        <td data-duice-bind="status" data-duice-property="count" class="text-align-center"></td>
                                        <td>
                                            <input type="text" data-duice-bind="item" data-duice-property="itemId" class="width-100 font-weight-bold"/>
                                        </td>
                                        <td>
                                            <input type="text" data-duice-bind="item" data-duice-property="name" class="width-100"/>
                                        </td>
                                        <td>
                                            <input type="text" data-duice-bind="item" data-duice-property="value" class="width-100"/>
                                        </td>
                                        <td class="text-align-center">
                                            <button data-duice-bind="item"
                                                    data-duice-script="this.dataset.index=status.index;"
                                                    onclick="removeCodeItem(this.dataset.index);"
                                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_CODE_EDIT'')')}?'locked'">
                                                <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr data-duice-bind="code.items"
                                        data-duice-script="if(code.items.length === 0) this.hidden=false;"
                                        hidden>
                                        <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="container margin-1px">
                        <div class="col-12 justify-right">
                            <button onclick="deleteCode();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_CODE_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}"/>
                                <span data-th-text="#{web.text.delete}"></span>
                            </button>
                            <button onclick="saveCode();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_CODE_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-save.svg}"/>
                                <span data-th-text="#{web.text.save}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
