<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        // code search condition
        const codeSearch = new duice.ObjectProxy({
            key: 'codeId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // code list
        const codes = new duice.ArrayProxy([]);

        // code
        const code = new duice.ObjectProxy({
            codeId: null,
            codeName: null,
            codeItems: []
        });
        duice.ObjectProxy.setDisableAll(code, true);
        duice.ObjectProxy.onPropertyChanging(code, async event => {
            if (event.getProperty() === 'codeId') {
                if (!await validateCodeId(event.getValue())) {
                    duice.ObjectProxy.focus(code, 'codeId');
                    return false;
                }
            }
            return true;
        });

        function getCodes(page) {
            if(page) {
                codeSearch._page = page;
            }
            let url = new URL(/*[[@{/admin/code/get-codes}]]*/'', document.location.origin);
            if (codeSearch.key && codeSearch.value) {
                url.searchParams.append(codeSearch.key, codeSearch.value);
            }
            url.searchParams.append('_page', codeSearch._page);
            url.searchParams.append('_size', codeSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(codes);
                    duice.ArrayProxy.assign(codes, data.content);
                    codeSearch._count = data['totalElements'];

                    // select current item
                    duice.ArrayProxy.selectItem(codes, codes.findIndex(item => item.codeId === code.codeId));
                });
        }

        function resetCodes() {
            duice.ObjectProxy.reset(codeSearch);
            getCodes();
        }

        function getCode(codeId) {
            let url = new URL(/*[[@{/admin/code/get-code}]]*/'', document.location.origin);
            url.searchParams.append('codeId', codeId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(code, data);
                    duice.ObjectProxy.setDisableAll(code, false);
                    duice.ObjectProxy.setReadonly(code, 'codeId', true);
                    code._new = false;
                });
        }

        function createCode() {
            duice.ObjectProxy.clear(code);
            duice.ObjectProxy.assign(code, {
                _new: true
            });
            duice.ObjectProxy.setDisableAll(code, false);
            duice.ObjectProxy.setReadonly(code, 'codeId', false);
            duice.ObjectProxy.focus(code, 'codeId');
        }

        async function validateCodeId(codeId) {
            // check blank
            if (!codeId) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.code.Code.codeId})}]]*/'');
                duice.ObjectProxy.focus(code, 'codeId');
                return false;
            }

            // check duplicated id
            let url = new URL(/*[[@{/admin/code/get-code}]]*/'', document.location.origin);
            url.searchParams.append('codeId', codeId);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let code = await response.json();
                if (code) {
                    await _alert(/*[[#{web.global.itemAlreadyExist(#{core.code.Code.codeId})}]]*/'');
                    return false;
                }
            }

            // return true
            return true;
        }

        async function saveCode() {
            // if new, checks id
            if (code._new) {
                if (!await validateCodeId(code.codeId)) {
                    return false;
                }
            }

            // checks code name
            if(_isEmpty(code.codeName)) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.code.Code.codeName})}]]*/'');
                duice.ObjectProxy.focus(code, 'codeName');
                return false;
            }

            // check items
            for (const codeItem of code.codeItems) {
                if(_isEmpty(codeItem.itemId)) {
                    await _alert(/*[[#{web.global.itemEmpty(#{core.code.CodeItem.itemId})}]]*/'');
                    duice.ObjectProxy.focus(codeItem, 'itemId');
                    return false;
                }
            }

            // call save
            _confirm(/*[[#{web.global.saveItemConfirm(#{core.code.Code})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(/*[[@{/admin/code/save-code}]]*/'', document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(code)
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.saveItemComplete(#{core.code.Code})}]]*/).then(() => {
                                getCodes();
                                getCode(code.codeId);
                            });
                        }
                    });
                }
            });
        }

        function deleteCode() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{core.code.Code})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(/*[[@{/admin/code/delete-code}]]*/'', document.location.origin);
                    url.searchParams.append('codeId', code.codeId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{core.code.Code})}]]*/'').then(() => {
                                getCodes();
                                duice.ObjectProxy.clear(code);
                            });
                        }
                    })
                }
            });
        }

        function addCodeItem() {
            code.codeItems.push({});
        }

        function removeCodeItem(index) {
            code.codeItems.splice(index, 1);
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getCodes();
        });
    </script>

    <!-- ================================== -->
    <!-- start: title                       -->
    <!-- ================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-code.svg}" alt="code"/>
        <span data-th-text="#{web.admin.code}"></span>
    </h1>
    <!-- ================================== -->
    <!-- end: title                         -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: code content                -->
    <!-- ================================== -->
    <div id="codeContent" class="display--grid grid-template-columns--12 grid-gap--1em">

        <!-- ================================== -->
        <!-- start: code list                   -->
        <!-- ================================== -->
        <div id="codeList" class="grid-column--5 s__grid-column--12">
            <div class="display--grid grid-gap--1em border--1 padding--1em">
                <h2>
                <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                <span data-th-text="#{core.code.Code}+' '+#{web.global.list}"></span>
            </h2>
            <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em padding-y--1em s__padding-y--0">
                <label class="grid-column--2 s__grid-column--4">
                    <select class="width--100" data-duice-bind="codeSearch" data-duice-property="key">
                        <option value="codeId" th:text="#{core.code.Code.codeId}"></option>
                        <option value="codeName" th:text="#{core.code.Code.codeName}"></option>
                    </select>
                </label>
                <label class="grid-column--4 s__grid-column--8">
                    <input class="width--100" type="text" data-duice-bind="codeSearch" data-duice-property="value"
                           th:placeholder="#{web.global.keyword}"/>
                </label>
                <div class="grid-column--6 s__grid-column--12 justify-self--end">
                    <button type="submit" onclick="getCodes();">
                        <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                            <span data-th-text="#{web.global.search}">Search</span>
                        </button>
                        <button type="button" onclick="resetCodes();">
                            <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                            <span data-th-text="#{web.global.reset}">Reset</span>
                        </button>
                    </div>
                </form>
                <div class="overflow-x--auto padding-y--1em s__padding-y--0">
                    <table class="width--100">
                        <colgroup>
                            <col style="width:5rem;"/>
                            <col/>
                            <col/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                            <th data-th-text="#{core.code.Code.codeId}"></th>
                            <th data-th-text="#{core.code.Code.codeName}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="codes" data-duice-loop="code,status" data-duice-selected-item-class="selected" data-duice-execute="
                            this.dataset.id=code.codeId;
                            " onclick="getCode(this.dataset.id);" class="link">
                            <td data-duice-bind="status" data-duice-property="count"
                                class="text-align--center"></td>
                            <td data-duice-bind="code" data-duice-property="codeId"></td>
                            <td data-duice-bind="code" data-duice-property="codeName"></td>
                        </tr>
                        <tr data-duice-bind="codes" data-duice-execute="if(codes.length === 0) this.hidden=false;" hidden>
                            <td colspan="100%" class="text-align--center">No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="display--grid grid-template-columns--3 padding-y--1em s__padding-y--0">
                    <div class="grid-column--1 font-size--smaller">
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="codeSearch" data-duice-property="_count"
                              data-duice-format="number(0)"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <div class="grid-column--1 justify-self--center">
                        <duice-pagination
                                data-duice-bind="codeSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-count-property="_count"
                                data-duice-onclick="getCodes(this.dataset.page);">
                        </duice-pagination>
                    </div>
                    <div class="grid-column--1 justify-self--end">
                        <button type="button" onclick="createCode();">
                            <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="create"/>
                            <span data-th-text="#{web.global.create}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: code list                     -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: code detail                 -->
        <!-- ================================== -->
        <div id="codeDetail" class="grid-column--7 s__grid-column--12">
            <div class="display--grid grid-gap--1em border--1 padding--1rem">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
                    <span data-th-text="#{core.code.Code}+' '+#{web.global.detail}"></span>
                </h2>
                <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em padding-y--1em s__padding-y--0">
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{core.code.Code.codeId}" class="font-weight--bold tag-required"></span>
                        <input type="text" data-duice-bind="code" data-duice-property="codeId"
                               class="width--100 font-weight--bold"/>
                    </label>
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{core.code.Code.codeName}" class="font-weight--bold tag-required"></span>
                        <input type="text" data-duice-bind="code" data-duice-property="codeName"
                               class="width--100"/>
                    </label>
                    <label class="grid-column--12">
                        <span data-th-text="#{core.code.Code.note}" class="font-weight--bold"></span>
                        <textarea data-duice-bind="code" data-duice-property="note" rows="5"
                                  class="width--100"></textarea>
                    </label>
                    <div class="grid-column--12">
                        <span data-th-text="#{core.code.Code.items}" class="font-weight--bold"></span>
                        <div class="overflow-y--scroll" style="max-height:calc(40rem - 2px);">
                            <table class="width--100">
                                <colgroup>
                                    <col style="width:3rem;"/>
                                    <col/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align--center">
                                        <button type="button" class="small" onclick="addCodeItem();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.code.CodeItem.itemId}"></th>
                                    <th data-th-text="#{core.code.CodeItem.itemName}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="code.codeItems" data-duice-loop="codeItem,status">
                                    <td class="text-align--center">
                                        <button type="button" class="small"
                                                data-duice-bind="codeItem"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeCodeItem(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                                        </button>
                                    </td>
                                    <td>
                                        <input type="text" data-duice-bind="codeItem" data-duice-property="itemId" class="width--100 font-weight--bold"/>
                                    </td>
                                    <td>
                                        <input type="text" data-duice-bind="codeItem" data-duice-property="itemName" class="width--100"/>
                                    </td>
                                </tr>
                                <tr data-duice-bind="code.codeItems"
                                    data-duice-if="return (code.codeItems.length < 1);"
                                    hidden>
                                    <td colspan="100%" class="text-align--center font-size--smaller">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="display--grid grid-template-columns--2 grid-gap--1em padding-y--1em s__padding-y--0">
                    <div class="grid-column--1"></div>
                    <div class="grid-column--1 justify-self--end">
                        <button type="button" onclick="deleteCode();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_CODE_EDIT'')')}?'locked'"
                                data-duice-bind="code"
                                data-duice-execute="(code.codeId && !code._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                            <span data-th-text="#{web.global.delete}"></span>
                        </button>
                        <button type="button" onclick="saveCode();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_CODE_EDIT'')')}?'locked'"
                                data-duice-bind="code"
                                data-duice-execute="(code.codeId || code._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                            <span data-th-text="#{web.global.save}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: code detail                   -->
        <!-- ================================== -->

    </div>
    <!-- ================================== -->
    <!-- end: code content                  -->
    <!-- ================================== -->

</th:block>
