<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/nprogress/nprogress.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/nprogress/nprogress.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/duice/duice.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/web.js?version={version}(version=${_scriptVersion})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/web.css?version={version}(version=${_scriptVersion})}"/>
    <style>
        html {
            width: 100%;
            height: 100%;
        }
        body {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 75%;
        }
        main {
            justify-self: center;
            align-self: center;
        }
        @media screen and (max-width: 1023px) {
            body {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 100%;
            }
        }
        #_brand,
        #_brand * {
            height: 2rem;
            vertical-align: middle;
            font-weight: bold;
        }
        #login {
            width: 300px;
            padding: 1em;
        }
    </style>
    <script th:inline="javascript">
        const login = new duice.ObjectProxy({
            username: null,
            password: null,
            message: null
        });

        async function requestLogin() {
            if(_isEmpty(login.username)){
                await _alert([[#{web.global.itemEmpty(#{core.user.User.userId})}]]);
                duice.ObjectProxy.focus(login, 'username');
                return false;
            }
            if(_isEmpty(login.password)){
                await _alert([[#{web.global.itemEmpty(#{core.user.User.password})}]]);
                duice.ObjectProxy.focus(login, 'password');
                return false;
            }

            // request login
            let url = new URL([[@{/admin/login/process}]], document.location.origin);
            let payload = new URLSearchParams();
            payload.append('username', login.username);
            payload.append('password', login.password);
            _fetch(url, {
                method: 'POST',
                body: payload
            }, true).then(async function (response) {
                if (response.ok) {
                    document.location.href = [[@{/admin}]];
                } else {
                    let json = await response.json();
                    login.message = json.message;
                    duice.ObjectProxy.focus(login, 'usernmae');
                }
            });
        }
    </script>
</head>
<body>

<!-- ================================== -->
<!-- start: main                        -->
<!-- ================================== -->
<main>
    <!-- ================================== -->
    <!-- start: login                       -->
    <!-- ================================== -->
    <div id="login" class="border-1">
        <h1 class="text-align-center">
            <div id="_brand">
                <img class="icon" th:src="@{/static/image/logo-arch4j.png}"/>
            </div>
        </h1>
        <form onsubmit="return false;" class="grid grid-template-columns-12 grid-gap-1em padding-1em">
            <label class="grid-column-12">
                <input type="text" autocomplete="off"
                       data-duice-bind="login" data-duice-property="username"
                       class="width-100 text-align-center font-weight-bold"
                       th:placeholder="#{web.admin.login.userId}"/>
            </label>
            <label class="grid-column-12">
                <input type="password" autocomplete="off"
                       data-duice-bind="login" data-duice-property='password'
                       class="width-100 text-align-center"
                       th:placeholder="#{web.admin.login.password}"/>
            </label>
            <div class="grid-column-12">
                <button onclick="requestLogin();" class="width-100">
                    <img class="icon" th:src="@{/static/image/icon-login.svg}">
                    <span data-th-text="#{web.global.login}"></span>
                </button>
            </div>
            <div class="grid-column-12 text-align-center">
                <span data-duice-bind="login" data-duice-property="message"></span>
            </div>
            <div class="grid-column-12 text-align-right">
                <label>
                    <img th:src="@{/static/image/icon-language.svg}" class="icon"/>
                    <select onchange="_changeLanguage(this.value);">
                        <option>- language -</option>
                        <option th:each="locale : ${_locales}" th:value="${locale.language}" th:text="${locale.displayLanguage}" th:selected="${locale.language == _locale.language}"></option>
                    </select>
                </label>
            </div>
        </form>
    </div>
    <!-- ================================== -->
    <!-- end: login                         -->
    <!-- ================================== -->
</main>
<!-- ================================== -->
<!-- end: main                          -->
<!-- ================================== -->
</body>
</html>