<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script>
        // search condition
        const menuSearch = new duice.ObjectProxy({
            key: 'menuId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // data
        const menus = new duice.ArrayProxy([]);
        const menu = new duice.ObjectProxy({
            parentMenu: {},
            roles: []
        });
        duice.ObjectProxy.setDisableAll(menu, true);

        /**
         * getMenus
         */
        function getMenus(page) {
            if(page) {
                menuSearch._page = page;
            }
            let url = new URL("[[@{/admin/menu/get-menus}]]", document.location.origin);
            if (menuSearch.key && menuSearch.value) {
                url.searchParams.append(menuSearch.key, menuSearch.value);
            }
            url.searchParams.append('_page', menuSearch._page);
            url.searchParams.append('_size', menuSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(menus);
                    duice.ArrayProxy.assign(menus, data.content);
                    menuSearch._count = data.totalElements;

                    // select current item
                    duice.ArrayProxy.selectItem(menus, menus.findIndex(item => item.menuId === menu.menuId));
                });
        }

        /**
         * resetMenus
         */
        function resetMenus() {
            duice.ObjectProxy.reset(menuSearch);
            getMenus();
        }

        /**
         * getMenu
         * @param menuId
         */
        function getMenu(menuId) {
            let url = new URL('[[@{/admin/menu/get-menu}]]', document.location.origin);
            url.searchParams.append('menuId', menuId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.setDisableAll(menu, false);
                    duice.ObjectProxy.assign(menu, data);
                    duice.ObjectProxy.setReadonly(menu, 'menuId', true);
                });
        }

        /**
         * creates menu
         */
        function createMenu() {
            duice.ObjectProxy.clear(menu);
            duice.ObjectProxy.assign(menu, {});
        }

        /**
         * save menu
         */
        async function saveMenu() {

            // check name
            if(_isEmpty(menu.name)) {
                await _alert('[[#{web.global.itemEmpty(#{core.menu.Menu.name})}]]');
                duice.ObjectProxy.focus(menu, 'name');
                return;
            }

            // calls save
            _confirm('[[#{web.global.saveItemConfirm(#{core.menu.Menu})}]]').then(result => {
                if(result) {
                    let url = new URL('[[@{/admin/menu/save-menu}]]', document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type' : 'application/json'
                        },
                        body: JSON.stringify(menu)
                    }).then(response => {
                        if(response.ok) {
                            _alert('[[#{web.global.saveItemComplete(#{core.menu.Menu})}]]').then(() => {
                                getMenus();
                            });
                        }
                    });
                }
            });
        }

        /**
         * delete menu
         */
        function deleteMenu() {
            _confirm('[[#{web.global.deleteItemConfirm(#{core.menu.Menu})}]]').then(result => {
                if(result) {
                    let url = new URL('[[@{/admin/menu/delete-menu}]]', document.location.origin);
                    url.searchParams.append('menuId', menu.id);
                    _fetch(url).then(response => {
                        if(response.ok) {
                            _alert('[[#{web.global.deleteItemComplete(#{core.menu.Menu})}]]').then(() => {
                                getMenus();
                            });
                        }
                    })
                }
            });
        }

        /**
         * select parent id
         */
        function selectParentId() {
            let disabledMenuIds = [ menu.menuId ];
            menuSelect.open(disabledMenuIds).then(selectedMenu => {
                menu.parentMenuId = selectedMenu.menuId;
                menu.parentMenuName = selectedMenu.name;
            });
        }

        /**
         * adds menu role
         */
        async function addMenuRole() {
            let disabledRoleIds = [];
            menu.roles.forEach(role=>{
                disabledRoleIds.push(role.roleId);
            });
            let selectedRoles = await roleSelect.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                menu.roles.push(role);
            });
        }

        /**
         * removes menu role
         * @param index
         */
        function removeMenuRole(index) {
            menu.roles.splice(index, 1);
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getMenus();
        });
    </script>
    <style>
        .menu-item {
            padding-left: 0.5em;
        }
        .menu-item:hover {
            background-color: #f7f7f7;
        }
        .menu-item::before {
            content: "";
            background-image: url('[[@{/static/image/icon-folder-close.svg}]]');
            background-size: 1em 1em;
            display: inline-block;
            width: 1em;
            height: 1em;
        }
        .selected > .menu-item::before {
            background-image: url('[[@{/static/image/icon-folder-open.svg}]]');
        }
        .selected > .menu-item {
            background-color: #f7f7f7;
        }
    </style>
    <h1>
        <img class="icon" th:src="@{/static/image/icon-menu.svg}"/>
        <span data-th-text="#{web.admin.menu}"></span>
    </h1>
    <div class="container gap-column-1rem">
        <div class="col-6 col-s-12">
            <!-- list of menu -->
            <div class="container border-1 padding-1rem margin-bottom-1px">
                <div class="col-12">
                    <div class="container padding-1px">
                        <div class="col-10">
                            <h2>
                                <img class="icon" th:src="@{/static/image/icon-list.svg}"/>
                                <span data-th-text="#{web.global.list}"></span>
                            </h2>
                        </div>
                        <div class="col-2 justify-right">
                            <button onclick="createMenu();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MENU_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}"/>
                                <span data-th-text="#{web.global.create}"></span>
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <div data-duice-bind="menus" data-duice-loop="menu,status" data-duice-hierarchy="menuId,parentMenuId" data-duice-selected-item-class="selected"
                         data-duice-script="
                    this.dataset.menuId = menu.menuId;
                    if(menu.parentMenuId) {
                        this.style.marginLeft=status.depth + 'em';
                    }
                    ">
                        <div data-duice-bind="menu" data-duice-script="this.dataset.menuId = menu.menuId;"
                             onclick="getMenu(this.dataset.menuId);" class="link menu-item">
                            <img data-duice-bind="menu" data-duice-property="icon" class="icon"
                                 th:src="@{/static/image/icon-null.svg}"/>
                            <span data-duice-bind="menu" data-duice-property="name" class="font-weight-bold"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-s-12">
            <div class="container border-1 padding-1rem margin-bottom-1px">
                <div class="col-12">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-open.svg}"/>
                        <span data-th-text="#{web.global.detail}"></span>
                    </h2>
                    <div class="container gap-1px gap-column-1rem">
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.name}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="text" data-duice-bind="menu" data-duice-property="name" class="font-weight-bold width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.parentMenu}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <div class="container">
                                <input class="col-11" data-duice-bind="menu" data-duice-property="parentMenuName"
                                       disabled="disabled"/>
                                <button class="col-1" onclick="selectParentId();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MENU_EDIT'')')}?'locked'">
                                    <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                                </button>
                            </div>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.link}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <input type="text" data-duice-bind="menu" data-duice-property="link" class="width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.target}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <select data-duice-bind="menu" data-duice-property="target">
                                <option>_self</option>
                                <option value="_blank">_blank</option>
                            </select>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.icon}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <img class="icon" th:src="@{/static/image/icon-null.svg}"
                                 data-duice-bind="menu"
                                 data-duice-property="icon"
                                 data-duice-editable="true"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.sort}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <input type="number" data-duice-bind="menu" data-duice-property="sort"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.note}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                        <textarea data-duice-bind="menu" data-duice-property="note" rows="3"
                                  class="width-100 height-100"></textarea>
                        </div>

                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.menu.Menu.roles}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <div class="overflow-y-scroll border-1" style="max-height:calc(10rem - 2px);">
                                <table class="width-100 border-0">
                                    <colgroup>
                                        <col style="width:70px;"/>
                                        <col/>
                                        <col/>
                                        <col style="width:35px;"/>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                                        <th data-th-text="#{core.role.Role.roleId}"></th>
                                        <th data-th-text="#{core.role.Role.name}"></th>
                                        <th class="text-align-center">
                                            <button onclick="addMenuRole();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MENU_EDIT'')')}?'locked'">
                                                <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-duice-bind="menu.roles" data-duice-loop="role,status">
                                        <td data-duice-bind="status" data-duice-property="count"
                                            class="text-align-center"></td>
                                        <td data-duice-bind="role" data-duice-property="roleId"
                                            class="font-weight-bold"></td>
                                        <td data-duice-bind="role" data-duice-property="name"></td>
                                        <td class="text-align-center">
                                            <button data-duice-bind="role"
                                                    data-duice-script="this.dataset.index=status.index;"
                                                    onclick="removeMenuRole(this.dataset.index);"
                                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MENU_EDIT'')')}?'locked'">
                                                <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr data-duice-bind="menu.roles"
                                        data-duice-script="if(menu.roles.length === 0) this.hidden=false;" hidden>
                                        <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12 justify-right">
                            <button onclick="deleteMenu();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MENU_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}"/>
                                <span data-th-text="#{web.global.delete}"></span>
                            </button>
                            <button onclick="saveMenu();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MENU_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-save.svg}"/>
                                <span data-th-text="#{web.global.save}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- menuSelect -->
    <dialog id="menuSelect">
        <style>
            #menuSelect {
                min-width: 20rem;
                padding: 1.5rem;
            }
        </style>
        <script>
            const menuSelect = {
                dialog: new duice.dialog.Dialog(document.getElementById('menuSelect')),
                disabledMenuIds : null,
                menuSearch: new duice.ObjectProxy({
                    key: 'menuId',
                    value: null,
                    _page: 0,
                    _size: 5,
                    _count: 0
                }),
                menus: new duice.ArrayProxy([]),
                /**
                 * open
                 * @param disabledMenuIds
                 */
                open: async function(disabledMenuIds) {
                    if(disabledMenuIds) {
                        this.disabledMenuIds = disabledMenuIds;
                    }else{
                        this.disabledMenuIds = [];
                    }
                    this.getMenus();
                    return this.dialog.open();
                },
                /**
                 * getMenus
                 */
                getMenus: function() {
                    let url = new URL('[[@{/admin/menu/get-menus}]]',document.location.origin);
                    _fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            duice.ArrayProxy.clear(this.menus);
                            duice.ArrayProxy.assign(this.menus, data.content);
                            this.menuSearch._count = data.totalElements;
                            // check already selected
                            this.menus.forEach(menu => {
                                if(this.disabledMenuIds.includes(menu.id)){
                                    menu['_selected'] = true;
                                }
                            });
                        });
                },
                /**
                 * select menu
                 * @param menuId selected menu id
                 */
                selectMenu: function(menuId) {
                    let selectedMenu = this.menus.filter(menu => {
                        if(menu.menuId === menuId) {
                            return menu;
                        }
                    })[0];
                    this.dialog.resolve(selectedMenu);
                }
            }
        </script>
        <h1>
            <img class="icon" th:src="@{/static/image/icon-menu.svg}"/>
            <span data-th-text="#{core.menu.Menu}"></span>
        </h1>
        <hr/>
        <div class="overflow-x-scroll">
            <div data-duice-bind="menuSelect.menus" data-duice-loop="menu,status" data-duice-hierarchy="menuId,parentMenuId"
                 data-duice-script="
                    this.dataset.menuId = menu.menuId;
                    if(menu.parentMenuId) {
                        this.style.marginLeft='1rem';
                    }
                ">
                <div>
                    <a href="#" data-duice-bind="menu" data-duice-script="
                        this.dataset.menuId = menu.menuId;
                        if(menuSelect.disabledMenuIds.includes(menu.menuId)) {
                            this.style.opacity = '0.5';
                            this.style.pointerEvents = 'none';
                        }
                        " onclick="menuSelect.selectMenu(this.dataset.menuId);">
                        <img data-duice-bind="menu" data-duice-property="icon" class="icon" th:src="@{/static/image/icon-null.svg}"/>
                        <span data-duice-bind="menu" data-duice-property="name" class="font-weight-bold"></span>
                    </a>
                </div>
            </div>
        </div>
    </dialog>

    <!-- roleSelect -->
    <dialog id="roleSelect">
        <style>
            #roleSelect {
                width: 700px;
                padding: 1.5rem;
            }
        </style>
        <script>
            const roleSelect = {
                dialog: new duice.dialog.Dialog(document.getElementById('roleSelect')),
                disabledRoleIds : null,
                roleSearch: new duice.ObjectProxy({
                    key: 'menuId',
                    value: null,
                    _page: 0,
                    _size: 5,
                    _count: 0
                }),
                roles: new duice.ArrayProxy([]),
                selectedRoles: new duice.ArrayProxy([]),
                /**
                 * open
                 * @param disabledRoleIds
                 */
                open: async function(disabledRoleIds) {
                    if(disabledRoleIds) {
                        this.disabledRoleIds = disabledRoleIds;
                    }else{
                        this.disabledRoleIds = [];
                    }
                    duice.ArrayProxy.clear(this.selectedRoles);
                    this.getRoles(0);
                    return this.dialog.open();
                },
                /**
                 * getRoles
                 * @param page
                 */
                getRoles: function(page) {
                    if(page) {
                        this.roleSearch._page = page;
                    }
                    let url = new URL('[[@{/admin/menu/get-roles}]]',document.location.origin);
                    if(this.roleSearch.key && this.roleSearch.value) {
                        url.searchParams.append(this.roleSearch.key, this.roleSearch.value);
                    }
                    url.searchParams.append('_page', this.roleSearch._page);
                    url.searchParams.append('_size', this.roleSearch._size);
                    _fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            duice.ArrayProxy.clear(this.roles);
                            duice.ArrayProxy.assign(this.roles, data.content);
                            this.roleSearch._count = data.totalElements;
                            // check already selected
                            this.roles.forEach(role => {
                                if(this.disabledRoleIds.includes(role.roleId)){
                                    role['_selected'] = true;
                                }
                                this.selectedRoles.forEach(element => {
                                    if(element.roleId === role.roleId) {
                                        role['_selected'] = true;
                                    }
                                });
                            });
                        });
                },
                /**
                 * resetRoles
                 */
                resetRoles: function() {
                    duice.ObjectProxy.reset(this.roleSearch);
                    this.getRoles();
                },
                /**
                 * select role
                 * @param index
                 */
                selectRole: function(index) {
                    console.log('== index', index);
                    let role = JSON.parse(JSON.stringify(this.roles[index]));
                    this.selectedRoles.push(role);
                    this.roles.forEach(element => {
                        if(element.roleId === role.roleId) {
                            element['_selected'] = true;
                            return false;
                        }
                    });
                },
                /**
                 * deselect role
                 * @param index
                 */
                deselectRole: async function(index) {
                    let role = this.selectedRoles[index];
                    this.selectedRoles.splice(index, 1);
                    this.roles.forEach(element => {
                        if(element.roleId === role.roleId) {
                            element['_selected'] = false;
                            return false;
                        }
                    });
                },
                /**
                 * confirm
                 */
                confirm: function() {
                    this.dialog.resolve(this.selectedRoles);
                }
            }
        </script>
        <h1>
            <img class="icon" th:src="@{/static/image/icon-role.svg}"/>
            <span data-th-text="#{core.role.Role}"></span>
        </h1>
        <hr/>
        <div class="container gap-1px margin-1px">
            <form onsubmit="return false;" class="col-12 container gap-1px">
                <select data-duice-bind="roleSelect.roleSearch" data-duice-property="key" class="col-1">
                    <option value="roleId" th:text="#{core.role.Role.roleId}"></option>
                    <option value="name" th:text="#{core.role.Role.name}"></option>
                </select>
                <input type="text" data-duice-bind="roleSelect.roleSearch" data-duice-property="value" class="col-2"/>
                <button onclick="roleSelect.getRoles();" class="col-1">
                    <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                    <span data-th-text="#{web.global.search}">Search</span>
                </button>
                <button onclick="roleSelect.resetRoles();" class="col-1">
                    <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                    <span data-th-text="#{web.global.reset}">Reset</span>
                </button>
            </form>
        </div>
        <div class="overflow-x-scroll border-1">
            <table class="border-0">
                <colgroup>
                    <col style="width:70px;"/>
                    <col style="width:30%;"/>
                    <col/>
                    <col style="width:35px;"/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                    <th data-th-text="#{core.role.Role.roleId}"></th>
                    <th data-th-text="#{core.role.Role.name}"></th>
                    <th class="text-align-center">-</th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="roleSelect.roles" data-duice-loop="role,status">
                    <td data-duice-bind="status" data-duice-property="count" class="text-align-center"></td>
                    <td data-duice-bind="role" data-duice-property="roleId" class="font-weight-bold"></td>
                    <td data-duice-bind="role" data-duice-property="name"></td>
                    <td class="text-align-center">
                        <button data-duice-bind="role"
                                data-duice-script="
                            this.dataset.index = status.index;
                            if(role._selected) {
                                this.disabled = true;
                            }"
                                onclick="roleSelect.selectRole(this.dataset.index);">
                            <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                        </button>
                    </td>
                </tr>
                <tr data-duice-bind="roleSelect.roles"
                    data-duice-script="if(roleSelect.roles.length === 0) this.hidden=false;" hidden>
                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="col-4"></div>
            <div class="col-4 justify-center">
                <duice-pagination
                        data-duice-bind="roleSelect.roleSearch"
                        data-duice-size-property="_size"
                        data-duice-page-property="_page"
                        data-duice-count-property="_count"
                        data-duice-onclick="roleSelect.getRoles(this.dataset.page);">
                </duice-pagination>
            </div>
            <div class="col-4 justify-right">
                <span data-th-text="#{web.global.total}"></span>
                <span data-duice-bind="roleSelect.roleSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                <span data-th-text="#{web.global.rows}"></span>
            </div>
        </div>
        <div class="border-1 overflow-x-scroll">
            <table class="border-0">
                <colgroup>
                    <col style="width:70px;"/>
                    <col style="width:30%;"/>
                    <col/>
                    <col style="width:35px;"/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                    <th data-th-text="#{core.role.Role.roleId}"></th>
                    <th data-th-text="#{core.role.Role.name}"></th>
                    <th class="text-align-center">-</th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="roleSelect.selectedRoles" data-duice-loop="role,status">
                    <td data-duice-bind="status" data-duice-property="count" class="text-align-center"></td>
                    <td data-duice-bind="role" data-duice-property="roleId" class="font-weight-bold"></td>
                    <td data-duice-bind="role" data-duice-property="name"></td>
                    <td class="text-align-center">
                        <button data-duice-bind="role"
                                data-duice-script="this.dataset.index = status.index;"
                                onclick="roleSelect.deselectRole(this.dataset.index);">
                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                        </button>
                    </td>
                </tr>
                <tr data-duice-bind="roleSelect.selectedRoles"
                    data-duice-script="if(roleSelect.selectedRoles.length === 0) this.hidden=false;" hidden>
                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container padding-1px">
            <div class="col-12 justify-right">
                <button onclick="roleSelect.confirm();">
                    <img class="icon" th:src="@{/static/image/icon-confirm.svg}"/>
                    <span data-th-text="#{web.global.confirm}"></span>
                </button>
            </div>
        </div>
    </dialog>

</main>