<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // message search condition
        const messageSearch = new duice.ObjectProxy({
            key: 'messageId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // message list
        const messages = new duice.ArrayProxy([]);

        // message
        const message = new duice.ObjectProxy({});
        duice.ObjectProxy.setDisableAll(message, true);
        duice.ObjectProxy.onPropertyChanging(message, async event => {
            if (event.getProperty() === 'messageId') {
                if (!await validateMessageId(event.getValue())) {
                    duice.ObjectProxy.focus(message, 'messageId');
                    return false;
                }
            }
            return true;
        });

        /**
         * getMessages
         * @param page page
         */
        function getMessages(page) {
            if(page) {
                messageSearch._page = page;
            }
            let url = new URL([[@{/admin/message/get-messages}]], document.location.origin);
            if (messageSearch.key && messageSearch.value) {
                url.searchParams.append(messageSearch.key, messageSearch.value);
            }
            url.searchParams.append('_page', messageSearch._page);
            url.searchParams.append('_size', messageSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(messages);
                    duice.ArrayProxy.assign(messages, data.content);
                    messageSearch._count = data.totalElements;

                    // select current item
                    duice.ArrayProxy.selectItem(messages, messages.findIndex(item => item.messageId === message.messageId));
                });
        }

        /**
         * resetMessages
         */
        function resetMessages() {
            duice.ObjectProxy.reset(messageSearch);
            getMessages();
        }

        /**
         * getMessage
         * @param messageId message.messageId
         */
        function getMessage(messageId) {
            let url = new URL([[@{/admin/message/get-message}]], document.location.origin);
            url.searchParams.append('messageId', messageId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(message, data);
                    duice.ObjectProxy.setDisableAll(message, false);
                    duice.ObjectProxy.setReadonly(message, 'messageId', true);
                    message._new = false;
                });
        }

        /**
         * createMessage
         */
        function createMessage() {
            duice.ObjectProxy.clear(message);
            duice.ObjectProxy.assign(message, {
                _new: true
            });
            duice.ObjectProxy.setDisableAll(message, false);
            duice.ObjectProxy.setReadonly(message, 'messageId', false);
            duice.ObjectProxy.focus(message, 'messageId');
        }

        /**
         * validateMessageId
         * @param messageId message.messageId
         * @returns {Promise<boolean>}
         */
        async function validateMessageId(messageId) {

            // check blank
            if (!messageId) {
                await _alert([[#{web.global.itemEmpty(#{core.message.Message.messageId})}]]);
                duice.ObjectProxy.focus(message, 'messageId');
                return false;
            }

            // check duplicated id
            let url = new URL([[@{/admin/message/get-message}]], document.location.origin);
            url.searchParams.append('messageId', messageId);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let message = await response.json();
                if (message) {
                    await _alert([[#{web.global.itemAlreadyExist(#{core.message.Message.messageId})}]]);
                    return false;
                }
            }

            // return true
            return true;
        }

        /**
         * saveMessage
         */
        async function saveMessage() {

            // if new, checks id
            if (message._new) {
                if (!await validateMessageId(message.messageId)) {
                    return false;
                }
            }

            // checks name
            if (!message.name || message.name.trim().length < 1) {
                await _alert([[#{web.global.itemEmpty(#{core.message.Message.name})}]]);
                duice.ObjectProxy.focus(message, 'name');
                return false;
            }

            // call save
            _confirm([[#{web.global.saveItemConfirm(#{core.message.Message})}]]).then(result => {
                if (result) {
                    let url = new URL([[@{/admin/message/save-message}]], document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(message)
                    }).then(response => {
                        if (response.ok) {
                            _alert([[#{web.global.saveItemComplete(#{core.message.Message})}]]).then(() => {
                                getMessages();
                                getMessage(message.messageId);
                            });
                        }
                    });
                }
            });
        }

        /**
         * deleteMessage
         */
        function deleteMessage() {
            _confirm([[#{web.global.deleteItemConfirm(#{core.message.Message})}]]).then(result => {
                if (result) {
                    let url = new URL([[@{/admin/message/delete-message}]], document.location.origin);
                    url.searchParams.append('messageId', message.messageId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert([[#{web.global.deleteItemComplete(#{core.message.Message})}]]).then(() => {
                                getMessages();
                                duice.ObjectProxy.clear(message);
                            });
                        }
                    })
                }
            });
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getMessages();
        });
    </script>
    <h1>
        <img class="icon" th:src="@{/static/image/icon-message.svg}"/>
        <span data-th-text="#{web.admin.message}"></span>
    </h1>
    <div class="container gap-column-1rem gap-row-1rem">
        <div class="col-6 col-s-12">
            <!-- list of message -->
            <div class="container border-1 padding-1rem">
                <div class="col-12">
                    <div class="container padding-1px">
                        <div class="col-8">
                            <h2>
                                <img class="icon" th:src="@{/static/image/icon-list.svg}"/>
                                <span data-th-text="#{web.global.list}"></span>
                            </h2>
                        </div>
                        <div class="col-4 justify-right">
                            <button onclick="createMessage();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MESSAGE_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}"/>
                                <span data-th-text="#{web.global.create}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="container gap-1px margin-x-1px">
                        <form onsubmit="return false;" class="col-12 container gap-1px">
                            <select data-duice-bind="messageSearch" data-duice-property="key" class="col-1 col-s-4">
                                <option value="messageId" th:text="#{core.message.Message.messageId}"></option>
                                <option value="name" th:text="#{core.message.Message.name}"></option>
                            </select>
                            <input type="text" data-duice-bind="messageSearch" data-duice-property="value"
                                   th:placeholder="#{web.global.keyword}" class="col-2 col-s-8"/>
                            <button onclick="getMessages();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                                <span data-th-text="#{web.global.search}">Search</span>
                            </button>
                            <button onclick="resetMessages();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                                <span data-th-text="#{web.global.reset}">Reset</span>
                            </button>
                        </form>
                    </div>
                    <div class="overflow-x-auto border-1">
                        <table class="border-0">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                                <th data-th-text="#{core.message.Message.messageId}"></th>
                                <th data-th-text="#{core.message.Message.name}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="messages" data-duice-loop="message,status" data-duice-selected-item-class="selected" data-duice-execute="
                            this.dataset.id=message.messageId;
                            " onclick="getMessage(this.dataset.id);" class="link">
                                <td data-duice-bind="status" data-duice-property="count"
                                    class="text-align-center"></td>
                                <td data-duice-bind="message" data-duice-property="messageId"></td>
                                <td data-duice-bind="message" data-duice-property="name"></td>
                            </tr>
                            <tr data-duice-bind="messages" data-duice-execute="if(messages.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align-center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="col-4"></div>
                        <div class="col-4 justify-center">
                            <duice-pagination
                                    data-duice-bind="messageSearch"
                                    data-duice-size-property="_size"
                                    data-duice-page-property="_page"
                                    data-duice-count-property="_count"
                                    data-duice-onclick="getMessages(this.dataset.page);">
                            </duice-pagination>
                        </div>
                        <div class="col-4 justify-right font-size-smaller">
                            <span data-th-text="#{web.global.total}"></span>
                            <span data-duice-bind="messageSearch" data-duice-property="_count"
                                  data-duice-format="number(0)"></span>
                            <span data-th-text="#{web.global.rows}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-s-12">
            <!-- message detail -->
            <div class="container border-1 padding-1rem">
                <div class="col-12">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-open.svg}"/>
                        <span data-th-text="#{web.global.detail}"></span>
                    </h2>
                    <div class="container gap-1px gap-column-1rem">
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.message.Message.messageId}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="text" data-duice-bind="message" data-duice-property="messageId"
                                   class="width-100 font-weight-bold"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.message.Message.name}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="text" data-duice-bind="message" data-duice-property="name"
                                   class="width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.message.Message.value}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <textarea data-duice-bind="message" data-duice-property="value" rows="4"
                                      class="width-100 height-100"></textarea>
                        </div>
                    </div>
                    <div class="container margin-top-1em">
                        <div class="col-12 justify-right">
                            <button onclick="deleteMessage();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MESSAGE_EDIT'')')}?'locked'"
                                    data-duice-bind="message"
                                    data-duice-execute="(message.messageId && !message._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}"/>
                                <span data-th-text="#{web.global.delete}"></span>
                            </button>
                            <button onclick="saveMessage();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_MESSAGE_EDIT'')')}?'locked'"
                                    data-duice-bind="message"
                                    data-duice-execute="(message.messageId || message._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-save.svg}"/>
                                <span data-th-text="#{web.global.save}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
