<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<th:block layout:fragment="_content">
    <script>
        let cpuChart = null;
        let memoryChart = null;
        let diskChart = null;

        /**
         * get info
         */
        function getInfo() {
            let url = new URL("[[@{/admin/monitor/get-info}]]", document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    let infoText = convertJsonToText(data);
                    console.log(infoText);
                    document.getElementById('infoText').value = infoText;
                });
        }

        /**
         * convert json to plain text
         * @param json
         * @param indent
         * @returns {string}
         * @private
         */
        function convertJsonToText(json, indent = 0) {
            const indentation = ' '.repeat(indent * 2);
            let plainText = '';
            for (let [key, value] of Object.entries(json)) {
                if (typeof value === 'object' && !Array.isArray(value)) {
                    plainText += `${indentation}${key}:\n${convertJsonToText(value, indent + 1)}\n`;
                } else if (Array.isArray(value)) {
                    plainText += `${indentation}${key}:\n`;
                    value.forEach((item) => {
                        plainText += `${indentation}  - ${convertJsoToText(item, indent + 2)}\n`;
                    });
                } else {
                    plainText += `${indentation}${key}: ${value}\n`;
                }
            }
            return plainText;
        }

        /**
         * get cpu info
         */
        function getCpu() {
            let url = new URL("[[@{/admin/monitor/get-cpu}]]", document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeCpuChart(data);
                });
        }

        /**
         * initialize cpu chart
         */
        function initializeCpuChart(cpu) {
            let labels = [];
            let usage = [];
            cpu.forEach(element => {
                labels.push(new Date(element.time));
                usage.push(element.usage)
            });
            cpuChart = new Chart(document.getElementById("cpuChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Usage',
                        data: usage,
                        fill: true,
                        borderColor: 'rgba(75,192,192,1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderWidth: 1,
                        pointStyle: 'crossRot'
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 10
                                },
                                callback: function(value, index, values) {
                                    return value + ' %';
                                }
                            }
                        }
                    }
                }
            });
        }

        /**
         * get memory info
         */
        function getMemory() {
            let url = new URL("[[@{/admin/monitor/get-memory}]]", document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeMemoryChart(data);
                });
        }

        /**
         * initialize memory chart
         * @param memory memory info
         */
        function initializeMemoryChart(memory) {
            let labels = [];
            let used = [];
            let max = [];
            memory.forEach(element => {
                labels.push(new Date(element.time));
                used.push(element.used);
                max.push(element.max);
            });

            // creates chart
            memoryChart = new Chart(document.getElementById("memoryChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Used',
                            data: used,
                            fill: true,
                            borderColor: 'rgba(75, 192, 192, 0.5)',
                            backgroundColor: 'rgba(75, 192, 192,0.2)',
                            borderWidth: 1,
                            pointStyle: 'crossRot'
                        },
                        {
                            label: 'Max',
                            data: max,
                            borderWidth: 1,
                            pointStyle: 'dash'
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 10
                                },
                                callback: function(value, index, values) {
                                    return value + ' m';
                                }
                            }
                        }
                    }
                }
            });
        }

        /**
         * getDisk
         */
        function getDisk() {
            let url = new URL("[[@{/admin/monitor/get-disk}]]", document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    initializeDiskChart(data);
                });
        }

        /**
         * initializeDiskChart
         * @param disk disk info
         */
        function initializeDiskChart(disk) {
            let labels = [];
            let used = [];
            let total = [];
            disk.forEach(element => {
                labels.push(new Date(element.time));
                used.push(element.used);
                total.push(element.total);
            });

            // creates chart
            diskChart = new Chart(document.getElementById("diskChart"), {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Used',
                            data: used,
                            fill: true,
                            borderColor: 'rgba(75, 192, 192, 0.5)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderWidth: 1,
                            pointStyle: 'crossRot'
                        },
                        {
                            label: 'Total',
                            data: total,
                            borderWidth: 1,
                            pointStyle: 'dash'
                        }
                    ]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            min: 0,
                            ticks: {
                                font: {
                                    size: 10
                                },
                                callback: function (value, index, values) {
                                    return value + ' g';
                                }
                            }
                        }
                    }
                }
            });
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getInfo();
            getCpu();
            getMemory();
            getDisk();
        });

    </script>
    <style>
        #infoText {
            padding-top: 0.5em;
            min-height: 15rem;
            line-height: 1.2em;
            background-color: black;
            color: white;
        }
    </style>

    <!-- ================================== -->
    <!-- start: title                       -->
    <!-- ================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-monitor.svg}"/>
        <span data-th-text="#{web.admin.monitor}"></span>
    </h1>
    <!-- ================================== -->
    <!-- end: title                         -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: monitorContent              -->
    <!-- ================================== -->
    <div id="monitorContent" class="grid grid-template-columns-2 s-grid-template-columns-1 grid-gap-1em">

        <!-- ================================== -->
        <!-- start: info                        -->
        <!-- ================================== -->
        <div id="info" class="grid-column-1">
            <div class="border-1 padding-1em flex flex-direction-column height-100">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-info.svg}"/>
                    <span data-th-text="#{web.admin.monitor.info}"></span>
                </h2>
                <textarea id="infoText" readonly="readonly" class="width-100 height-100"></textarea>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: info                          -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: cpu                         -->
        <!-- ================================== -->
        <div class="grid-column-1">
            <div class="border-1 padding-1em">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-cpu.svg}"/>
                    <span data-th-text="#{web.admin.monitor.cpu}"></span>
                </h2>
                <canvas id="cpuChart"></canvas>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: cpu                           -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: memory                      -->
        <!-- ================================== -->
        <div class="grid-column-1">
            <div class="border-1 padding-1em">
                <h1>
                    <img class="icon" th:src="@{/static/image/icon-memory.svg}"/>
                    <span data-th-text="#{web.admin.monitor.memory}"></span>
                </h1>
                <canvas id="memoryChart"></canvas>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: memory                        -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: disk                        -->
        <!-- ================================== -->
        <div class="grid-column-1">
            <div class="border-1 padding-1em">
                <h1>
                    <img class="icon" th:src="@{/static/image/icon-disk.svg}"/>
                    <span data-th-text="#{web.admin.monitor.disk}"></span>
                </h1>
                <canvas id="diskChart"></canvas>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: disk                          -->
        <!-- ================================== -->

    </div>
    <!-- ================================== -->
    <!-- end: monitorContent                -->
    <!-- ================================== -->

</th:block>
