<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        // page search condition
        const pageSearch = new duice.ObjectProxy({
            key: 'pageId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // page list
        const pages = new duice.ArrayProxy([]);

        // page
        const page = new duice.ObjectProxy({
            contentFormat: 'TEXT',
            pageWidgets: []
        });
        duice.ObjectProxy.setDisableAll(page, true);
        duice.ObjectProxy.onPropertyChanging(page, async event => {
            if (event.getProperty() === 'pageId') {
                if (!await validatePageId(event.getValue())) {
                    duice.ObjectProxy.focus(page, 'pageId');
                    return false;
                }
            }
            return true;
        });
        duice.ArrayProxy.onPropertyChanged(page.pageWidgets, event => {
            if(event.getProperty() === 'type') {
                if(event.getValue()) {
                    page.pageWidgets[event.getIndex()].properties = pageWidgetDefinitions
                        .filter(item => item.type === event.getValue())[0]['propertiesTemplate'];
                }
            }

            // update pageWidget URL
            if(event.getProperty() === 'type' || event.getProperty() === 'properties') {
                let url = new URL(/*[[@{/admin/pages/get-page-widget-url}]]*/'', document.location.origin);
                _fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(page.pageWidgets[event.getIndex()])
                }).then(response => response.json())
                .then(data => {
                    page.pageWidgets[event.getIndex()].url = data.url;
                });
            }
        });

        // page pageWidget definition
        const pageWidgetDefinitions = new duice.ArrayProxy([[${pageWidgetDefinitions}]]);

        /**
         * gets pages
         * @param page page number
         */
        function getPages(page) {
            if(page) {
                pageSearch._page = page;
            }
            let url = new URL(/*[[@{/admin/pages/get-pages}]]*/'', document.location.origin);
            if (pageSearch.key && pageSearch.value) {
                url.searchParams.append(pageSearch.key, pageSearch.value);
            }
            url.searchParams.append('_page', pageSearch._page);
            url.searchParams.append('_size', pageSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(pages);
                    duice.ArrayProxy.assign(pages, data.content);
                    pageSearch._count = data['totalElements'];

                    // select current item
                    duice.ArrayProxy.selectItem(pages, pages.findIndex(item => item.pageId === page.pageId));
                });
        }

        /**
         * resets pages
         */
        function resetPages() {
            duice.ObjectProxy.reset(pageSearch);
            getPages();
        }

        /**
         * gets page
         * @param pageId page id
         */
        function getPage(pageId) {
            let url = new URL(/*[[@{/admin/pages/get-page}]]*/'', document.location.origin);
            url.searchParams.append('pageId', pageId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(page, data);
                    duice.ObjectProxy.setDisableAll(page, false);
                    duice.ObjectProxy.setReadonly(page, 'pageId', true);
                    page._new = false;
                });
        }

        /**
         * creates page
         */
        function createPage() {
            duice.ObjectProxy.clear(page);
            duice.ObjectProxy.assign(page, {
                _new: true,
                contentFormat: 'TEXT'
            });
            duice.ObjectProxy.setDisableAll(page, false);
            duice.ObjectProxy.setReadonly(page, 'pageId', false);
            duice.ObjectProxy.focus(page, 'pageId');
        }

        /**
         * validates page id
         * @param pageId page id
         * @returns {Promise<boolean>}
         */
        async function validatePageId(pageId) {
            // check blank
            if (!pageId) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.page.Page.pageId})}]]*/'');
                duice.ObjectProxy.focus(page, 'pageId');
                return false;
            }

            // check duplicated id
            let url = new URL(/*[[@{/admin/pages/get-page}]]*/'', document.location.origin);
            url.searchParams.append('pageId', pageId);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let page = await response.json();
                if (page) {
                    await _alert(/*[[#{web.global.itemAlreadyExist(#{core.page.Page.pageId})}]]*/'');
                    return false;
                }
            }

            // return true
            return true;
        }

        /**
         * saves page
         * @returns {Promise<boolean>}
         */
        async function savePage() {
            // if new, checks id
            if (page._new) {
                if (!await validatePageId(page.pageId)) {
                    return false;
                }
            }

            // checks page name
            if (_isEmpty(page.name)) {
                await _alert(/*[[#{web.global.itemEmpty(#{core.page.Page.name})}]]*/'');
                duice.ObjectProxy.focus(page, 'name');
                return false;
            }

            // check pageWidget validation
            for(const pageWidget of page.pageWidgets) {
                if(_isEmpty(pageWidget.type)) {
                    await _alert(/*[[#{web.global.itemEmpty(#{core.page.PageWidget.type})}]]*/'');
                    duice.ObjectProxy.focus(pageWidget, 'type');
                    return false;
                }
            }

            // call save
            _confirm(/*[[#{web.global.saveItemConfirm(#{core.page.Page})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(/*[[@{/admin/pages/save-page}]]*/'', document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(page)
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.saveItemComplete(#{core.page.Page})}]]*/'').then(() => {
                                getPages();
                                getPage(page.pageId);
                            });
                        }
                    });
                }
            });
        }

        /**
         * adds page widget
         */
        function addPageWidget() {
            page.pageWidgets.push({});
        }

        /**
         * removes page widget
         * @param index row index
         */
        function removePageWidget(index) {
            page.pageWidgets.splice(index,1);
        }

        /**
         * deletes page
         */
        function deletePage() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{core.page.Page})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(/*[[@{/admin/pages/delete-page}]]*/'', document.location.origin);
                    url.searchParams.append('pageId', page.pageId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{core.page.Page})}]]*/'').then(() => {
                                getPages();
                                duice.ObjectProxy.clear(page);
                            });
                        }
                    })
                }
            });
        }

        /**
         * opens page
         */
        function openPage() {
            let urlPrefix = /*[[@{/page/}]]*/'';
            let url = new URL(urlPrefix + page.pageId, document.location.origin);
            window.open(url,'_blank');
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getPages();
        });
    </script>

    <!-- ================================== -->
    <!-- start: title                       -->
    <!-- ================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-page.svg}" alt="page"/>
        <span data-th-text="#{web.admin.page}"></span>
    </h1>
    <!-- ================================== -->
    <!-- end: title                         -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: page content             -->
    <!-- ================================== -->
    <div class="display--grid grid-template-columns--12 grid-gap--1em">

        <!-- ================================== -->
        <!-- start: page list                -->
        <!-- ================================== -->
        <div id="pageList" class="grid-column--5 s__grid-column--12">
            <div class="display--flex flex-direction--column border--1 padding--1em">
                <div>
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                        <span data-th-text="#{core.page.Page}+' '+#{web.global.list}"></span>
                    </h2>
                </div>
                <div class="display--flex flex-direction--column gap--1em padding--1em">
                    <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em">
                        <label class="grid-column--4">
                            <select class="width--100" data-duice-bind="pageSearch" data-duice-property="key">
                                <option value="pageId" th:text="#{core.page.Page.pageId}"></option>
                                <option value="name" th:text="#{core.page.Page.name}"></option>
                            </select>
                        </label>
                        <label class="grid-column--8">
                            <input class="width--100" type="text" data-duice-bind="pageSearch" data-duice-property="value"
                                   th:placeholder="#{web.global.keyword}"/>
                        </label>
                        <div class="grid-column--12 justify-self--end">
                            <button type="submit" onclick="getPages();">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                                <span data-th-text="#{web.global.search}">Search</span>
                            </button>
                            <button type="button" onclick="resetPages();">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                                <span data-th-text="#{web.global.reset}">Reset</span>
                            </button>
                        </div>
                    </form>
                    <div class="overflow-x--auto">
                        <table class="width--100">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                                <th data-th-text="#{core.page.Page.pageId}"></th>
                                <th data-th-text="#{core.page.Page.name}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="pages" data-duice-loop="page,status" data-duice-selected-item-class="selected" data-duice-execute="
                            this.dataset.id=page.pageId;
                            " onclick="getPage(this.dataset.id);" class="link">
                                <td data-duice-bind="status" data-duice-property="count"
                                    class="text-align--center"></td>
                                <td data-duice-bind="page" data-duice-property="pageId" class="font-weight--bold"></td>
                                <td data-duice-bind="page" data-duice-property="name"></td>
                            </tr>
                            <tr data-duice-bind="pages" data-duice-execute="if(pages.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align--center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="display--grid grid-template-columns--3 grid-gap--1em">
                        <div>
                            <span data-th-text="#{web.global.total}"></span>
                            <span data-duice-bind="pageSearch" data-duice-property="_count"
                                  data-duice-format="number(0)"></span>
                            <span data-th-text="#{web.global.rows}"></span>
                        </div>
                        <div class="justify-self--center">
                            <duice-pagination
                                    data-duice-bind="pageSearch"
                                    data-duice-size-property="_size"
                                    data-duice-page-property="_page"
                                    data-duice-count-property="_count"
                                    data-duice-onclick="getPages(this.dataset.page);">
                            </duice-pagination>
                        </div>
                        <div class="justify-self--end">
                            <button onclick="createPage();">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="create"/>
                                <span data-th-text="#{web.global.create}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: page list                  -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: page detail              -->
        <!-- ================================== -->
        <div id="pageDetail" class="grid-column--7 s__grid-column--12">
            <div class="display--flex flex-direction--column border--1 padding--1em">
                <div>
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
                        <span data-th-text="#{core.page.Page}+' '+#{web.global.detail}"></span>
                    </h2>
                </div>
                <div class="display--flex flex-direction--column gap--1em padding--1em">
                    <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em">
                        <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{core.page.Page.pageId}"
                              class="font-weight--bold tag-required"></span>
                            <input type="text" data-duice-bind="page" data-duice-property="pageId"
                                   class="width--100 font-weight--bold"/>
                        </label>
                        <label class="grid-column--6 s__grid-column--12">
                            <span data-th-text="#{core.page.Page.name}" class="font-weight--bold tag-required"></span>
                            <input type="text" data-duice-bind="page" data-duice-property="name"
                                   class="width--100"/>
                        </label>
                        <div class="grid-column--12">
                            <span data-th-text="#{core.page.Page.content}" class="font-weight--bold"></span>
                            <div>
                                <label>
                                    <input type="radio" data-duice-bind="page" data-duice-property="contentFormat" value="TEXT"/>
                                    <span data-th-text="#{core.board.ContentFormat.TEXT}" class="font-weight--bold"></span>
                                </label>
                                &nbsp;
                                <label>
                                    <input type="radio" data-duice-bind="page" data-duice-property="contentFormat" value="MARKDOWN"/>
                                    <span data-th-text="#{core.board.ContentFormat.MARKDOWN}" class="font-weight--bold"></span>
                                </label>
                            </div>
                            <label>
                                <textarea data-duice-bind="page" data-duice-if="return page.contentFormat==='TEXT'" data-duice-property="content" rows="10" class="width--100"></textarea>
                            </label>
                            <label>
                                <duice-codemirror
                                        data-duice-bind="page"
                                        data-duice-property="content"
                                        data-duice-mode="markdown"
                                        data-duice-if="return page.contentFormat==='MARKDOWN'"
                                        class="border--1 width--100">
                                </duice-codemirror>
                            </label>
                        </div>
                        <div class="grid-column--12 display--grid grid-template-columns--12 grid-gap--1em margin-top--1em">
                            <!-- ====================================== -->
                            <!-- start: page pageWidget                     -->
                            <!-- ====================================== -->
                            <div class="grid-column--6 s__grid-column--12 border--1 padding--1em display--flex flex-direction--column gap--1em" data-duice-bind="page.pageWidgets" data-duice-loop="pageWidget,status" data-duice-editable="true">
                                <label>
                                <span class="font-weight--bold tag-required" data-th-text="#{core.page.PageWidget.type}">
                                </span>
                                    <select class="width--100 font-weight--bold" data-duice-bind="pageWidget" data-duice-property="type">
                                        <option value th:text="'- '+#{web.global.select}+' -'"></option>
                                        <option th:each="pageWidgetDefinition:${pageWidgetDefinitions}" th:value="${pageWidgetDefinition.type}" th:text="${pageWidgetDefinition.name}"></option></option>
                                    </select>
                                </label>
                                <label>
                                <span class="font-weight--bold" data-th-text="#{core.page.PageWidget.properties}">
                                </span>
                                    <duice-codemirror
                                            data-duice-bind="pageWidget"
                                            data-duice-property="properties"
                                            data-duice-theme="dracula">
                                    </duice-codemirror>
                                </label>
                                <iframe class="grid-column--6 width--100 border--0 margin-x--1em" sandbox="allow-same-origin allow-scripts"
                                        data-duice-bind="pageWidget"
                                        data-duice-execute="this.src=pageWidget.url;">
                                </iframe>
                                <div class="grid-column--6 display--flex justify-content--flex-end">
                                    <button type="button" class="small"
                                            data-duice-bind="page.pageWidgets"
                                            data-duice-execute="this.dataset.index = status.index;"
                                            onclick="removePageWidget(this.dataset.index);">
                                        <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                                        <span data-th-text="#{web.global.remove}"></span>
                                    </button>
                                </div>
                            </div>
                            <!-- ====================================== -->
                            <!-- end: page pageWidget                       -->
                            <!-- ====================================== -->
                            <div class="grid-column--6 s__grid-column--12">
                                <button type="button" class="small"
                                        onclick="addPageWidget();"
                                        data-duice-bind="page"
                                        data-duice-execute="(page.pageId || page._new) ? this.disabled=false : this.disabled=true;">
                                    <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                                    <span data-th-text="#{web.admin.page.addWidget}"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="display--grid grid-template-columns--2">
                        <div>
                            <button type="button"
                                    onclick="openPage();"
                                    data-duice-bind="page"
                                    data-duice-execute="(page.pageId && !page._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-open.svg}" alt="open"/>
                                <span data-th-text="#{web.admin.page.openPage}"></span>
                            </button>
                        </div>
                        <div class="justify-self--end">
                            <button type="button"
                                    onclick="deletePage();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_PAGES_EDIT'')')}?'locked'"
                                    data-duice-bind="page"
                                    data-duice-execute="(page.pageId && !page._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                                <span data-th-text="#{web.global.delete}"></span>
                            </button>
                            <button type="button"
                                    onclick="savePage();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_PAGES_EDIT'')')}?'locked'"
                                    data-duice-bind="page"
                                    data-duice-execute="(page.pageId || page._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                                <span data-th-text="#{web.global.save}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="text-align--right font-size--smaller font-style--italic">
                        Last Updated At
                        <span data-duice-bind="page" data-duice-property="systemUpdatedAt" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                        By
                        <span data-duice-bind="page" data-duice-property="systemUpdatedBy"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: page detail                -->
        <!-- ================================== -->

    </div>
    <!-- ================================== -->
    <!-- end: page content               -->
    <!-- ================================== -->

</th:block>
