<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script>
        // search condition
        const propertySearch = new duice.ObjectProxy({
            key: 'id',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // data
        const properties = new duice.ArrayProxy([]);

        /**
         * getProperties
         */
        function getProperties(page) {
            if(page) {
                propertySearch._page = page;
            }
            let url = new URL("[[@{/admin/property/get-properties}]]", document.location.origin);
            if (propertySearch.key && propertySearch.value) {
                url.searchParams.append(propertySearch.key, propertySearch.value);
            }
            url.searchParams.append('_page', propertySearch._page);
            url.searchParams.append('_size', propertySearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(properties);
                    duice.ArrayProxy.assign(properties, data.content);
                    propertySearch._count = data.totalElements;
                });
        }

        /**
         * resetProperties
         */
        function resetProperties() {
            duice.ObjectProxy.reset(propertySearch);
            getProperties();
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getProperties();
        });
    </script>
    <h1>
        <img class="icon" th:src="@{/static/image/icon-property.png}"/>
        <span data-th-text="#{web.title.property}"></span>
    </h1>
    <div class="container gap-1px margin-1px">
        <form onsubmit="return false;" class="col-8 col-s-12 container gap-1px">
            <select data-duice-object="propertySearch" data-duice-property="key" class="col-1 col-s-4">
                <option value="id" th:text="#{core.property.id}"></option>
                <option value="name" th:text="#{core.property.name}"></option>
            </select>
            <input type="text" data-duice-object="propertySearch" data-duice-property="value" class="col-2 col-s-8" th:placeholder="#{web.text.keyword}"/>
            <button onclick="getProperties();" class="col-1 col-s-12">
                <img class="icon" th:src="@{/static/image/icon-search.png}">
                <span data-th-text="#{web.text.search}"></span>
            </button>
            <button onclick="resetProperties();" class="col-1 col-s-12">
                <img class="icon" th:src="@{/static/image/icon-reset.png}">
                <span data-th-text="#{web.text.reset}"></span>
            </button>
        </form>
        <div class="col-4 col-s-12 text-align-right container gap-1px">
            <span class="col-11 col-s-0"></span>
            <button class="col-1 col-s-12" onclick="createProperty();">
                <img class="icon" th:src="@{/static/image/icon-create.png}"/>
                <span data-th-text="#{web.text.create}"></span>
            </button>
        </div>
    </div>
    <div class="overflow-x-scroll">
        <table>
            <colgroup>
                <col style="width:100px;"/>
                <col style="width:200px;"/>
                <col/>
                <col/>
                <col style="width:200px;"/>
                <col/>
                <col/>
                <col style="width:70px;"/>
            </colgroup>
            <thead>
            <tr>
                <th data-th-text="#{web.text.no}"></th>
                <th data-th-text="#{core.property.id}"></th>
                <th data-th-text="#{core.property.value}"></th>
                <th data-th-text="#{core.property.name}"></th>
                <th data-th-text="#{core.property.id}"></th>
                <th data-th-text="#{core.property.value}"></th>
                <th data-th-text="#{core.property.name}"></th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            <tr data-duice-array="properties" data-duice-loop="property,status">
                <td data-duice-object="status" data-duice-property="count" class="ta-center"></td>
                <td data-duice-object="property" data-duice-property="id"></td>
                <td data-duice-object="property" data-duice-property="value"></td>
                <td data-duice-object="property" data-duice-property="name"></td>

                <td data-duice-object="property" data-duice-property="id"></td>
                <td data-duice-object="property" data-duice-property="value"></td>
                <td data-duice-object="property" data-duice-property="name"></td>
                <td data-duice-object="property" data-duice-property="id"></td>
                <td data-duice-object="property" data-duice-property="value"></td>
                <td data-duice-object="property" data-duice-property="name"></td>

                <td>
                    <button data-duice-object="property" data-duice-script="this.dataset.id=property.id;"
                            onclick="getProperty(this.dataset.id);">
                        <img class="icon" th:src="@{/static/image/icon-detail.png}"/>
                        <span data-th-text="#{web.text.detail}"></span>
                    </button>
                </td>
            </tr>
            <tr data-duice-array="properties" data-duice-script="if(properties.length === 0) this.hidden=false;" hidden>
                <td colspan="100%" class="fs-smaller">No Data</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="col-4"></div>
        <div class="col-4 justify-center">
            <duice-pagination
                    data-duice-object="propertySearch"
                    data-duice-size-property="_size"
                    data-duice-page-property="_page"
                    data-duice-count-property="_count"
                    data-duice-onclick="getProperties(this.dataset.page);">
            </duice-pagination>
        </div>
        <div class="col-4 justify-right">
            <span data-th-text="#{web.text.total}"></span>
            <span data-duice-object="propertySearch" data-duice-property="_count" data-duice-format="number(0)"></span>
            <span data-th-text="#{web.text.rows}"></span>
        </div>
    </div>

</main>