<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script th:inline="javascript">
        // user search condition
        const userSearch = new duice.ObjectProxy({
            key: 'userId',
            value: null,
            type: null,
            status: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // user list
        const users = new duice.ArrayProxy([]);

        // user
        const user = new duice.ObjectProxy({
            userId: null,
            roles:[]
        });
        duice.ObjectProxy.setDisableAll(user, true);
        duice.ObjectProxy.setReadonly(user, 'joinAt', true);
        duice.ObjectProxy.setReadonly(user, 'closeAt', true);
        duice.ObjectProxy.onPropertyChanging(user, async event => {
            if (event.getProperty() === 'userId') {
                if (!await validateUserId(event.getValue())) {
                    duice.ObjectProxy.focus(user, 'userId');
                    return false;
                }
            }
            return true;
        });

        /**
         * getUsers
         * @param page page
         */
        function getUsers(page) {
            if(page) {
                userSearch._page = page;
            }
            let url = new URL([[@{/admin/user/get-users}]], document.location.origin);
            if (userSearch.key && userSearch.value) {
                url.searchParams.append(userSearch.key, userSearch.value);
            }
            if(userSearch.type) {
                url.searchParams.append('type', userSearch.type);
            }
            if(userSearch.status) {
                url.searchParams.append('status', userSearch.status);
            }
            url.searchParams.append('_page', userSearch._page);
            url.searchParams.append('_size', userSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(users);
                    duice.ArrayProxy.assign(users, data.content);
                    userSearch._count = data.totalElements;

                    // select current item
                    duice.ArrayProxy.selectItem(users, users.findIndex(e => e.userId === user.userId));
                });
        }

        /**
         * resetUsers
         */
        function resetUsers() {
            duice.ObjectProxy.reset(userSearch);
            getUsers();
        }

        /**
         * getUser
         * @param userId
         */
        function getUser(userId) {
            let url = new URL([[@{/admin/user/get-user}]], document.location.origin);
            url.searchParams.append('userId', userId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(user, data);
                    duice.ObjectProxy.setDisableAll(user, false);
                    duice.ObjectProxy.setReadonly(user, 'userId', true);
                    user._new = false;
                });
        }

        /**
         * createUser
         */
        function createUser() {
            duice.ObjectProxy.clear(user);
            duice.ObjectProxy.assign(user, {
                _new: true,
                type: 'GENERAL',
                status: 'ACTIVE'
            });
            duice.ObjectProxy.setDisableAll(user, false);
            duice.ObjectProxy.setReadonly(user, 'userId', false);
            duice.ObjectProxy.focus(user, 'userId');

            // password division
            document.getElementById('userDetail_passwordDiv').style.display = '';
        }

        /**
         * validateUserId
         * @param userId
         * @returns {Promise<boolean>}
         */
        async function validateUserId(userId) {

            // check blank
            if (!userId) {
                await _alert([[#{web.global.itemEmpty(#{core.user.User.userId})}]]);
                duice.ObjectProxy.focus(user, 'userId');
                return false;
            }

            // check duplicated id
            let url = new URL([[@{/admin/user/get-user}]], document.location.origin);
            url.searchParams.append('userId', userId);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let user = await response.json();
                if (user) {
                    await _alert([[#{web.global.itemAlreadyExist(#{core.user.User.userId})}]]);
                    return false;
                }
            }

            // return true
            return true;
        }

        /**
         * saveUser
         */
        async function saveUser() {

            // if new, checks id
            if (user._new) {
                if (!await validateUserId(user.userId)) {
                    return false;
                }
            }

            // checks user name
            if (_isEmpty(user.userName)) {
                await _alert([[#{web.global.itemEmpty(#{core.user.User.userName})}]]);
                duice.ObjectProxy.focus(user, 'userName');
                return false;
            }

            // checks password
            if (user._new) {
                if (_isEmpty(user.password)) {
                    await _alert([[#{web.global.itemEmpty(#{core.user.User.password})}]]);
                    duice.ObjectProxy.focus(user, 'password');
                    return false;
                }
                if (_isEmpty(user.passwordConfirm)) {
                    await _alert([[#{web.global.itemEmpty(#{core.user.User.password})}]]);
                    duice.ObjectProxy.focus(user, 'passwordConfirm');
                    return false;
                }
                if (user.password !== user.passwordConfirm) {
                    await _alert([[#{web.global.itemNotMatch(#{core.user.User.password})}]]);
                    duice.ObjectProxy.focus(user, 'password');
                    return false;
                }
            }

            // type
            if(_isEmpty(user.type)) {
                await _alert([[#{web.global.itemEmpty(#{core.user.User.type})}]]);
                duice.ObjectProxy.focus(user, 'type');
                return false;
            }

            // status
            if(_isEmpty(user.status)) {
                await _alert([[#{web.global.itemEmpty(#{core.user.User.status})}]]);
                duice.ObjectProxy.focus(user, 'status');
                return false;
            }

            // call save
            _confirm([[#{web.global.saveItemConfirm(#{core.user.User})}]]).then(result => {
                if (result) {
                    let url = new URL([[@{/admin/user/save-user}]], document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(user)
                    }).then(response => {
                        if (response.ok) {
                            _alert([[#{web.global.saveItemComplete(#{core.user.User})}]]).then(() => {
                                getUsers();
                                getUser(user.userId);
                            });
                        }
                    });
                }
            });
        }

        /**
         * deleteUser
         */
        function deleteUser() {
            _confirm([[#{web.global.deleteItemConfirm(#{core.user.User})}]]).then(result => {
                if (result) {
                    let url = new URL([[@{/admin/user/delete-user}]], document.location.origin);
                    url.searchParams.append('userId', user.userId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert([[#{web.global.deleteItemComplete(#{core.user.User})}]]).then(() => {
                                getUsers();
                                duice.ObjectProxy.clear(user);
                            });
                        }
                    })
                }
            });
        }

        /**
         * adds user role
         */
        async function addUserRole() {
            let disabledRoleIds = [];
            user.roles.forEach(role => {
                disabledRoleIds.push(role.roleId);
            });
            let selectedRoles = await roleSelect.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                user.roles.push(role);
            });
        }

        /**
         * removes user role
         * @param index
         */
        function removeUserRole(index) {
            user.roles.splice(index, 1);
        }

        /**
         * change user password
         */
        function changeUserPassword() {
            passwordChange.open(user.userId);
        }

        /**
         * generate user access token
         */
        function generateUserAccessToken() {
            let url = new URL([[@{/admin/user/generate-access-token}]], document.location.origin);
            url.searchParams.append('userId', user.userId);
            _fetch(url)
                .then(function(response){
                    return response.text();
                })
                .then(function(data){
                    let html = "<textarea style='width:400px; border:solid 1px #ccc;' rows='5'>"
                        + data
                        + "</textarea>";
                    _alert(html);
                });
        }

        // login history search condition
        const userLoginSearch = new duice.ObjectProxy({
            key: 'userId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // login history list
        const loginHistories = new duice.ArrayProxy([]);

        /**
         * getLoginHistories
         * @param page page
         */
        function getUserLogins(page) {
            if(page) {
                userLoginSearch._size = size;
            }
            let url = new URL([[@{/admin/user/get-user-logins}]], document.location.origin);
            if (userLoginSearch.key && userLoginSearch.value) {
                url.searchParams.append(userLoginSearch.key, userLoginSearch.value);
            }
            url.searchParams.append('_page', userLoginSearch._page);
            url.searchParams.append('_size', userLoginSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(loginHistories);
                    duice.ArrayProxy.assign(loginHistories, data.content);
                    userLoginSearch._count = data.totalElements;
                });
        }

        /**
         * resetLoginHistories
         */
        function resetUserLogins() {
            duice.ObjectProxy.reset(userLoginSearch);
            getUserLogins();
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            let tabFolder = duice.tabFolder(
                duice.tabItem(document.getElementById('userTabButton'),
                    document.getElementById('userTabContent'),
                    () => {
                        getUsers();
                    }),
                duice.tabItem(document.getElementById('userLoginTabButton'),
                    document.getElementById('userLoginTabContent'),
                    () => {
                        getUserLogins();
                    })
            );
            tabFolder.setActive(0);
        });
    </script>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-user.svg}"/>
        <span data-th-text="#{web.admin.user}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex">
        <button id="userTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-user.svg}"/>
            <span data-th-text="#{core.user.User}"></span>
        </button>
        <button id="userLoginTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-user-login.svg}"/>
            <span data-th-text="#{core.user.UserLogin}"></span>
        </button>
        <hr class="margin-1px"/>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: userTabContent                  -->
    <!-- ====================================== -->
    <div id="userTabContent" class="grid grid-template-columns-2 s-grid-template-columns-1 grid-gap-1em">
        <!-- ====================================== -->
        <!-- start: user list                       -->
        <!-- ====================================== -->
        <div id="userList" class="grid-column-1">
            <div class="grid grid-gap-1em border-1 padding-1em">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-list.svg}"/>
                    <span data-th-text="#{web.global.list}"></span>
                </h2>
                <form onsubmit="return false;" class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
                    <label class="grid-column-2 s-grid-column-4">
                        <select class="width-100" data-duice-bind="userSearch" data-duice-property="key">
                            <option value="userId" th:text="#{core.user.User.userId}"></option>
                            <option value="userName" th:text="#{core.user.User.userName}"></option>
                            <option value="email" th:text="#{core.user.User.email}"></option>
                            <option value="mobile" th:text="#{core.user.User.mobile}"></option>
                        </select>
                    </label>
                    <label class="grid-column-4 s-grid-column-8">
                        <input class="width-100" type="text" data-duice-bind="userSearch" data-duice-property="value" th:placeholder="#{web.global.keyword}"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <select class="width-100" data-duice-bind="userSearch" data-duice-property="type">
                            <option value data-th-text="'- '+#{core.user.User.type}+' -'"></option>
                            <option th:each="userType:${userTypes}" th:value="${userType}"
                                    th:text="${userType}"></option>
                        </select>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <select class="width-100" data-duice-bind="userSearch" data-duice-property="status">
                            <option value data-th-text="'- '+#{core.user.User.status}+' -'"></option>
                            <option th:each="userStatus:${userStatuses}" th:value="${userStatus}"
                                    th:text="${userStatus}"></option>
                        </select>
                    </label>
                    <div class="grid-column-6 s-grid-column-12 justify-self-end">
                        <button type="submit" onclick="getUsers();">
                            <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                            <span data-th-text="#{web.global.search}">Search</span>
                        </button>
                        <button type="button" onclick="resetUsers();">
                            <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                            <span data-th-text="#{web.global.reset}">Reset</span>
                        </button>
                    </div>
                </form>
                <div class="overflow-x-auto padding-y-1em s-padding-y-0">
                    <table>
                        <colgroup>
                            <col style="width:5rem;"/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                            <th data-th-text="#{core.user.User.userId}"></th>
                            <th data-th-text="#{core.user.User.userName}"></th>
                            <th data-th-text="#{core.user.User.type}"></th>
                            <th data-th-text="#{core.user.User.status}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="users" data-duice-loop="user,status"
                            data-duice-selected-item-class="selected" data-duice-execute="this.dataset.userId=user.userId;"
                            onclick="getUser(this.dataset.userId);" class="link">
                            <td data-duice-bind="status" data-duice-property="count"
                                class="text-align-center"></td>
                            <td>
                                <img data-duice-bind="user" data-duice-property="photo"
                                     th:src="@{/static/image/icon-null.svg}" class="icon"/>
                                <span data-duice-bind="user" data-duice-property="userId"
                                      class="font-weight-bold"></span>
                            </td>
                            <td data-duice-bind="user" data-duice-property="userName"></td>
                            <td>
                                <span data-duice-bind="user" data-duice-property="type"></span>
                            </td>
                            <td>
                                <span data-duice-bind="user" data-duice-property="status"></span>
                            </td>
                        </tr>
                        <tr data-duice-bind="users" data-duice-execute="if(users.length === 0) this.hidden=false;"
                            hidden>
                            <td colspan="100%" class="text-align-center">No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid grid-template-columns-3 grid-gap-1em padding-y-1em s-padding-y-0">
                    <div class="grid-column-1 font-size-smaller">
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="userSearch" data-duice-property="_count"
                              data-duice-format="number(0)"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <div class="grid-column-1 justify-self-center">
                        <duice-pagination
                                data-duice-bind="userSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-count-property="_count"
                                data-duice-onclick="getUsers(this.dataset.page);">
                        </duice-pagination>
                    </div>
                    <div class="grid-column-1 justify-self-end">
                        <button type="button" onclick="createUser();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'">
                            <img class="icon" th:src="@{/static/image/icon-create.svg}"/>
                            <span data-th-text="#{web.global.create}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: user list                         -->
        <!-- ====================================== -->

        <!-- ====================================== -->
        <!-- start: user detail                     -->
        <!-- ====================================== -->
        <div id="userDetail" class="grid-column-1">
            <div class="grid grid-gap-1em border-1 padding-1em">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-open.svg}"/>
                    <span data-th-text="#{web.global.detail}"></span>
                </h2>
                <form class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
                    <label class="grid-column-2 s-grid-column-12">
                        <span data-th-text="#{core.user.User.photo}" class="font-weight-bold"></span><br>
                        <img th:src="@{/static/image/icon-null.svg}" data-duice-bind="user"
                             data-duice-property="photo" data-duice-editable="true" data-duice-size="64,64"
                             style="width:64px; height:64px;"/>
                    </label>
                    <label class="grid-column-10 s-grid-column-12">
                        <span data-th-text="#{core.user.User.profile}" class="font-weight-bold"></span>
                        <textarea data-duice-bind="user" data-duice-property="profile" rows="3" class="width-100"></textarea>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.userId}" class="font-weight-bold tag-required"></span>
                        <input type="text" data-duice-bind="user" data-duice-property="userId" maxlength="32" class="width-100 font-weight-bold"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.userName}" class="font-weight-bold tag-required"></span>
                        <input type="text" data-duice-bind="user" data-duice-property="userName" maxlength="32" class="width-100"/>
                    </label>
                    <div data-duice-bind="user" data-duice-if="return user._new;" class="grid-column-12 grid grid-template-columns-12 grid-gap-1em">
                        <label class="grid-column-6 s-grid-column-12">
                            <span data-th-text="#{core.user.User.password}" class="font-weight-bold tag-required"></span>
                            <input type="password" data-duice-bind="user"
                                   maxlength="32" data-duice-property="password" class="width-100"/>
                        </label>
                        <label class="grid-column-6 s-grid-column-12">
                            <span data-th-text="#{core.user.User.password}" class="font-weight-bold tag-required"></span>(*)
                            <input type="password" data-duice-bind="user"
                                   maxlength="32" data-duice-property="passwordConfirm" class="width-100"/>
                        </label>
                    </div>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.type}" class="font-weight-bold tag-required"></span><br>
                        <select data-duice-bind="user" data-duice-property="type" class="width-100">
                            <option value th:text="'- '+#{web.global.select}+' -'"></option>
                            <option th:each="userType:${userTypes}" th:value="${userType}"
                                    th:text="${userType}"></option>
                        </select>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.status}" class="font-weight-bold tag-required"></span><br>
                        <select data-duice-bind="user" data-duice-property="status" class="width-100">
                            <option value th:text="'- '+#{web.global.select}+' -'"></option>
                            <option th:each="userStatus:${userStatuses}" th:value="${userStatus}"
                                    th:text="${userStatus}"></option>
                        </select>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.email}" class="font-weight-bold"></span><br>
                        <input type="email" data-duice-bind="user" data-duice-property="email"
                               class="width-100"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.mobile}" class="font-weight-bold"></span><br>
                        <input type="tel" data-duice-bind="user" data-duice-property="mobile"
                               class="width-100"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.joinAt}" class="font-weight-bold"></span>
                        <input type="datetime-local" data-duice-bind="user"
                               data-duice-property="joinAt" readonly class="width-100"/>
                    </label>
                    <label class="grid-column-6 s-grid-column-12">
                        <span data-th-text="#{core.user.User.closeAt}" class="font-weight-bold"></span>
                        <input type="datetime-local" data-duice-bind="user"
                               data-duice-property="closeAt" readonly class="width-100"/>
                    </label>
                    <div class="grid-column-12">
                        <span data-th-text="#{core.user.User.roles}" class="font-weight-bold"></span>
                        <div class="overflow-x-auto border-x-1">
                            <table class="border-x-0">
                                <colgroup>
                                    <col style="width:35px;"/>
                                    <col/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="text-align-center">
                                        <button type="button"
                                                onclick="addUserRole();"
                                                data-duice-bind="user"
                                                data-duice-execute="(user.userId || user._new) ? this.disabled=false : this.disabled=true;">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                        </button>
                                    </th>
                                    <th data-th-text="#{core.role.Role.roleId}"></th>
                                    <th data-th-text="#{core.role.Role.roleName}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="user.roles" data-duice-loop="role,status">
                                    <td class="text-align-center">
                                        <button type="button"
                                                data-duice-bind="role"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeUserRole(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                        </button>
                                    </td>
                                    <td data-duice-bind="role" data-duice-property="roleId"
                                        class="font-weight-bold"></td>
                                    <td data-duice-bind="role" data-duice-property="roleName"></td>
                                </tr>
                                <tr data-duice-bind="user.roles"
                                    data-duice-execute="if(user.roles.length === 0) this.hidden=false;"
                                    hidden>
                                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="grid grid-template-columns-2 grid-gap-1em padding-y-1em s-padding-y-0">
                    <div class="grid-column-1 flex align-items-flex-start flex-wrap gap-1px">
                        <button type="button" onclick="changeUserPassword();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'"
                                data-duice-bind="user"
                                data-duice-execute="(user.userId && !user._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-password.svg}"/>
                            <span data-th-text="#{web.admin.user.changePassword}"></span>
                        </button>
                        <button type="button" onclick="generateUserAccessToken();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'"
                                data-duice-bind="user"
                                data-duice-execute="(user.userId && !user._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-token.svg}"/>
                            <span data-th-text="#{web.admin.user.authorizationToken}"></span>
                        </button>
                    </div>
                    <div class="grid-column-1 flex justify-content-flex-end align-items-flex-start flex-wrap gap-1px">
                        <button type="button" onclick="deleteUser();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'"
                                data-duice-bind="user"
                                data-duice-execute="(user.userId && !user._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-delete.svg}"/>
                            <span data-th-text="#{web.global.delete}"></span>
                        </button>
                        <button type="button" onclick="saveUser();"
                                th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'"
                                data-duice-bind="user"
                                data-duice-execute="(user.userId || user._new) ? this.disabled=false : this.disabled=true;">
                            <img class="icon" th:src="@{/static/image/icon-save.svg}"/>
                            <span data-th-text="#{web.global.save}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: user detail                       -->
        <!-- ====================================== -->
    </div>
    <!-- ====================================== -->
    <!-- end: userTabContent                    -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: password change                 -->
    <!-- ====================================== -->
    <dialog id="passwordChange">
        <style>
            #passwordChange {
                width: 400px;
                padding: 1.5rem;
            }
        </style>
        <script th:inline="javascript">
            const passwordChange = {
                dialog: new duice.dialog.Dialog(document.getElementById('passwordChange')),
                data: new duice.ObjectProxy({
                    userId: null,
                    password: null,
                    passwordConfirm: null
                }),
                open: async function(userId) {
                    duice.ObjectProxy.clear(this.data);
                    this.data.userId = userId;
                    return this.dialog.open();
                },
                confirm: async function() {

                    // checks password
                    if (_isEmpty(this.data.password)) {
                        await _alert([[#{web.global.itemEmpty(#{core.user.User.password})}]]);
                        duice.ObjectProxy.focus(this.data, 'password');
                        return false;
                    }
                    if (_isEmpty(this.data.passwordConfirm)) {
                        await _alert([[#{web.global.itemEmpty(#{core.user.User.password})}]]);
                        duice.ObjectProxy.focus(this.data, 'passwordConfirm');
                        return false;
                    }
                    if (this.data.password !== this.data.passwordConfirm) {
                        await _alert([[#{web.global.itemNotMatch(#{core.user.User.password})}]]);
                        duice.ObjectProxy.focus(this.data, 'password');
                        return false;
                    }

                    // call save
                    _confirm([[#{web.global.saveItemConfirm(#{core.user.User.password})}]]).then(result => {
                        if (result) {
                            let url = new URL([[@{/admin/user/change-password}]], document.location.origin);
                            _fetch(url, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(this.data)
                            }).then(response => {
                                if (response.ok) {
                                    _alert([[#{web.global.saveItemComplete(#{core.user.User.password})}]]).then(() => {
                                        this.dialog.resolve(true);
                                    });
                                }
                            });
                        }
                    });
                }
            }
        </script>
        <div class="grid grid-gap-1em">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-password.svg}"/>
                <span data-th-text="#{web.admin.user.changePassword}"></span>
            </h2>
            <form class="grid grid-template-columns-12 grid-gap-1em">
                <div class="grid-column-12">
                    <span data-th-text="#{core.user.User.password}" class="font-weight-bold tag-required"></span>
                    <input type="password" data-duice-bind="passwordChange.data" data-duice-property="password" class="width-100"/>
                </div>
                <div class="grid-column-12">
                    <span data-th-text="#{core.user.User.password}" class="font-weight-bold tag-required"></span>(*)
                    <input type="password" data-duice-bind="passwordChange.data" data-duice-property="passwordConfirm" class="width-100"/>
                </div>
            </form>
            <div class="text-align-right">
                <button type="button" onclick="passwordChange.confirm();">
                    <img class="icon" th:src="@{/static/image/icon-confirm.svg}"/>
                    <span data-th-text="#{web.global.confirm}"></span>
                </button>
            </div>
        </div>
    </dialog>
    <!-- ====================================== -->
    <!-- end: password change                   -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: userLoginTabContent          -->
    <!-- ====================================== -->
    <div id="userLoginTabContent">
        <div id="userLoginList">
            <div class="grid grid-gap-1em border-1 padding-1em">
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-user-login.svg}"/>
                    <span data-th-text="#{core.user.UserLogin}"></span>
                </h2>
                <form onsubmit="return false;" class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
                    <label class="grid-column-2 s-grid-column-4">
                        <select class="width-100" data-duice-bind="userLoginSearch" data-duice-property="key">
                            <option value="userId" th:text="#{core.user.UserLogin.userId}"></option>
                            <option value="ipAddress" th:text="#{core.user.UserLogin.ipAddress}"></option>
                        </select>
                    </label>
                    <label class="grid-column-4 s-grid-column-8">
                        <input class="width-100" type="text" data-duice-bind="userLoginSearch" data-duice-property="value"
                               th:placeholder="#{web.global.keyword}"/>
                    </label>
                    <div class="grid-column-6 s-grid-column-12 justify-self-end">
                        <button type="submit" onclick="getUserLogins();">
                            <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                            <span data-th-text="#{web.global.search}">Search</span>
                        </button>
                        <button type="button" onclick="resetUserLogins();">
                            <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                            <span data-th-text="#{web.global.reset}">Reset</span>
                        </button>
                    </div>
                </form>
                <div class="overflow-x-auto padding-y-1em s-padding-y-0">
                    <table>
                        <colgroup>
                            <col style="width:5rem;"/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                            <th data-th-text="#{core.user.UserLogin.userId}"></th>
                            <th data-th-text="#{core.user.UserLogin.loginAt}"></th>
                            <th data-th-text="#{core.user.UserLogin.ipAddress}"></th>
                            <th data-th-text="#{core.user.UserLogin.userAgent}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="loginHistories" data-duice-loop="userLogin,status">
                            <td data-duice-bind="status" data-duice-property="count" class="text-align-center"></td>
                            <td data-duice-bind="userLogin" data-duice-property="userId" class="font-weight-bold"></td>
                            <td data-duice-bind="userLogin" data-duice-property="loginAt" class="font-weight-bold"></td>
                            <td data-duice-bind="userLogin" data-duice-property="ipAddress"></td>
                            <td data-duice-bind="userLogin" data-duice-property="userAgent"></td>
                        </tr>
                        <tr data-duice-bind="loginHistories" data-duice-execute="if(loginHistories.length === 0) this.hidden=false;" hidden>
                            <td colspan="100%" class="text-align-center">No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid grid-template-columns-3 padding-y-1em s-padding-y-0">
                    <div class="grid-column-1 font-size-smaller">
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="userLoginSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <div class="grid-column-1 flex justify-content-center">
                        <duice-pagination
                                data-duice-bind="userLoginSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-count-property="_count"
                                data-duice-onclick="getLoginHistories(this.dataset.page);">
                        </duice-pagination>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: userLoginTabContent               -->
    <!-- ====================================== -->

    <th:block th:include="admin/role-select.html"></th:block>

</main>