<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script>
        // user search condition
        const userSearch = new duice.ObjectProxy({
            key: 'id',
            value: null,
            type: null,
            status: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // user list
        const users = new duice.ArrayProxy([]);

        // user
        const user = new duice.ObjectProxy({
            roles:[]
        });
        duice.ObjectProxy.setDisableAll(user, true);
        duice.ObjectProxy.setReadonly(user, 'joinDateTime', true);
        duice.ObjectProxy.setReadonly(user, 'loginDateTime', true);
        duice.ObjectProxy.onPropertyChanging(user, async event => {
            if (event.getProperty() === 'id') {
                if (!await validateUserId(event.getValue())) {
                    duice.ObjectProxy.focus(user, 'id');
                    return false;
                }
            }
            return true;
        });

        /**
         * getUsers
         * @param page page
         */
        function getUsers(page) {
            if(page) {
                userSearch._page = page;
            }
            let url = new URL("[[@{/admin/user/get-users}]]", document.location.origin);
            if (userSearch.key && userSearch.value) {
                url.searchParams.append(userSearch.key, userSearch.value);
            }
            if(userSearch.type) {
                url.searchParams.append('type', userSearch.type);
            }
            if(userSearch.status) {
                url.searchParams.append('status', userSearch.status);
            }
            url.searchParams.append('_page', userSearch._page);
            url.searchParams.append('_size', userSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(users);
                    duice.ArrayProxy.assign(users, data.content);
                    userSearch._count = data.totalElements;
                });
        }

        /**
         * resetUsers
         */
        function resetUsers() {
            duice.ObjectProxy.reset(userSearch);
            getUsers();
        }

        /**
         * getUser
         * @param id
         */
        function getUser(id) {
            let url = new URL('[[@{/admin/user/get-user}]]', document.location.origin);
            url.searchParams.append('id', id);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(user, data);
                    duice.ObjectProxy.setDisableAll(user, false);
                    duice.ObjectProxy.setReadonly(user, 'id', true);
                    user._new = false;

                    // password division
                    document.getElementById('userDetail_passwordDiv').style.display = 'none';
                });
        }

        /**
         * createUser
         */
        function createUser() {
            duice.ObjectProxy.clear(user);
            duice.ObjectProxy.assign(user, {
                _new: true
            });
            duice.ObjectProxy.setDisableAll(user, false);
            duice.ObjectProxy.setReadonly(user, 'id', false);
            duice.ObjectProxy.focus(user, 'id');

            // password division
            document.getElementById('userDetail_passwordDiv').style.display = '';
        }

        /**
         * validateUserId
         * @param id
         * @returns {Promise<boolean>}
         */
        async function validateUserId(id) {

            // check blank
            if (!id) {
                await _alert('[[#{web.message.itemEmpty(#{core.user.id})}]]');
                duice.ObjectProxy.focus(user, 'id');
                return false;
            }

            // check duplicated id
            let url = new URL('[[@{/admin/user/get-user}]]', document.location.origin);
            url.searchParams.append('id', id);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let user = await response.json();
                if (user) {
                    await _alert('[[#{web.message.itemAlreadyExist(#{core.user.id})}]]');
                    return false;
                }
            }

            // return true
            return true;
        }

        /**
         * saveUser
         */
        async function saveUser() {

            // if new, checks id
            if (user._new) {
                if (!await validateUserId(user.id)) {
                    return false;
                }
            }

            // checks name
            if (!user.name || user.name.trim().length < 1) {
                await _alert('[[#{web.message.itemEmpty(#{core.user.name})}]]');
                duice.ObjectProxy.focus(user, 'name');
                return false;
            }

            // checks password
            if (user._new) {
                if (!user.password || user.password.trim().length < 1) {
                    await _alert('[[#{web.message.itemEmpty(#{core.user.password})}]]');
                    duice.ObjectProxy.focus(user, 'password');
                    return false;
                }
                if (!user.passwordConfirm || user.passwordConfirm.trim().length < 1) {
                    await _alert('[[#{web.message.itemEmpty(#{core.user.password})}]]');
                    duice.ObjectProxy.focus(user, 'passwordConfirm');
                    return false;
                }
                if (user.password !== user.passwordConfirm) {
                    await _alert('[[#{web.message.itemNotMatch(#{core.user.password})}]]');
                    duice.ObjectProxy.focus(user, 'password');
                    return false;
                }
            }

            // call save
            _confirm('[[#{web.message.saveItemConfirm(#{core.user})}]]').then(result => {
                if (result) {
                    let url = new URL('[[@{/admin/user/save-user}]]', document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(user)
                    }).then(response => {
                        if (response.ok) {
                            _alert('[[#{web.message.saveItemComplete(#{core.user})}]]').then(() => {
                                getUsers();
                                getUser(user.id);
                            });
                        }
                    });
                }
            });
        }

        /**
         * deleteUser
         */
        function deleteUser() {
            _confirm('[[#{web.message.deleteItemConfirm(#{core.user})}]]').then(result => {
                if (result) {
                    let url = new URL('[[@{/admin/user/delete-user}]]', document.location.origin);
                    url.searchParams.append('id', user.id);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert('[[#{web.message.deleteItemComplete(#{core.user})}]]').then(() => {
                                getUsers();
                                duice.ObjectProxy.clear(user);
                            });
                        }
                    })
                }
            });
        }

        /**
         * adds user role
         */
        async function addUserRole() {
            let disabledRoleIds = [];
            user.roles.forEach(role => {
                disabledRoleIds.push(role.id);
            });
            let selectedRoles = await roleSelect.open(disabledRoleIds);
            selectedRoles.forEach(role => {
                user.roles.push(role);
            });
        }

        /**
         * removes user role
         * @param index
         */
        function removeUserRole(index) {
            user.roles.splice(index, 1);
        }

        /**
         * change user password
         */
        function changeUserPassword() {
            passwordChange.open(user.id);
        }

        /**
         * generate user access token
         */
        function generateUserAccessToken() {
            let url = new URL('[[@{/admin/user/generate-access-token}]]', document.location.origin);
            url.searchParams.append('id', user.id);
            _fetch(url)
                .then(function(response){
                    return response.text();
                })
                .then(function(data){
                    let html = "<textarea style='width:400px; border:solid 1px #ccc;' rows='10'>"
                        + data
                        + "</textarea>";
                    _alert(html);
                });
        }

        // login history search condition
        const loginHistorySearch = new duice.ObjectProxy({
            key: 'userId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // login history list
        const loginHistories = new duice.ArrayProxy([]);

        /**
         * getLoginHistories
         * @param page page
         */
        function getLoginHistories(page) {
            if(page) {
                loginHistorySearch._size = size;
            }
            let url = new URL("[[@{/admin/user/get-login-histories}]]", document.location.origin);
            if (loginHistorySearch.key && loginHistorySearch.value) {
                url.searchParams.append(loginHistorySearch.key, loginHistorySearch.value);
            }
            url.searchParams.append('_page', loginHistorySearch._page);
            url.searchParams.append('_size', loginHistorySearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(loginHistories);
                    duice.ArrayProxy.assign(loginHistories, data.content);
                    loginHistorySearch._count = data.totalElements;
                });
        }

        /**
         * resetLoginHistories
         */
        function resetLoginHistories() {
            duice.ObjectProxy.reset(loginHistorySearch);
            getLoginHistories();
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            let tabFolder = duice.tabFolder(
                duice.tabItem(document.getElementById('userTabButton'),
                    document.getElementById('userTabContent'),
                    () => {
                        getUsers();
                    }),
                duice.tabItem(document.getElementById('loginHistoryTabButton'),
                    document.getElementById('loginHistoryTabContent'),
                    () => {
                        getLoginHistories();
                    })
            );
            tabFolder.setActive(0);
        });
    </script>
    <h1>
        <img class="icon" th:src="@{/static/image/icon-user.svg}"/>
        <span data-th-text="#{web.title.user}"></span>
    </h1>

    <!-- tab -->
    <div>
        <button id="userTabButton" class="tab">
            <img class="icon" th:src="@{/static/image/icon-user.svg}"/>
            <span data-th-text="#{core.user}"></span>
        </button>
        <button id="loginHistoryTabButton" class="tab">
            <img class="icon" th:src="@{/static/image/icon-login-history.svg}"/>
            <span data-th-text="#{core.loginHistory}"></span>
        </button>
    </div>
    <hr/>

    <!-- userTabContent -->
    <div id="userTabContent" class="container gap-column-1rem gap-row-1rem">
        <div class="col-6 col-s-12">
            <!-- list of user -->
            <div class="container border-1 padding-1rem">
                <div class="col-12">
                    <div class="container padding-1px">
                        <div class="col-8">
                            <h2>
                                <img class="icon" th:src="@{/static/image/icon-list.svg}"/>
                                <span data-th-text="#{web.text.list}"></span>
                            </h2>
                        </div>
                        <div class="col-4 justify-right">
                            <button onclick="createUser();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}"/>
                                <span data-th-text="#{web.text.create}"></span>
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <div class="container gap-1px margin-1px">
                        <form onsubmit="return false;" class="col-12 container gap-1px">
                            <select data-duice-bind="userSearch" data-duice-property="key" class="col-1 col-s-4">
                                <option value="id" th:text="#{core.user.id}"></option>
                                <option value="name" th:text="#{core.user.name}"></option>
                                <option value="email" th:text="#{core.user.email}"></option>
                                <option value="mobile" th:text="#{core.user.mobile}"></option>
                            </select>
                            <input type="text" data-duice-bind="userSearch" data-duice-property="value"
                                   th:placeholder="#{web.text.keyword}" class="col-2 col-s-8"/>
                            <select data-duice-bind="userSearch" data-duice-property="type" class="col-1 col-s-12">
                                <option value data-th-text="'- '+#{core.user.type}+' -'"></option>
                                <option th:each="userType:${userTypes}" th:value="${userType}"
                                        th:text="${userType}"></option>
                            </select>
                            <select data-duice-bind="userSearch" data-duice-property="status" class="col-1 col-s-12">
                                <option value data-th-text="'- '+#{core.user.status}+' -'"></option>
                                <option th:each="userStatus:${userStatuses}" th:value="${userStatus}"
                                        th:text="${userStatus}"></option>
                            </select>
                            <button onclick="getUsers();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                                <span data-th-text="#{web.text.search}">Search</span>
                            </button>
                            <button onclick="resetUsers();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                                <span data-th-text="#{web.text.reset}">Reset</span>
                            </button>
                        </form>
                    </div>
                    <div class="overflow-x-auto border-1">
                        <table class="border-0">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.text.no}" class="text-align-center"></th>
                                <th data-th-text="#{core.user.id}"></th>
                                <th data-th-text="#{core.user.name}"></th>
                                <th data-th-text="#{core.user.type}"></th>
                                <th data-th-text="#{core.user.status}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="users" data-duice-loop="user,status" data-duice-toggle-class="selected" data-duice-script="
                            this.dataset.id=user.id;
                            " onclick="getUser(this.dataset.id);" class="link">
                                <td data-duice-bind="status" data-duice-property="count"
                                    class="text-align-center"></td>
                                <td>
                                    <img data-duice-bind="user" data-duice-property="photo"
                                         th:src="@{/static/image/icon-null.svg}" class="icon"/>
                                    <span data-duice-bind="user" data-duice-property="id"
                                          class="font-weight-bold"></span>
                                </td>
                                <td data-duice-bind="user" data-duice-property="name"></td>
                                <td>
                                    <span data-duice-bind="user" data-duice-property="type"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="user" data-duice-property="status"></span>
                                </td>
                            </tr>
                            <tr data-duice-bind="users" data-duice-script="if(users.length === 0) this.hidden=false;"
                                hidden>
                                <td colspan="100%" class="text-align-center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="col-4"></div>
                        <div class="col-4 justify-center">
                            <duice-pagination
                                    data-duice-bind="userSearch"
                                    data-duice-size-property="_size"
                                    data-duice-page-property="_page"
                                    data-duice-count-property="_count"
                                    data-duice-onclick="getUsers(this.dataset.page);">
                            </duice-pagination>
                        </div>
                        <div class="col-4 justify-right">
                            <span data-th-text="#{web.text.total}"></span>
                            <span data-duice-bind="userSearch" data-duice-property="_count"
                                  data-duice-format="number(0)"></span>
                            <span data-th-text="#{web.text.rows}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-s-12">
            <!-- user detail -->
            <div class="container border-1 padding-1rem">
                <div class="col-12">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-detail.svg}"/>
                        <span data-th-text="#{web.text.detail}"></span>
                    </h2>
                    <div class="container gap-1px gap-column-1rem">
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.id}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="text" data-duice-bind="user" data-duice-property="id"
                                   class="width-100 font-weight-bold"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.name}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="text" data-duice-bind="user" data-duice-property="name"
                                   class="width-100"/>
                        </div>
                        <div id="userDetail_passwordDiv" class="col-12 container gap-1px gap-column-1rem">
                            <div class="col-2 col-s-12">
                                <span data-th-text="#{core.user.password}" class="font-weight-bold tag-required"></span>
                            </div>
                            <div class="col-4 col-s-12">
                                <input type="password" data-duice-bind="user"
                                       data-duice-property="password" class="width-100"/>
                            </div>
                            <div class="col-2 col-s-12">
                                <span data-th-text="#{core.user.password}" class="font-weight-bold tag-required"></span>(*)
                            </div>
                            <div class="col-4 col-s-12">
                                <input type="password" data-duice-bind="user"
                                       data-duice-property="passwordConfirm" class="width-100"/>
                            </div>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.type}" class="font-weight-bold"></span><br>
                        </div>
                        <div class="col-4 col-s-12">
                            <select data-duice-bind="user" data-duice-property="type" class="width-100">
                                <option th:each="userType:${userTypes}" th:value="${userType}"
                                        th:text="${userType}"></option>
                            </select>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.status}" class="font-weight-bold"></span><br>
                        </div>
                        <div class="col-4 col-s-12">
                            <select data-duice-bind="user" data-duice-property="status" class="width-100">
                                <option th:each="userStatus:${userStatuses}" th:value="${userStatus}"
                                        th:text="${userStatus}"></option>
                            </select>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.email}" class="font-weight-bold"></span><br>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="email" data-duice-bind="user" data-duice-property="email"
                                   class="width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.mobile}" class="font-weight-bold"></span><br>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="tel" data-duice-bind="user" data-duice-property="mobile"
                                   class="width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.joinDateTime}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="datetime-local" data-duice-bind="user"
                                   data-duice-property="joinDateTime" class="width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.closeDateTime}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-4 col-s-12">
                            <input type="datetime-local" data-duice-bind="user"
                                   data-duice-property="closeDateTime" class="width-100"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.photo}" class="font-weight-bold"></span><br>
                        </div>
                        <div class="col-10 col-s-12">
                            <img th:src="@{/static/image/icon-null.svg}" data-duice-bind="user"
                                 data-duice-property="photo" data-duice-editable="true" data-duice-size="64,64"
                                 style="width:64px; height:64px;"/>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.profile}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <textarea data-duice-bind="user" data-duice-property="profile" rows="4"
                                      class="width-100 height-100"></textarea>
                        </div>
                        <div class="col-2 col-s-12">
                            <span data-th-text="#{core.user.roles}" class="font-weight-bold"></span>
                        </div>
                        <div class="col-10 col-s-12">
                            <div class="overflow-y-scroll border-1" style="max-height:calc(40rem - 2px);">
                                <table class="width-100 border-0">
                                    <colgroup>
                                        <col style="width:70px;"/>
                                        <col/>
                                        <col/>
                                        <col style="width:35px;"/>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th data-th-text="#{web.text.no}" class="text-align-center"></th>
                                        <th data-th-text="#{core.role.id}"></th>
                                        <th data-th-text="#{core.role.name}"></th>
                                        <th class="text-align-center">
                                            <button onclick="addUserRole();">
                                                <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-duice-bind="user.roles" data-duice-loop="role,status">
                                        <td data-duice-bind="status" data-duice-property="count"
                                            class="text-align-center"></td>
                                        <td data-duice-bind="role" data-duice-property="id"
                                            class="font-weight-bold"></td>
                                        <td data-duice-bind="role" data-duice-property="name"></td>
                                        <td class="text-align-center">
                                            <button data-duice-bind="role"
                                                    data-duice-script="this.dataset.index=status.index;"
                                                    onclick="removeUserRole(this.dataset.index);">
                                                <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr data-duice-bind="user.roles"
                                        data-duice-script="if(user.roles.length === 0) this.hidden=false;"
                                        hidden>
                                        <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="container margin-1px">
                        <div class="col-12 justify-right">
                            <button onclick="changeUserPassword();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-password.svg}"/>
                                <span data-th-text="#{web.text.changePassword}"></span>
                            </button>
                            <button onclick="generateUserAccessToken();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-token.svg}"/>
                                <span data-th-text="#{web.text.authorizationToken}"></span>
                            </button>
                            <button onclick="deleteUser();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}"/>
                                <span data-th-text="#{web.text.delete}"></span>
                            </button>
                            <button onclick="saveUser();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_USER_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-save.svg}"/>
                                <span data-th-text="#{web.text.save}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- roleSelect -->
    <dialog id="roleSelect">
        <style>
            #roleSelect {
                width: 700px;
                padding: 1.5rem;
            }
        </style>
        <script>
            const roleSelect = {
                dialog: new duice.dialog.Dialog(document.getElementById('roleSelect')),
                alreadySelectedRoleIds : null,
                roleSearch: new duice.ObjectProxy({
                    key: 'id',
                    value: null,
                    _page: 0,
                    _size: 5,
                    _count: 0
                }),
                roles: new duice.ArrayProxy([]),
                selectedRoles: new duice.ArrayProxy([]),
                /**
                 * open
                 * @param alreadySelectedRoleIds
                 */
                open: async function(alreadySelectedRoleIds) {
                    if(alreadySelectedRoleIds) {
                        this.alreadySelectedRoleIds = alreadySelectedRoleIds;
                    }else{
                        this.alreadySelectedRoleIds = [];
                    }
                    duice.ArrayProxy.clear(this.selectedRoles);
                    this.getRoles(0);
                    return this.dialog.open();
                },
                /**
                 * getRoles
                 * @param page
                 */
                getRoles: function(page) {
                    if(page) {
                        this.roleSearch._page = page;
                    }
                    let url = new URL('[[@{/admin/user/get-roles}]]',document.location.origin);
                    if(this.roleSearch.key && this.roleSearch.value) {
                        url.searchParams.append(this.roleSearch.key, this.roleSearch.value);
                    }
                    url.searchParams.append('_page', this.roleSearch._page);
                    url.searchParams.append('_size', this.roleSearch._size);
                    _fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        duice.ArrayProxy.clear(this.roles);
                        duice.ArrayProxy.assign(this.roles, data.content);
                        this.roleSearch._count = data.totalElements;
                        // check already selected
                        this.roles.forEach(role => {
                            if(this.alreadySelectedRoleIds.includes(role.id)){
                                role['_selected'] = true;
                            }
                            this.selectedRoles.forEach(element => {
                                if(element.id === role.id) {
                                    role['_selected'] = true;
                                }
                            });
                        });
                    });
                },
                /**
                 * resetRoles
                 */
                resetRoles: function() {
                    duice.ObjectProxy.reset(this.roleSearch);
                    this.getRoles();
                },
                /**
                 * select role
                 * @param index
                 */
                selectRole: function(index) {
                    console.log('== index', index);
                    let role = JSON.parse(JSON.stringify(this.roles[index]));
                    this.selectedRoles.push(role);
                    this.roles.forEach(element => {
                        if(element.id === role.id) {
                            element['_selected'] = true;
                            return false;
                        }
                    });
                },
                /**
                 * deselect role
                 * @param index
                 */
                deselectRole: async function(index) {
                    let role = this.selectedRoles[index];
                    this.selectedRoles.splice(index, 1);
                    this.roles.forEach(element => {
                        if(element.id === role.id) {
                            element['_selected'] = false;
                            return false;
                        }
                    });
                },
                /**
                 * confirm
                 */
                confirm: function() {
                    this.dialog.resolve(this.selectedRoles);
                }
            }
        </script>
        <h2>
            <img class="icon" th:src="@{/static/image/icon-role.svg}"/>
            <span data-th-text="#{core.role}"></span>
        </h2>
        <hr/>
        <div class="container gap-1px margin-1px">
            <form onsubmit="return false;" class="col-12 container gap-1px">
                <select data-duice-bind="roleSelect.roleSearch" data-duice-property="key" class="col-1">
                    <option value="id" th:text="#{core.role.id}"></option>
                    <option value="name" th:text="#{core.role.name}"></option>
                </select>
                <input type="text" data-duice-bind="roleSelect.roleSearch" data-duice-property="value" class="col-2"/>
                <button onclick="roleSelect.getRoles();" class="col-1">
                    <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                    <span data-th-text="#{web.text.search}">Search</span>
                </button>
                <button onclick="roleSelect.resetRoles();" class="col-1">
                    <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                    <span data-th-text="#{web.text.reset}">Reset</span>
                </button>
            </form>
        </div>
        <div class="overflow-x-scroll border-1">
            <table class="border-0">
                <colgroup>
                    <col style="width:70px;"/>
                    <col style="width:30%;"/>
                    <col/>
                    <col style="width:35px;"/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.text.no}" class="text-align-center"></th>
                    <th data-th-text="#{core.role.id}"></th>
                    <th data-th-text="#{core.role.name}"></th>
                    <th class="text-align-center">-</th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="roleSelect.roles" data-duice-loop="role,status">
                    <td data-duice-bind="status" data-duice-property="count" class="text-align-center"></td>
                    <td data-duice-bind="role" data-duice-property="id" class="font-weight-bold"></td>
                    <td data-duice-bind="role" data-duice-property="name"></td>
                    <td class="text-align-center">
                        <button data-duice-bind="role"
                                data-duice-script="
                            this.dataset.index = status.index;
                            if(role._selected) {
                                this.disabled = true;
                            }"
                                onclick="roleSelect.selectRole(this.dataset.index);">
                            <img class="icon" th:src="@{/static/image/icon-add.svg}"/>
                        </button>
                    </td>
                </tr>
                <tr data-duice-bind="roleSelect.roles"
                    data-duice-script="if(roleSelect.roles.length === 0) this.hidden=false;" hidden>
                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="col-4"></div>
            <div class="col-4 justify-center">
                <duice-pagination
                    data-duice-bind="roleSelect.roleSearch"
                    data-duice-size-property="_size"
                    data-duice-page-property="_page"
                    data-duice-count-property="_count"
                    data-duice-onclick="roleSelect.getRoles(this.dataset.page);">
                </duice-pagination>
            </div>
            <div class="col-4 justify-right">
                <span data-th-text="#{web.text.total}"></span>
                <span data-duice-bind="roleSelect.roleSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                <span data-th-text="#{web.text.rows}"></span>
            </div>
        </div>
        <div class="border-1 overflow-x-scroll">
            <table class="border-0">
                <colgroup>
                    <col style="width:70px;"/>
                    <col style="width:30%;"/>
                    <col/>
                    <col style="width:35px;"/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.text.no}" class="text-align-center"></th>
                    <th data-th-text="#{core.role.id}"></th>
                    <th data-th-text="#{core.role.name}"></th>
                    <th class="text-align-center">-</th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="roleSelect.selectedRoles" data-duice-loop="role,status">
                    <td data-duice-bind="status" data-duice-property="count" class="text-align-center"></td>
                    <td data-duice-bind="role" data-duice-property="id" class="font-weight-bold"></td>
                    <td data-duice-bind="role" data-duice-property="name"></td>
                    <td class="text-align-center">
                        <button data-duice-bind="role"
                                data-duice-script="this.dataset.index = status.index;"
                                onclick="roleSelect.deselectRole(this.dataset.index);">
                            <img class="icon" th:src="@{/static/image/icon-remove.svg}"/>
                        </button>
                    </td>
                </tr>
                <tr data-duice-bind="roleSelect.selectedRoles"
                    data-duice-script="if(roleSelect.selectedRoles.length === 0) this.hidden=false;" hidden>
                    <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container padding-1px">
            <div class="col-12 justify-right">
                <button onclick="roleSelect.confirm();">
                    <img class="icon" th:src="@{/static/image/icon-confirm.svg}"/>
                    <span data-th-text="#{web.text.confirm}"></span>
                </button>
            </div>
        </div>
    </dialog>

    <!-- password change -->
    <dialog id="passwordChange">
        <style>
            #passwordChange {
                width: 400px;
                padding: 1.5rem;
            }
        </style>
        <script>
            const passwordChange = {
                dialog: new duice.dialog.Dialog(document.getElementById('passwordChange')),
                data: new duice.ObjectProxy({
                    id: null,
                    password: null,
                    passwordConfirm: null
                }),
                /**
                 * open
                 * @param id user id
                 */
                open: async function(id) {
                    duice.ObjectProxy.clear(this.data);
                    this.data.id = id;
                    return this.dialog.open();
                },
                /**
                 * confirm
                 */
                confirm: async function() {

                    // checks password
                    if (_isEmpty(this.data.password)) {
                        await _alert('[[#{web.message.itemEmpty(#{core.user.password})}]]');
                        duice.ObjectProxy.focus(this.data, 'password');
                        return false;
                    }
                    if (_isEmpty(this.data.passwordConfirm)) {
                        await _alert('[[#{web.message.itemEmpty(#{core.user.password})}]]');
                        duice.ObjectProxy.focus(this.data, 'passwordConfirm');
                        return false;
                    }
                    if (this.data.password !== this.data.passwordConfirm) {
                        await _alert('[[#{web.message.itemNotMatch(#{core.user.password})}]]');
                        duice.ObjectProxy.focus(this.data, 'password');
                        return false;
                    }

                    // call save
                    _confirm('[[#{web.message.saveItemConfirm(#{core.user.password})}]]').then(result => {
                        if (result) {
                            let url = new URL('[[@{/admin/user/change-password}]]', document.location.origin);
                            _fetch(url, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(this.data)
                            }).then(response => {
                                if (response.ok) {
                                    _alert('[[#{web.message.saveItemComplete(#{core.user.password})}]]').then(() => {
                                        this.dialog.resolve(true);
                                    });
                                }
                            });
                        }
                    });
                }
            }
        </script>
        <h2>
            <img class="icon" th:src="@{/static/image/icon-password.svg}"/>
            <span data-th-text="#{web.text.changePassword}"></span>
        </h2>
        <div class="container gap-1px padding-1px">
            <div class="col-4">
                <span data-th-text="#{core.user.password}" class="font-weight-bold tag-required"></span>
            </div>
            <div class="col-8">
                <input type="password" data-duice-bind="passwordChange.data" data-duice-property="password" class="width-100"/>
            </div>
            <div class="col-4">
                <span data-th-text="#{core.user.password}" class="font-weight-bold tag-required"></span>(*)
            </div>
            <div class="col-8">
                <input type="password" data-duice-bind="passwordChange.data" data-duice-property="passwordConfirm" class="width-100"/>
            </div>
        </div>
        <div class="container padding-1px">
            <div class="col-12 justify-right">
                <button onclick="passwordChange.confirm();">
                    <img class="icon" th:src="@{/static/image/icon-confirm.svg}"/>
                    <span data-th-text="#{web.text.confirm}"></span>
                </button>
            </div>
        </div>
    </dialog>

    <!-- loginHistoryTabContent -->
    <div id="loginHistoryTabContent" class="container gap-column-1rem gap-row-1rem">
        <div class="col-12">
            <!-- list of login history -->
            <div class="container">
                <div class="col-12">
                    <div class="container gap-1px margin-1px">
                        <form onsubmit="return false;" class="col-6 container gap-1px">
                            <select data-duice-bind="loginHistorySearch" data-duice-property="key" class="col-1 col-s-4">
                                <option value="userId" th:text="#{core.loginHistory.userId}"></option>
                                <option value="ipAddress" th:text="#{core.loginHistory.ipAddress}"></option>
                            </select>
                            <input type="text" data-duice-bind="loginHistorySearch" data-duice-property="value"
                                   th:placeholder="#{web.text.keyword}" class="col-2 col-s-8"/>
                            <button onclick="getLoginHistories();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                                <span data-th-text="#{web.text.search}">Search</span>
                            </button>
                            <button onclick="resetLoginHistories();" class="col-1 col-s-12">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                                <span data-th-text="#{web.text.reset}">Reset</span>
                            </button>
                        </form>
                    </div>
                    <div class="overflow-x-auto border-1">
                        <table class="border-0">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.text.no}" class="text-align-center"></th>
                                <th data-th-text="#{core.loginHistory.userId}"></th>
                                <th data-th-text="#{core.loginHistory.loginDateTime}"></th>
                                <th data-th-text="#{core.loginHistory.ipAddress}"></th>
                                <th data-th-text="#{core.loginHistory.userAgent}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="loginHistories" data-duice-loop="loginHistory,status">
                                <td data-duice-bind="status" data-duice-property="count" class="text-align-center"></td>
                                <td data-duice-bind="loginHistory" data-duice-property="userId" class="font-weight-bold"></td>
                                <td data-duice-bind="loginHistory" data-duice-property="loginDateTime" class="font-weight-bold"></td>
                                <td data-duice-bind="loginHistory" data-duice-property="ipAddress"></td>
                                <td data-duice-bind="loginHistory" data-duice-property="userAgent"></td>
                            </tr>
                            <tr data-duice-bind="loginHistories" data-duice-script="if(loginHistories.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align-center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="col-4"></div>
                        <div class="col-4 justify-center">
                            <duice-pagination
                                    data-duice-bind="loginHistorySearch"
                                    data-duice-size-property="_size"
                                    data-duice-page-property="_page"
                                    data-duice-count-property="_count"
                                    data-duice-onclick="getLoginHistories(this.dataset.page);">
                            </duice-pagination>
                        </div>
                        <div class="col-4 justify-right">
                            <span data-th-text="#{web.text.total}"></span>
                            <span data-duice-bind="loginHistorySearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                            <span data-th-text="#{web.text.rows}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>