<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script>
        const userSearch = new duice.ObjectProxy({
            key: null,
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        const users = new duice.ArrayProxy([]);

        function getUsers() {
            let url = new URL("[[@{/admin/user/get-users}]]", document.location.origin);
            if (userSearch.key && userSearch.value) {
                url.searchParams.append(userSearch.key, userSearch.value);
            }
            duice.fetch(url)
                .then(async response => {
                    let json = await response.json();
                    duice.ArrayProxy.assign(users, json.content);
                    console.log(json.totalElements);
                    userSearch._count = json.totalElements;
                });
        }

        document.addEventListener('DOMContentLoaded',()=> {
            let tabFolder = duice.tabFolder(
                duice.tabItem(document.getElementById('userTabButton'), document.getElementById('userTabContent'), () => {
                    getUsers();
                }),
                duice.tabItem(document.getElementById('roleTabButton'), document.getElementById('roleTabContent'), () => {
                    //getUsers();
                }),
                duice.tabItem(document.getElementById('authorityTabButton'), document.getElementById('authorityTabContent'), () => {
                    //getUsers();
                })
            );
            tabFolder.setActive(0);
        });
    </script>
    <h1>
        <img th:src="@{/static/image/icon-user.png}"/>
        Property
    </h1>
    <div>
        <span id="userTabButton">
            User
        </span>
        <span id="roleTabButton">
            Role
        </span>
        <span id="authorityTabButton">
            Authority
        </span>
    </div>
    <!-- userTabContent -->
    <div id="userTabContent">
        <div class="row">
            <div class="col">
                <form onsubmit="return false;">
                    <select data-duice-object="userSearch" data-duice-user="key">
                        <option value>- Search Key -</option>
                        <option value="id">id</option>
                        <option value="name">name</option>
                    </select>
                    <input type="text" data-duice-object="userSearch" data-duice-user="value"/>
                    <button onclick="getUsers();">
                        <img class="icon" th:src="@{/static/image/icon-search.png}"/>
                        <span>Search</span>
                    </button>
                    <button onclick="reset();">
                        <img class="icon" th:src="@{/static/image/icon-reset.png}"/>
                        <span>Reset</span>
                    </button>
                </form>
            </div>
            <div class="col">
                <button onclick="">
                    <img class="icon" th:src="@{/static/image/icon-create.png}"/>
                    <span>Create</span>
                </button>
            </div>
        </div>
        <table>
            <colgroup>
                <col style="width:100px;"/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col style="width:70px;"/>
            </colgroup>
            <thead>
            <tr>
                <th>No</th>
                <th data-th-text="#{core.user.username}"></th>
                <th data-th-text="#{core.user.nickname}"></th>
                <th data-th-text="#{core.user.type}"></th>
                <th>Status</th>
                <th>Roles</th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            <tr data-duice-array="users" data-duice-loop="user,status">
                <td data-duice-object="status" data-duice-property="count" class="ta-center"></td>
                <td data-duice-object="user" data-duice-property="username"></td>
                <td data-duice-object="user" data-duice-property="nickname"></td>
                <td><span data-duice-object="user" data-duice-property="type"></span></td>
                <td><span data-duice-object="user" data-duice-property="status"></span></td>
                <td><span></span></td>
                <td class="ta-center">
                    <button>
                        <img class="icon" th:src="@{/static/image/icon-detail.png}"/>
                        <span>Detail</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <duice-pagination
                        data-duice-object="userSearch"
                        data-duice-size-property="_size"
                        data-duice-page-property="_page"
                        data-duice-count-property="_count"
                        data-duice-onclick="getUsers(this.dataset.page);">
                </duice-pagination>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <!-- roleTabContent -->
    <div id="roleTabContent">
        roleTabContent
    </div>
    <!-- authorityTabContent -->
    <div id="authorityTabContent">
        authorityTabContent
    </div>

</main>