<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_admin.html">
<main layout:fragment="_main">
    <script>
        // variable search condition
        const variableSearch = new duice.ObjectProxy({
            key: 'variableId',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });

        // variable list
        const variables = new duice.ArrayProxy([]);

        // variable
        const variable = new duice.ObjectProxy({});
        duice.ObjectProxy.setDisableAll(variable, true);
        duice.ObjectProxy.onPropertyChanging(variable, async event => {
            if (event.getProperty() === 'variableId') {
                if (!await validateVariableId(event.getValue())) {
                    duice.ObjectProxy.focus(variable, 'variableId');
                    return false;
                }
            }
            return true;
        });

        /**
         * getVariables
         * @param page page
         */
        function getVariables(page) {
            if(page) {
                variableSearch._page = page;
            }
            let url = new URL("[[@{/admin/variable/get-variables}]]", document.location.origin);
            if (variableSearch.key && variableSearch.value) {
                url.searchParams.append(variableSearch.key, variableSearch.value);
            }
            url.searchParams.append('_page', variableSearch._page);
            url.searchParams.append('_size', variableSearch._size);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.clear(variables);
                    duice.ArrayProxy.assign(variables, data.content);
                    variableSearch._count = data.totalElements;

                    // select current item
                    duice.ArrayProxy.selectItem(variables, variables.findIndex(item => item.variableId === variable.variableId));
                });
        }

        /**
         * resetVariables
         */
        function resetVariables() {
            duice.ObjectProxy.reset(variableSearch);
            getVariables();
        }

        /**
         * getVariable
         * @param variableId variable.variableId
         */
        function getVariable(variableId) {
            let url = new URL('[[@{/admin/variable/get-variable}]]', document.location.origin);
            url.searchParams.append('variableId', variableId);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(variable, data);
                    duice.ObjectProxy.setDisableAll(variable, false);
                    duice.ObjectProxy.setReadonly(variable, 'variableId', true);
                    variable._new = false;
                });
        }

        /**
         * createVariable
         */
        function createVariable() {
            duice.ObjectProxy.clear(variable);
            duice.ObjectProxy.assign(variable, {
                _new: true
            });
            duice.ObjectProxy.setDisableAll(variable, false);
            duice.ObjectProxy.setReadonly(variable, 'variableId', false);
            duice.ObjectProxy.focus(variable, 'variableId');
        }

        /**
         * validateVariableId
         * @param variableId variable.variableId
         * @returns {Promise<boolean>}
         */
        async function validateVariableId(variableId) {

            // check blank
            if (!variableId) {
                await _alert('[[#{web.global.itemEmpty(#{core.variable.Variable.variableId})}]]');
                duice.ObjectProxy.focus(variable, 'variableId');
                return false;
            }

            // check duplicated id
            let url = new URL('[[@{/admin/variable/get-variable}]]', document.location.origin);
            url.searchParams.append('variableId', variableId);
            let response = await _fetch(url, {}, true);
            if (response.ok) {
                let variable = await response.json();
                if (variable) {
                    await _alert('[[#{web.global.itemAlreadyExist(#{core.variable.Variable.variableId})}]]');
                    return false;
                }
            }

            // return true
            return true;
        }

        /**
         * saveVariable
         */
        async function saveVariable() {

            // if new, checks id
            if (variable._new) {
                if (!await validateVariableId(variable.variableId)) {
                    return false;
                }
            }

            // checks name
            if (!variable.name || variable.name.trim().length < 1) {
                await _alert('[[#{web.global.itemEmpty(#{core.variable.Variable.name})}]]');
                duice.ObjectProxy.focus(variable, 'name');
                return false;
            }

            // call save
            _confirm('[[#{web.global.saveItemConfirm(#{core.variable.Variable})}]]').then(result => {
                if (result) {
                    let url = new URL('[[@{/admin/variable/save-variable}]]', document.location.origin);
                    _fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(variable)
                    }).then(response => {
                        if (response.ok) {
                            _alert('[[#{web.global.saveItemComplete(#{core.variable.Variable})}]]').then(() => {
                                getVariables();
                                getVariable(variable.variableId);
                            });
                        }
                    });
                }
            });
        }

        /**
         * deleteVariable
         */
        function deleteVariable() {
            _confirm('[[#{web.global.deleteItemConfirm(#{core.variable.Variable})}]]').then(result => {
                if (result) {
                    let url = new URL('[[@{/admin/variable/delete-variable}]]', document.location.origin);
                    url.searchParams.append('variableId', variable.variableId);
                    _fetch(url).then(response => {
                        if (response.ok) {
                            _alert('[[#{web.global.deleteItemComplete(#{core.variable.Variable})}]]').then(() => {
                                getVariables();
                                duice.ObjectProxy.clear(variable);
                            });
                        }
                    })
                }
            });
        }

        // DOM content loaded listener
        document.addEventListener('DOMContentLoaded',()=> {
            getVariables();
        });
    </script>
    <h1>
        <img class="icon" th:src="@{/static/image/icon-variable.svg}"/>
        <span data-th-text="#{web.admin.variable}"></span>
    </h1>
    <div class="container gap-column-1rem gap-row-1rem">
        <div class="item-6 s-item-12">
            <!-- list of variable -->
            <div class="container border-1 padding-1rem">
                <div class="item-12">
                    <div class="container padding-1px">
                        <div class="item-8">
                            <h2>
                                <img class="icon" th:src="@{/static/image/icon-list.svg}"/>
                                <span data-th-text="#{web.global.list}"></span>
                            </h2>
                        </div>
                        <div class="item-4 justify-right">
                            <button onclick="createVariable();" th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_VARIABLE_EDIT'')')}?'locked'">
                                <img class="icon" th:src="@{/static/image/icon-create.svg}"/>
                                <span data-th-text="#{web.global.create}"></span>
                            </button>
                        </div>
                    </div>
                    <div class="container gap-1px margin-1px">
                        <form onsubmit="return false;" class="item-12 container gap-1px">
                            <select data-duice-bind="variableSearch" data-duice-property="key" class="item-1 s-item-4">
                                <option value="variableId" th:text="#{core.variable.Variable.variableId}"></option>
                                <option value="name" th:text="#{core.variable.Variable.name}"></option>
                            </select>
                            <input type="text" data-duice-bind="variableSearch" data-duice-property="value"
                                   th:placeholder="#{web.global.keyword}" class="item-2 s-item-8"/>
                            <button onclick="getVariables();" class="item-1 s-item-12">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}"/>
                                <span data-th-text="#{web.global.search}">Search</span>
                            </button>
                            <button onclick="resetVariables();" class="item-1 s-item-12">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}"/>
                                <span data-th-text="#{web.global.reset}">Reset</span>
                            </button>
                        </form>
                    </div>
                    <div class="overflow-x-auto border-1">
                        <table class="border-0">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                                <th data-th-text="#{core.variable.Variable.variableId}"></th>
                                <th data-th-text="#{core.variable.Variable.name}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="variables" data-duice-loop="variable,status" data-duice-selected-item-class="selected" data-duice-execute="
                            this.dataset.variableId=variable.variableId;
                            " onclick="getVariable(this.dataset.variableId);" class="link">
                                <td data-duice-bind="status" data-duice-property="count"
                                    class="text-align-center"></td>
                                <td data-duice-bind="variable" data-duice-property="variableId"></td>
                                <td data-duice-bind="variable" data-duice-property="name"></td>
                            </tr>
                            <tr data-duice-bind="variables" data-duice-execute="if(variables.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align-center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="item-4"></div>
                        <div class="item-4 justify-center">
                            <duice-pagination
                                    data-duice-bind="variableSearch"
                                    data-duice-size-property="_size"
                                    data-duice-page-property="_page"
                                    data-duice-count-property="_count"
                                    data-duice-onclick="getVariables(this.dataset.page);">
                            </duice-pagination>
                        </div>
                        <div class="item-4 justify-right font-size-smaller">
                            <span data-th-text="#{web.global.total}"></span>
                            <span data-duice-bind="variableSearch" data-duice-property="_count"
                                  data-duice-format="number(0)"></span>
                            <span data-th-text="#{web.global.rows}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-6 s-item-12">
            <!-- variable detail -->
            <div class="container border-1 padding-1rem">
                <div class="item-12">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-open.svg}"/>
                        <span data-th-text="#{web.global.detail}"></span>
                    </h2>
                    <div class="container gap-1px gap-column-1rem">
                        <div class="item-2 s-item-12">
                            <span data-th-text="#{core.variable.Variable.variableId}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="item-4 s-item-12">
                            <input type="text" data-duice-bind="variable" data-duice-property="variableId"
                                   class="width-100 font-weight-bold"/>
                        </div>
                        <div class="item-2 s-item-12">
                            <span data-th-text="#{core.variable.Variable.name}" class="font-weight-bold tag-required"></span>
                        </div>
                        <div class="item-4 s-item-12">
                            <input type="text" data-duice-bind="variable" data-duice-property="name"
                                   class="width-100"/>
                        </div>
                        <div class="item-2 s-item-12">
                            <span data-th-text="#{core.variable.Variable.value}" class="font-weight-bold"></span>
                        </div>
                        <div class="item-10 s-item-12">
                            <textarea data-duice-bind="variable" data-duice-property="value" rows="4"
                                      class="width-100 height-100"></textarea>
                        </div>
                    </div>
                    <div class="container margin-top-1em">
                        <div class="item-12 justify-right">
                            <button onclick="deleteVariable();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_VARIABLE_EDIT'')')}?'locked'"
                                    data-duice-bind="variable"
                                    data-duice-execute="(variable.variableId && !variable._new) ? this.disabled=false : this.disabled=true;">
                                <img class="icon" th:src="@{/static/image/icon-delete.svg}"/>
                                <span data-th-text="#{web.global.delete}"></span>
                            </button>
                            <button onclick="saveVariable();"
                                    th:classappend="!${#authorization.expression('hasAuthority(''ADMIN_VARIABLE_EDIT'')')}?'locked'"
                                    data-duice-bind="variable"
                                    data-duice-execute="(variable.variableId || variable._new) ? this.disabled=false : this.disabled=true;">

                                <img class="icon" th:src="@{/static/image/icon-save.svg}"/>
                                <span data-th-text="#{web.global.save}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
