<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/nprogress/nprogress.css}">
    <script th:src="@{/static/nprogress/nprogress.js}"></script>
    <script th:src="@{'/static/duice/duice.js?version=' + ${_scriptVersion}}"></script>
    <script th:src="@{'/static/web.js?version=' + ${_scriptVersion}}"></script>
    <script>
        const _apiUrl = '[[@{/api}]]';
    </script>
</head>

<!-- header -->
<th:block th:include="|theme/${_theme}/_home.html| :: _header"/>

<!-- main -->
<main layout:fragment="_main"/>

<!-- footer -->
<th:block th:include="|theme/${_theme}/_home.html| :: _footer"/>

</html>
