<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title data-th-text="${_title}"></title>
    <link rel="icon" type="image/png" th:href="@{/static/image/favicon.png}" sizes="32x32"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/nprogress/nprogress.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/nprogress/nprogress.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/chartjs/chart.js?version={version}(version=${_scriptVersion})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/prism/prism.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/marked/marked.min.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/prism/prism.js?version={version}(version=${_scriptVersion})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/codemirror/codemirror.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/codemirror/codemirror.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/codemirror/mode/markdown/markdown.js?version={version}(version=${_scriptVersion})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/jsplumb/css/jsplumbtoolkit-defaults.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/jsplumb/dist/js/jsplumb.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/duice/duice.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/duice-extension/duice-extension.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/web.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        const _rootUrl = [[@{/}]].replace('/','');
        const _apiUrl = [[@{/api}]];
        const _isAuthenticated = [[${#authorization.expression('isAuthenticated()')}]];
        const _user = new duice.ObjectProxy({
            userId: [[${_user.userId}]],
            userName: [[${_user.userName}]],
            photo: [[${_user.photo}]]
        });
        const _locales = new duice.ArrayProxy([[${_locales}]]);
        const _menus = new duice.ArrayProxy([]);

        const _gotoIndex = function() {
            document.location.href = [[@{/}]];
        }

        const _gotoLogin = function() {
            document.location.href = [[@{/login}]];
        }

        const _gotoLogout = function() {
            document.location.href = [[@{/logout}]];
        }

        const _gotoJoin = function() {
            document.location.href = [[@{/join}]];
        }

        const _gotoUser = function() {
            document.location.href = [[@{/user}]];
        }

    </script>
    <!-- ============================================== -->
    <!-- start: fragment::_script                       -->
    <!-- ============================================== -->
    <th:block th:include="|_theme/${_theme}/_web_menuless.html| :: _script"/>
    <!-- ============================================== -->
    <!-- end: fragment::_script                         -->
    <!-- ============================================== -->
</head>
<body>
    <!-- ============================================== -->
    <!-- start: fragment::_header                       -->
    <!-- ============================================== -->
    <th:block th:replace="|_theme/${_theme}/_web_menuless.html| :: _header"/>
    <!-- ============================================== -->
    <!-- end: fragment::_header                         -->
    <!-- ============================================== -->

    <!-- ============================================== -->
    <!-- start: fragment::_content                      -->
    <!-- ============================================== -->
    <div layout:fragment="_content"></div>
    <!-- ============================================== -->
    <!-- end: fragment::_content                        -->
    <!-- ============================================== -->

    <!-- ============================================== -->
    <!-- end: fragment::_footer                         -->
    <!-- ============================================== -->
    <th:block th:replace="|_theme/${_theme}/_web_menuless.html| :: _footer"/>
    <!-- ============================================== -->
    <!-- end: fragment::_footer                         -->
    <!-- ============================================== -->
</body>
</html>
