<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/nprogress/nprogress.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/nprogress/nprogress.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/chartjs/chart.js?version={version}(version=${_scriptVersion})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/prism/prism.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/marked/marked.min.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/prism/prism.js?version={version}(version=${_scriptVersion})}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/simplemde/simplemde.min.css?version={version}(version=${_scriptVersion})}">
    <script th:src="@{/static/simplemde/simplemde.min.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/ckeditor/ckeditor.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/duice/duice.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/duice-plugin/duice-plugin.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:src="@{/static/web.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        const _rootUrl = [[@{/}]].replace('/','');
        const _apiUrl = [[@{/api}]];
        const _isAuthenticated = [[${#authorization.expression('isAuthenticated()')}]];
        const _user = [[${_user}]];
    </script>
</head>

<!-- header -->
<th:block th:include="|theme/${_theme}/_web.html| :: _header"/>

<!-- auto completion off -->
<div style="width:0; height:0; overflow:hidden;">
    <input type="text"/>
    <input type="password"/>
</div>

<!-- main -->
<main layout:fragment="_main"/>

<!-- footer -->
<th:block th:include="|theme/${_theme}/_web.html| :: _footer"/>

</html>
