name: Auto Release

on:
  push:
    tags:
      - '*'

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          node-version: '16'

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build and Test
        run: |
          ./gradlew clean bootDistZip -x test

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: build/libs/*.jar
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          body: |
            Release notes for version ${{ github.ref }}.

      - name: Upload Additional Files
        uses: actions/upload-artifact@v3
        with:
          path: |
            ${{ github.workspace }}/arch4j-web/build/distributions/

